#loginArea,
#noAccount {
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

#loginArea > div,
#loginArea form,
#noAccount div {
    padding: 20px 36px;
}

#loginArea form {
    padding-top: 10px;
}

#facebookLoginBtn {
    display: block;
    color: white;
    border-radius: 4px;
    text-align: center;
    width: 65%;
    margin: 16px auto;
    padding: 9px 0;
    font-size: 18px;
    background: rgba(89,138,179,1);
    background: linear-gradient(to bottom, rgba(89,138,179,1) 0%, rgba(45,93,142,1) 100%);
    background: -moz-linear-gradient(top, rgba(89,138,179,1) 0%, rgba(45,93,142,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,138,179,1)), color-stop(100%,rgba(45,93,142,1)));
    background: -webkit-linear-gradient(top, rgba(89,138,179,1) 0%,rgba(45,93,142,1) 100%);
    background: -o-linear-gradient(top, rgba(89,138,179,1) 0%,rgba(45,93,142,1) 100%);
    background: -ms-linear-gradient(top, rgba(89,138,179,1) 0%,rgba(45,93,142,1) 100%);
    background: linear-gradient(to bottom, rgba(89,138,179,1) 0%,rgba(45,93,142,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(89,138,179,1)', endColorstr='rgba(45,93,142,1)',GradientType=0 );
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

#facebookLoginBtn:hover {
    text-decoration: none;
    cursor: pointer;
}

#loginArea > div {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#loginArea div:nth-of-type(3) {
    border: none;
    padding: 0;
}

#or-Wrap p {
    width: 40px;
    margin: 0 auto;
    background: white;
    border: none;
    padding: 0;
    position: relative;
    top: -10px;
    text-align: center;
}

#loginArea form div {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#loginArea form div input {
    display: block;
    width: 100%;
    padding: 14px 6px;
    box-sizing: border-box;
    margin-bottom: 18px;
}

#loginArea form a {
    display: inline-block;
    color: rgba(76,93,113,1);
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 6px;
}

#loginArea form button {
    float: right;
    width: 96px;
    height: 36px;
}

#noAccount h3 {
    display: inline-block;
}

#noAccount a {
    color: rgba(76,93,113,1);
    text-decoration: underline;
    cursor: pointer;
    font-size: 17px;
    margin-top: 24px;
    float: right;
}

