#login-page {
    margin-top: 5%;
}

#login-page #login span {
}

#login-page #login input {
    width: 120px;
}

#login-page #login button {
    margin-left: 10px;
}

#login-page #headline {
    line-height: 1.45;
    vertical-align: top;
    text-shadow: 1px 1px 2px #cccccc;
    text-align: center;
    font-size: 400%;
    margin-bottom: 30px;
}

#login-page #sub-heading {
    font-size: 200%;
}

#login-page form div {
    margin-bottom: 5px;
}

#login-page #va-search {
    text-align: center;
}

#login-page #va-search img {
    margin: 0;
    vertical-align: middle;
}

#login-page #va-search input {
    width: 200px;
    display: inline;
}

#login-page #va-search button {
    float: none;
    display: inline;
}

#login-page #va-search span {
    font-weight: bold;
    margin-left: 3px;
}

#login-page #invite, #register {
    text-align: center;
}

#login-page #backdrop {
    background-image: url(/Content/images/viblio-logo-blue-circle-dim.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 310px;
}
