#settings-page .content-Wrap {
    max-width: 768px;
}
#settings-page .igreyBottomBrdr {
    padding: 10px;
}
#settings-page i {
    font-size: 20px;
    margin-right: 8px;
}
#settings-page .avatar a {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#settings-page .account-info {
    border: 0;
}
#settings-page .account-info td {
    vertical-align: top;
}
#settings-page .account-info td.email-password {
    padding-left: 25px;
}

#settings-page .file-input-wrapper {
    width: 200px;
    height: 40px;
    overflow: hidden;
    position: relative;
}
#settings-page .file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
#settings-page .file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 200px;
    height: 40px;
}