/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2013, 12:11:12 PM
    Author     : Jesse
*/

/*Removes small space between main page and footer*/
.home #main {
    padding: 0px;
}

.kickstarter-Wrap {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -105px;
    color: rgb(133, 136, 143);
    font-size: 18px;
}

.kickstarter-Wrap-small a,
.kickstarter-Wrap a {
    color: rgb(133, 136, 143);
    font-size: 18px;
}

.kickstarter-Wrap-small {
    text-align: center;
    font-size: 18px;
    display: none;
    padding-bottom: 10px;
}

/* When nav bar is collapsed */
@media (max-width: 1060px) {
    .kickstarter-Wrap {
        display: none;
    }
    .kickstarter-Wrap-small {
        display: block;
        background-color: rgb(50, 53, 68)
    }    
}

.bxslider {
    visibility: hidden;
    max-height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.bx-wrapper {
    margin-bottom: 0;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: 0px;
    background: rgb(240, 85, 65);
    padding-bottom: 1.5%;
}

.bxslider li {
    background-color: rgb(240, 85, 65);
}

.tagline {
    background-color: rgb(50, 53, 68);
    //padding: 2% 0;
    border-bottom: 4px solid rgb(0, 0, 0);
    margin-bottom: 3%;
    height: 64px;
}

.bxslider img {
    margin: 0 auto;
}

.bx-wrapper .bx-pager {
    padding-top: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: white;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: lightgrey;
}

.bx-wrapper .bx-controls-direction a {
    background-color: rgb(50, 53, 68);
    position: absolute;
    top: 60%;
    margin-top: -16px;
    outline: 0;
    max-width: 7.5%;
    width: 54px;
    max-height: 20%;
    height: 90px;
    border-bottom: 3px solid black;
    text-indent: -9999px;
    z-index: 9999;
    cursor: pointer;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-prev:hover {
    left: 0;
    background: url(images/arrowLeft.png) no-repeat center;
    background-color: rgb(50, 53, 68);
}

.bx-wrapper .bx-next,
.bx-wrapper .bx-next:hover {
    right: 0;
    background: url(images/arrowRight.png) no-repeat center;
    background-color: rgb(50, 53, 68);
}

@media (max-width: 1060px) {
    .bx-prev,
    .bx-next {
        display: none;
    }
}

.mcform-wrap form {
    margin-top: 2%;
}

.MailChimp {
    max-width: 100%;
    width: 814px;
    margin: 0 auto;
}

.mc4wp-form .MInput input[type="email"] {
    width: 488px;
    height: 64px;
    font-size: 20px;
    text-align: center;
    float: left;
    border: none;
    border-bottom: 3px inset rgba(0,0,0,.2);
}

.mc4wp-form .DSubmit input[type="submit"] {
    font-size: 20px;
    padding: 0;
    width: 310px;
    height: 64px;
    float: right;
    border-radius: 0;
    background-color: rgb(28,184,209);
    border: none;
    border-bottom: 3px inset rgba(0,0,0,.2);
    text-shadow: none;
    box-shadow: none;
}

@media (max-width: 800px) {
    .mcform-wrap form {
        margin: 2% 20px;
    }
    
    .MailChimp > div {
        float: none;
    }
    
    .MailChimp input {
        width: 100%;
        display: block;
        margin: 5px auto;
    }
    
    .mc4wp-form .DSubmit input[type="submit"] {
        width: 100%;
        display: block;
        margin: 5px auto;    
    }
    
    .mc4wp-form .MInput input[type="email"] {
        width: 100%;
        display: block;
        margin: 5px auto;
    }
}

.wf-wrap {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.font22 {
    font-size: 22px;
}

.stripe {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    overflow: hidden;
}

.stripe.stripe-style-1, .stripe.stripe-style-2, .stripe.stripe-style-3 {
    border-bottom: 3px inset rgba(0,0,0,.2);
}

.stripe:last-of-type {
    border: none;
}

.share-wrap {
    width: 100%;
    text-align: center;
}

.share-wrap h2 {
    display: inline-block;
}

.addthis_toolbox {
    display: inline-block;
    margin-left: 30px;
    width: 140px;
}

#main .column-wrap h2 {
    -moz-text-shadow: 1px 1px rgba(0,0,0,.2);
    -webkit-text-shadow: 1px 1px rgba(0,0,0,.2);
    text-shadow: 1px 1px rgba(0,0,0,.2);
}

#bottom-bar {
    background-color: rgb(239, 239, 232);
}

.footer-wrap {
    width: 1000px;
}

.column-wrap {
    width: 1000px;
    margin: 40px auto 0;
}

@media (max-width: 1000px) {
    .column-wrap{
        width: 90%;
        margin: 40px auto 0;
    }
    .footer-wrap {
        width: 90%;
    }
}

textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: rgba(0,0,0,.3);
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    height: 40px;
    font-size: 17px;
}

.btn {
    display: block;
    margin: 0 auto;
    font-size: 17px;
    background-image: none;
    filter: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-repeat: no-repeat;
    border-color: transparent;
    border: none;
    color: white;
    -moz-text-shadow: 2px 2px rgba(0,0,0,.2);
    -webkit-text-shadow: 2px 2px rgba(0,0,0,.2);
    text-shadow: 2px 2px rgba(0,0,0,.2);
    border-bottom: 3px inset rgba(0,0,0,.2);
    padding: 8px 40px;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

.btn-primary:focus,
.btn-primary:active,
.btn:active,
.btn:hover {
    box-shadow: inset 0 0 0 50px rgba(0,0,0,.1);
}

.btn-primary {
    background-color: rgba(239,85,65,1);
}

/********************  Logged Out Tell Friends Modal Section  *****************************/

/* Make sure that the container the close x is used with has position:relative */
.closeX {
    color: white;
    padding: 8px 10px 3px;
    position: absolute;
    right: 10px;
    top: -4px;
    z-index: 1;
}

.closeX > img {
    max-height: 21px;
    max-width: 21px;
}

.mocksWhiteBG {
    background-color: white;
    border: 1px solid lightgrey;
}

.centeredEl {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.paddedDiv {
    padding: 27px 50px 40px;
}

.bottomBorder {
    border-bottom: 1px solid lightgrey;
}

.bottomBorder-Thick {
    border-bottom: 8px inset rgba(0,0,0,.1); 
}

.bigTitle {
    color: rgba(0,0,0,.6);
    font-size: 23px;
    font-weight: 600;
}

#loggedOutTellFriendsModal {
    width: 600px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#loggedOutTellFriendsForm .bigTitle {
    margin-bottom: 30px;
    margin-top: 10px;
}

#loggedOutTellFriendsForm .paddedDiv:first-of-type {
    padding-bottom: 10px;
}

#loggedOutTellFriendsModal form {
    margin: 0;
}

#loggedOutTellFriendsModal input,
#loggedOutTellFriendsModal textarea {
    width: 100%;
    margin-bottom: 20px;
}

#loggedOutTellFriendsModal textarea {
    height: 72px;
    max-width: 100%;
}

#loggedOutTellFriendsModal .btn {
    margin: 0;
}

button[disabled] {
    opacity: .65;
    cursor: default;
    box-shadow: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
.btn-secondary.disabled,
.btn-secondary[disabled],
.btn.disabled,
.btn[disabled] {
    box-shadow: none;
}

.fancybox-inner {
    height: auto;
}


