@import url("header.css");

.tomatoBG {
    color: white;
    background-color: #ef5541;
    border: 0;
    boarder-bottom: 1px solid #bf4434;
}

.secondaryBG {
    color: white;
    background-color: #24b8d1;
    border: 0;
    borader-bottom: 1px solid #318592;
}

.primaryBtn {
    background-color: #24b8d1;
    border: none;
    color: white;
    border-bottom: 3px solid rgba(0,0,0,.16);
    padding-top: 4px;
}

.primaryBtn:hover {
    background-color: #24b8d1;
    border: none;
    color: white;
    border-bottom: 5px solid rgba(0,0,0,.16);
    padding-top: 6px;
}

