<div id='forgotPassword-Wrap'>
    <div id="scrollMargin-Offset">
        <form class='iwhiteDropshadowBackground roundedCorners centeredEl'>
            <div class="igreyBottomBrdr">
                <h3>Forgot your Password?</h3>
                <p>No worries. Just enter your email and we'll send you instructions to reset it:</p>
                <input type="email" class="input-xlarge" data-bind="value: forgetEmail" placeholder="Email" />
            </div>

            <div>
                <button class="btn btn-primary iBtnSz" data-bind="click: send">
                    Send
                </button>
                <button class="btn btn-secondary iBtnSz" data-bind="click: cancel">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>