<div id='forgotPassword-Wrap'>
    <form class='span6 offset3'>
        <div>
            <h3>Forgot your Password?</h3>
            <p>No worries. Just enter your email and we'll send you instructions to reset it:</p>
            <input type="email" class="input-xlarge" data-bind="value: forgetEmail" placeholder="Email" />
        </div>
        
        <div>
            <button class="btn btn-primary" data-bind="click: send">
                Send
            </button>
            <button class="btn btn-secondary" data-bind="click: cancel">
                Cancel
            </button>
        </div>
    </form>
</div>