<div id="page-header">
  <div class="navbar navbar-fixed-top">
<!--    <div class="navbar-inner"> -->
      <a class="brand" href="#/landing">
	<img src="Content/images/logo-white-25.png" />
      </a>
      <ul class="nav" data-bind="foreach: router.visibleRoutes">
        <li data-bind="css: { active: isActive }">
          <a data-bind="attr: { href: hash }, html: name"></a>
        </li>
      </ul>
      <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
        <i class="icon-spinner icon-2x icon-spin"></i>
      </div>
      <ul class="nav pull-right">
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-bind="html: user().displayname">anonymous</span></a>
	  <ul class="dropdown-menu">
	    <li><a href="#/settings">Settings</a></li>
	    <li><a href="#">Get the App</a></li>
	    <li class="divider"></li>
	    <li><a href="#" data-bind="click: logout">Log Out</a></li>
	  </ul>
      </ul>
      <div class="nav avatar pull-right">
	<img style="display: block;" src="/services/user/avatar?uid=-&y=25" />
      </div>
<!--     </div> -->
  </div>
</div>
