<div id="landing-page">
        <div  class="container-fluid">
            
            <div class="row-fluid">
                <p id="headline" class="iv-text-color text-center">
                  Your videos deserve better.
                </p>
            </div>
            
            <div class="landingImage-Container row-fluid">
                <div class="landingImage-Wrap">
                    <div class="landingImage img-polaroid img-rounded">&nbsp;</div>
                    <p class="text-center">In the Cloud</p>
                </div>
                
                <div class="landingImage-Wrap">
                    <div class="landingImage img-polaroid img-rounded">&nbsp;</div>
                    <p class="text-center" >Magic Tag</p>
                </div>
                
                <div class="landingImage-Wrap">
                    <div class="landingImage img-polaroid img-rounded">&nbsp;</div>
                    <p class="text-center" >Organize</p>
                </div>              
            </div>
            
            <div class="row-fluid">
                <div style="text-align: center;" class="span12">
                    <button class="btn btn-primary btn-large">
                        Download Viblio Free!
                    </button>
                </div>
            </div>
            
        </div>
</div>
