<div id="landing-page">
  <div class="row">
    <p id="headline" class="iv-text-color text-center span12">
      Your videos deserve better.
    </p>
  </div>
  <div class="row">
    <div class="span2">&nbsp;</div>
    <div class="span2">
      <div style="width: 150px; height: 150px; background-color: #fff;" class="img-polaroid img-rounded">&nbsp;</div>
      <p class="text-center">In the Cloud</p>
    </div>
    <div class="span1">&nbsp;</div>
    <div class="span2">
      <div style="width: 150px; height: 150px; background-color: #fff;" class="img-polaroid img-rounded">&nbsp;</div>
      <p class="text-center" >Magic Tag</p>
    </div>
    <div class="span1">&nbsp;</div>
    <div class="span2">
      <div style="width: 150px; height: 150px; background-color: #fff;" class="img-polaroid img-rounded">&nbsp;</div>
      <p class="text-center" >Organize</p>
    </div>
    <div class="span2">&nbsp;</div>
  </div>
  <div class="row">
    <div style="text-align: center;" class="span12">
	<button class="btn btn-primary btn-large">
	  Download Viblio Free!
	</button>
    </div>
  </div>
</div>
