<div id="login-page">
    <div class="content-Wrap">
        
        <div id="loginArea" class="iwhiteDropshadowBackground roundedCorners centeredEl">
            <div class="igreyBottomBrdr">
                <h3>Log in to your Account</h3>
            </div>
            <div class="igreyBottomBrdr">
                <a id='facebookLoginBtn' data-bind="click: facebookAuthenticate"> Log in with Facebook </a>
            </div>
            <div id='or-Wrap'>
                <p>OR</p>
            </div>
            <form>
                <div class="centeredEl">
                    <span data-bind="css: { error: email_entry_error() }">
                        <input type="email" class="text" data-bind="value: email" placeholder="Email" />
                    </span>
                    <span data-bind="css: { error: password_entry_error() }">
                        <input type="password" class="text" data-bind="value: password" placeholder="Password" />
                    </span>
                    <a href="#/forgotPassword">Forgot Password?</a>
                    <button class="primaryBtn iBtnSz" data-bind="click: nativeAuthenticate">
                        Log In
                    </button>
                </div>
            </form>
        </div>

        <div id="noAccount-Wrap">
            <div id="noAccount" class="iwhiteDropshadowBackground roundedCorners centeredEl">
                <div>
                    <h3>Don't have an account?</h3>
                    <a href="">Download Viblio Free!</a>
                </div>
            </div>
        </div>
        
    </div>          
</div>
