<div id="shareVidModal" class="roundedCorners iwhiteDropshadowBackground">
    <div class="igreyBottomBrdr">
        <h3>Post a link to your Video</h3>
        <button>Facebook</button>
        <button>Twitter</button>
        <button>Google+</button>
        <button>Tumblr</button>
        <a href="">more...</a>
    </div>
    <form class="igreyBottomBrdr">
        <div class="centeredEl">
            <h3>Send a link by email</h3>
            <span data-bind="css: { error: shareEmail_entry_error() }">
                <input type="email" class="text" data-bind="value: shareVidEmail" placeholder="Type email addresses here" />
            </span>
            <span data-bind="css: { error: shareMessage_entry_error() }">
                <input type="text" class="text" data-bind="value: shareVidMessage" placeholder="Include a message (optional)" />
            </span>
            <button class="primaryBtn iBtnSz" data-bind="click: emailLink">
                Send
            </button>
        </div>
    </form>
    <form>
        <h3>Here's your link:</h3>
        <input id="shareLink" type="text" class="text" data-bind="value: shareLink" />
        <button class="secondaryBtn iBtnSz" data-bind="click: copyToClipboard">
            Copy
        </button>
    </form>
</div>