<div>

  <div data-bind="compose:'viewmodels/header'"></div>

  <div data-bind="modal_fancybox_flowplayer: {}">
    <div data-bind="foreach:media">
      <div data-bind="compose: $data"></div>
    </div>
  </div>

  <div style="clear: both;">
    <button class="btn" data-bind="click: toggleEditMode, html: edit_state"></button>
  </div>

  <div data-bind="if: edit_state() == 'Done'">
    <div>Selected Videos:</div>
    <div data-bind="foreach:media">
      <div data-bind="if: selected()">
	<div data-bind="html: media.uuid"></div>
      </div>
    </div>
  </div>
</div>
