.face img {
    width: 260px; height: 180px;
    cursor: pointer;
}

.face {
    width: 260px;
}

.face img {
    border: 1px solid white;
}

.face.selected img {
    border: 1px solid red;
}

.face .information {
    text-align: left;
}

.face .information .title {
    margin-left: 6px;
}

.face .information .aux {
    margin-right: 6px;
}

.face .icon-certificate {
    position: absolute;
    z-index: 1000;
    top: 2px;
    right: -9px;
    font-size: 31px;
    color: orange;
    -moz-text-shadow: 2px 2px rgba(0,0,0,.2);
    -webkit-text-shadow: 2px 2px rgba(0,0,0,.2);
    text-shadow: 2px 2px rgba(0,0,0,.2);
}

.face .appears-in {
    position: absolute;
    z-index: 1000;
    top: 7px;
    right: 1px;
    color: white;
    font-size: 14px;
}
