#forgotPassword-Wrap form {
    margin-top: 5%;
    padding: 36px 0;
    width: 600px;
    max-width: 100%;
    overflow: auto;
}

#forgotPassword-Wrap form div:first-of-type {
    padding-bottom: 20px;
}

#forgotPassword-Wrap form div {
    padding: 0 36px;
}

#forgotPassword-Wrap form div:last-of-type {
    padding-top: 20px;
}

#forgotPassword-Wrap h3 {
    margin-top: 0;
}

#forgotPassword-Wrap p {
    font-size: 18px;
}

#forgotPassword-Wrap input {
    margin-top: 16px;
    width: 70%;
    padding: 16px 6px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}

#forgotPassword-Wrap button:first-of-type {
    margin-right: 12px;
}