/*
  Standard page header 
*/
#page-header .navbar {
    background-color: white;
}
#page-header .brand {
    margin-left: 2px;
}
#page-header a {
    cursor: pointer;
}

#page-header .avatar {
    background-color: white;
    margin-top: 8px;
}
