#imapModal {
    position: relative;
}

#imapModal .map {
    width: 600px;
    height: 400px;
}

#imapModal .ui-resizable-s {
  bottom: 0;
}

#imapModal .ui-resizable-e {
  right: 0;
}

#imapModal .modal-body {
    max-height: none;
    padding-top: 40px;
}

#imapModal .help {
    display: none;
    position: absolute;
    top: 60px;
    left: 60px;
    width: 400px;
    height: 300px;
    overflow: scroll;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.2); 
    -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.2); 
    box-shadow:1px 1px 10px rgba(0,0,0,0.2);
}

#imapModal .help .emph {
    font-weight: bold;
    font-size: 120%;
    margin-right: 0.5em;
}

#imapModal .is-near div {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}