#magicTagModal .magic-face {
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#magicTagModal div.scrollingHotSpotRight,
#magicTagModal div.scrollingHotSpotLeft {
    min-width: 10%;
}

#magicTagModal td {
    vertical-align: top;
    align: left;
}

.ui-autocomplete { z-index:2147483647; }

#magicTagModal .is-same-as img {
    width: 40px;
    height: 40px;
    position: relative;
    float: left;
}

#magicTagModal .wrapper {
    width: 220px;
    position: relative;
}

#magicTagModal .is-same-as {
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
}

