div.map {
    background: #eee;
    height: 300px;
    position: relative;
}

div.map .controls {
    position: absolute;
    z-index: 99;
    left: 4px;
    top: 4px;
}

div.map .controls button {
    cursor: pointer;
    font-weight: bold;

    color: white;
    background-color: black;
    border: 1px solid white;
    border: 1px solid rgba(255,255,255,.3);

    line-height: 1.5em;
    margin: 0;
}

div.map .marker {
    display: inline-block;
}

div.map .marker a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background: #f00;
    padding: 5px;
}

div.map .marker i {
    font-size: 20px;
    color: red;
    cursor: pointer;
    -moz-text-shadow: 2px 2px rgba(0,0,0,.2);
    -webkit-text-shadow: 2px 2px rgba(0,0,0,.2);
    text-shadow: 2px 2px rgba(0,0,0,.2);
}

.map .popover {
    width: 180px;
}

.map .popover .popover-title {
}

.map .popover-content {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.map .popover-img {
}

.map .marker-display {
    width: 120px;
    visibility: hidden;
}

.map .marker-display .marker-image img {
    width: 120px;
    height: 68px;
}

.map .marker-display .marker-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
