
.sd-pscroll {
    height: 208px;
    width: 100%;
    position: relative;
}

.sd-pscroll .face {
    position: relative;
    float: left;
    display: block;
    width: 170px;
    margin-right: 25px;
}

.sd-pscroll .face {
    display: block;
    float: left;
    margin: 0 5px;
    border: none;
    padding: 5px;
    background: rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
