
.sd-pscroll {
    height: 196px;
    width: 100%;
    position: relative;
}

.sd-pscroll .face {
    position: relative;
    float: left;
    display: block;
    width: 170px;
    margin-right: 25px;
}

