.yir {
    padding: 35px 0 10px 45px;
    background-color: #d3d1c8;
}

.yir .title h2 {
    display: inline;
}

.yir .title button {
    margin-right: 45px;
}

.yir .title ul {
    display: inline;
}

.yir .title ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.yir .media-list {
    position: relative;
}

.yir .media-list .mediafile {
    float: left;
    margin-bottom: 30px;
    position: relative;
}

.yir .month-heading {
    margin-bottom: 10px;
}

.yir .month-heading .month-name {
    font-size: 20px;
    margin-right: 10px;
}

.yir .title span {
    margin-left: 10px;
    cursor: pointer;
}

.yir .title span.sel {
    font-weight: bold;
}
