body { font-family: "Segoe UI", Arial, sans-serif; }

.vup-banner {
    padding: 8px;
}

.vup-area {
    height: 200px;
    overflow: auto;
    border: 1px dashed black;
    padding: 8px;
}

.vup-filename-column {
    font-weight: bold;
}

/* progress bar */
.vup-file-progress-column span.bar {
    width: 0%;
    background-color: aliceblue;
    display: block;
    text-align: center;
}

.vup-files .vup-cancel-column a {
    color: #da4f49;
}

#dropzone {
    background: palegreen;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}