body { font-family: "Segoe UI", Arial, sans-serif; }

.vup-banner {
    padding: 8px;
}

/* dashed dropzone, with a fixed height and scrollable */
.vup-area {
    height: 200px;
    overflow: auto;
    border: 1px dashed black;
    padding: 8px;
}

/* dropzone effect */
.vup-area.hover {
    background: #ccc;
}

/* biold filenames */
.vup-filename-column {
    font-weight: bold;
}

/* progress bar */
.vup-file-progress-column span.bar {
    width: 0%;
    background-color: aliceblue;
    display: block;
    text-align: center;
}

/* red-ish cancel buttons */
.vup-files .vup-cancel-column a {
    color: #da4f49;
}

