<table>
  <tr>

    <td class="pp-info-left-column babyBlueBG">
      
      <div class="pp-info-title">
	<div id="title-desc">
	  <div data-bind="if: title_editable">
	    <div data-bind="liveEditor: title">
              <h3 class="view vidTitle" data-bind="click: title.edit, text: playing().title() || 'Click to edit title'"></h3>
              <div class="editTitle-Wrap">
                <input type="text" class="edit" data-bind="value: title, 
							   hasFocus: title.editing, 
							   event: { blur: function() { title.stopEditing(); title.save( playing(), playing().media(), 'mediaFile:TitleDescChanged' ) } }" />
              </div>  
            </div>
            <div data-bind="liveEditor: description">
              <p class="view vidDescription" data-bind="click: description.edit, text: description() || 'Click to edit description'"></p>
              <textarea class="edit editDescription" data-bind="value: description, 
								hasFocus: description.editing, 
								event: { blur: function() { description.stopEditing(); description.save( playing(), playing().media(), 'mediaFile:TitleDescChanged' ) } }"></textarea>
            </div>
	  </div>
	  <div data-bind="ifnot: title_editable">
	    <h3 data-bind="text: title()"></h3>
            <p data-bind="text: description()"></p>
	  </div>

	  <div class="comments-header lightBlueFont table">
            <div class="observer tableCell topAlign">
              <img class="boxShadowed" src="/services/user/avatar?uid=-&y=36" />
            </div>
            <p class="tableCell midAlign lightWeightFont">by <span class="heavyWeightFont" data-bind="html: user().displayname"></span></p>
            <p class="todays-date recording-date pull-right tableCell midAlign lightWeightFont" data-bind="text: formatted_date"></p>
          </div>

	</div>
      </div>

      <div id="comments">
	<div class="comment-header-wrap">
          <div class="comment-editor" data-bind="visible: can_leave_comments, liveEditor: usercomment">
            <p class="view vidDescription" data-bind="click: usercomment.edit, text:'Comment on this video...'"></p>
            <textarea class="edit editDescription" 
                      data-bind="value:usercomment,
				 hasFocus: usercomment.editing,
				 event: { blur: function() { usercomment.stopEditing(); usercomment.save(null, null, 'player:newcomment') } }"></textarea>
          </div>
	</div>

	<div class="all-comments" data-bind="visible: show_comments">
            <div class="comments-header lightBlueFont">
                <span class="tableCell midAlign" data-bind="visible: comments().length, text: comments().length ==1 ? '1 Comment' : comments().length + ' Comments'"></span>
                <div class="views pull-right centered tableCell topAlign">
                    <img src="css/images/viewsEye.png" />
                    <span data-bind="html: playing().media().eyes"></span>
                </div>    
            </div>
          <!-- ko foreach: comments -->
          <div class="comment" data-bind="if: comment.indexOf(' ') != -1 && comment != '' || comment.length < 20">
            <p class="comment-text bottomBorder-Thin" data-bind="html: comment"></p>
            <div class="comment-footer lightBlueFont">
              <p class="when pull-right" data-bind="text: when"></p>
              <p>by&nbsp;<span class="who heavyWeightFont" data-bind="text: who"></span></p>
            </div>
          </div>
          <!-- /ko -->
	</div>

      </div>
    </td>

    <td class="pp-info-right-column lightBlueBG">

      <div class="pp-info-faces-wrapper">
	<div class="pp-share">
	  <a class="btn btn-primary" href="#" data-bind="click: showShareVidModal">
            <i class="icon-share"></i> Share this Video!
	  </a>
	</div>
        <div class="pp-faces-box">
	  <!-- ko if: faces_fetched() && faces().length<1 -->
	  <div class="pp-no-faces">
	    <img src="css/images/avatar.png" alt="avatar" />
	  </div>
	  <!-- /ko -->
	  <!-- ko if: faces_fetched() && faces().length>0 -->
          <p class="whiteText centered font24 textShadowed lightWeightFont">Starring</p>
          <div class="needNamesLabel whiteBG centered">
              <span>These faces need names!</span>
          </div>
	  <!-- ko foreach: faces -->
	  <!-- ko compose: $data --><!-- /ko -->
	  <!-- /ko -->
	  <div class="clearfix"></div>
	  <!-- /ko -->
        </div>

	<div class="pp-no-faces pp-new-face" data-bind="if: faces_fetched">
	  <p class="textShadowed whiteText" data-bind="tag3:{mode:'inline',display:false,name:add_face_to_video,changed:add_face}, text:'Who else is in this video?'"></p>
	</div>

      </div>


    </td>

  </tr>
</table>
