<table class="boxShadowed" style="margin-bottom: 150px;">
  <tr>
    <td class="pp-tv-td">
      <div class="pp-tv-wrap playerOverlay-Wrap">
        <!-- ko if: showPlayerOverlay()==true && get_the_app_overlay_logic()==true -->
        <div class="videoOverlay" data-bind="click: hidePlayerOverlay">
          <div class="paddedDiv bottomBorder-Thin">
            <div id="cloudImage"></div>
            <p class="landingHeaderTitle"><span>Create your own </span>VIBLIO Video Library</p>
            <table class="overlayTable">
                <tbody>
                    <tr>
                        <td colspan="2" class="bottomBorder-Thin font20">Add</td>
                    </tr>
                    <tr class="overlayTableButtons">
                        <td data-bind="click: addVideos, clickBubble: false">
                            <div>
                                <i class="icon-film"></i><br>
                                <p>Videos</p>
                            </div>
                        </td>
                        <td class="addAlbumBtn" data-bind="click: addAlbum, clickBubble: false">
                            <div class="albumWrap">
                                <div class="albumOuter">
                                    <div class="albumInner">
                                        <i class="icon-picture innerAlbumIcon"></i>
                                    </div>
                                    <i class="icon-picture"></i>
                                </div>
                                <br>
                                <p>New Album</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--<span class="font18">
                Want faster uploads? Download the
                <a class="whiteText heavyWeightFont" href="/#getApp?from=web_player_overlay" data-bind="click: getApp, clickBubble: false">
                  VIBLIO App
                </a>
            </span>-->
          </div>
          <div class="button-Wrap">
            <button class="btn btn-white" data-bind="click: playAgain, clickBubble: false">
              <i class="icon-repeat"></i>  Watch this Video again
            </button>
          </div>
        </div>
        <!-- /ko -->
        <span data-bind="text: playerWidth"></span>
	<div class="pp-tv player"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <!-- ko compose: "pp/pp-lower.html" --><!-- /ko -->
    </td>
  </tr>
</table>
