<div class="pp-related-column-wrapper">

  <div class="pp-related-column-share orangeBG bottomBorder-Thin" data-bind="visible: map_location_editable()==true || nolocation()==false">
      <div class="pp-info-map-wrapper">
          <div id="geo" data-bind="style: {height: nolocation() ? '80px' : 'auto'}">
          <div id="geo-title" class="textShadowed">
            <span data-bind="visible: isNear() != 'Find in map' ">Near&nbsp;<span data-bind="text: isNear()"></span></span>
          </div>
          <div style="position: relative">
            <div id="geo-map" class="map boxShadowed" data-bind="css:{hideme: nolocation() == true}"></div>
            <div id="geo-map-reloc" data-bind="visible: map_location_editable, css:{hideme: nolocation() == true}">
              <button class="btn btn-blue" data-bind="click: relocate">Change Location</button>
            </div>
            <div id="geo-nomap" data-bind="visible: map_location_editable, css:{hideme: nolocation() == false}, click: showInteractiveMap">
              <img class="pull-left" src="css/images/mapMarker-Large.png" />
              <div class="whiteText font24 textShadowed doubleSpaced">
                  <span class="lightWeightFont">Coming soon:</span><br>
                  <span class="heavyWeightFont">Add to Map</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="pp-related-column-header">
    <span class="related-by pull-right">by...</span>
    <p class="relatedVideosTitle" class="textShadowed">Related Videos</p>
    <div class="clearfix"></div>
  </div>

  <div class="pp-related-column-related">
    <div class="pp-related-column-related-videos">
      <div class="no-related-videos" data-bind="if: mediafiles().length==0 && query_in_progress()==false">
        There are no related videos.
      </div>
      <!-- ko foreach: mediafiles -->
      <div data-bind="compose: $data"></div>
      <!-- /ko -->
      <div class="vstrip-query-in-progress" data-bind="visible: query_in_progress()">
        <i class="icon-spinner icon-spin active"></i>
      </div>
    </div>
  </div>

</div>
