<div class="font20 textShadowed lightWeightFont albumThumbTitle">
    <div data-bind="liveEditor: albumTitle, ifnot: ro">
        <div class="view heavyWeightFont" data-bind="click: albumTitle.edit, text: albumTitle() ? albumTitle() : 'Click to add album title', tooltip:{title:'Click to edit album title'}"></div>
        <div class="editAlbumTitle-Wrap">
            <input type="text" class="edit" data-bind="value: albumTitle, 
                                 hasFocus: albumTitle.editing, 
                                 event: { blur: function() { albumTitle.stopEditing(); albumTitle.save( $data, media(), 'album:name_changed' ) } }" />
        </div>  
    </div>
    <!-- ko if: ro -->
    <span class="heavyWeightFont" data-bind="text: albumTitle || 'No title'"></span>
    <!-- /ko -->
    <span>(<span data-bind="text: albumLength"></span> <span data-bind="text: videoOrVideos()"></span>)</span>
</div>
<div class="mediafile" data-bind="attr:{id:media().uuid}, css:{shared: shared_style}"">
    <div>
        <!-- ko if: noVideos -->
        <div class="albumOverlay">
            <p class="font18 textShadowed">There are no videos in this album. Please add videos before viewing it.</p>
        </div>
        <!-- /ko -->
        <button class="dbtn btn btn-danger clearfix" data-bind="click:mfdelete">delete</button>
        <a class="btn btn-primary media-shared-badge" alt="Album is Shared" title="Album is Shared" data-bind="visible: show_shared_badge, click:showShareMembers"><i class="fa fa-group"></i></a>
	<a class="btn btn-primary media-share-badge" alt="share" title="share" data-bind="visible: show_share_badge, click: share"><i class="fa fa-share"></i></a>
        <a class="mplay-icon pointer" data-bind="click:play">
            <i class="fa fa-play-circle"></i> 
        </a>
        <i class="fa fa-ok-sign"></i>
        <div style="position: relative; overflow: hidden;" class='pointer' data-bind="click:play">
            <img data-bind="attr:{src:image}" />
            <!-- ko if: shared_style -->
            <div class="sharedOwnerWrap">
                <img class="boxShadowed avatar" data-bind="attr: {src: owner_avatar}" />
                <span class="truncate" data-bind="text: owner_name"></span>
            </div>
            <!-- /ko -->
        </div>
        <div class="information">
            <div class="aux pull-right" title="View count"><i class="fa fa-eye-open"></i><br><span data-bind="text: albumViews">0</span></div>
	    <div class="view title truncate" data-bind="text: posterTitle() || 'No title'"></div>
        </div>
    </div>
</div>