<div class="albums">
  <table class="a-table">
    <tr>

      <td class="a-table-td a-table-left-td">
	<div class="a-wrapper a-left-wrapper lightGreyBG">
            <div class='extra' >
                <div class="a-header a-left-header marginB40">
                <p class="mainTitle textShadowed">Drag and Drop Videos</p>
              </div>

                <div class="dropdown pull-right" data-bind="if: hits() > 0">
                    <a class="btn btn-small btn-secondary dropdown-toggle" href="#" data-toggle="dropdown">Filter...</a>
                    <ul class="dropdown-menu" role="menu">
                      <!-- ko foreach: monthsLabels -->
                      <li>
                        <a data-bind="click: $parent.monthSelected.bind( $data, $parent ), 
                                      text: $data.label != 'Missing dates' ? $data.label.slice(0,3) + ' ' + $data.label.slice($data.label.length-4) : $data.label, 
                                      css:{sel: $data.selected()}"></a>
                      </li>
                      <!-- /ko -->
                      <li>
                        <a id="allVids" class="textShadowed" data-bind="click: showAllVideos, css:{sel: allVidsIsSelected()}">All Videos</a>
                      </li>
                    </ul>
                </div>

                <!-- ko if: !allVidsIsSelected() && !isActiveFlag() --> 
                <div class="month-heading textShadowed marginB10">
                    <span class="month-name heavyWeightFont font20" data-bind="text: selectedMonth()"></span>
                    <span class="num-videos lightWeightFont font20" data-bind="text: '(' + vidsInSelectedMonth() + ( vidsInSelectedMonth() == 1 ? ' video)' : ' videos)' )"></span>
                </div>
                <!-- /ko -->
                <!-- ko if: allVidsIsSelected() && !isActiveFlag() && hits() > 0 --> 
                <div class="month-heading textShadowed marginB10">
                    <span class="month-name heavyWeightFont font20">All Videos</span>
                    <span class="num-videos lightWeightFont font20" data-bind="text: '(' + hits() + ( hits() == 1 ? ' video)' : ' videos)' )"></span>
                </div>
                <!-- /ko -->    
            </div>
	             
            <div class="yir-inner" data-bind="if: !isActiveFlag() && hits() == 0">
              <div class="yirHeading-Wrap">
		<p class="mainTitle marginL45 textShadowed">Got any videos?</p>
		<p class="marginL45 font18" style="text-align: left;">We noticed you 
                  <span>don't have any videos yet.</span>&nbsp;
                  If you have some videos, why not add them to Viblio!
		</p>
		<button class="btn btn-primary marginL45" data-bind="click: goToUpload">Upload more videos &raquo;</button>
              </div>
	    </div>
            
            <div class="a-content a-left-content">
                <div class="media-list clearfix marginB20" data-bind="foreach: { data: $data.videos, as: 'm' }">
                    <!-- ko compose: m --><!-- /ko -->
                </div>

                <!-- ko if: isActiveFlag() -->
                <div class="mfLoader">
                  <i class="icon-spinner icon-5x icon-spin active"></i>
                  <p class='font18'>Loading...</p>
                </div>
                <!-- /ko -->
            </div>
            
	</div>
      </td>

      <td class="a-table-td a-table-right-td">
	<div class="a-wrapper a-right-wrapper lightBlueBG" style="position: relative;">
        <div class='extra'>    
            <img src="/css/images/dnd.png" style="position: absolute; top: 35px; left: -21px;" />
            <div class="a-header a-right-header">
                <a class="btn btn-white pull-right" data-bind="visible: no_albums()==false && !showShared(), click: newAlbum">
                    <i class="icon-plus-sign"></i> New Album
                </a>
                <p class="mainTitle textShadowed whiteText">Into Albums!</p>
            </div>
            <button class="btn btn-small btn-secondary pull-right marginT15" data-bind="click: function(data, event){ toggleShared() }, text: sharedLabel, css: {'active': showShared()}"></button>
        </div>
	  <div class="a-content a-right-content">

	    <div class="no-albums-wrapper" data-bind="visible: no_albums() && !showShared() || showShared() && sharedAlbums().length == 0">
	      <img src="/css/images/vidsToFolders.png" />
	      <p class="textShadowed">Albums keep your Videos organized and make sharing easy!</p>
	    </div>

            <!-- ko ifnot: showShared -->   
	    <!-- ko foreach: albums -->
	    <div class="a-drop-box" data-bind="highlightChange: !$root.no_albums">
              <div class="marginB10">
                <a class="a-drop-view pull-right font20" data-bind="click: $parent.viewAlbum">
                  <i class="icon-eye-open"></i>&nbsp;View
                </a>
                <div class="a-drop-name whiteText textShadowed font20" data-bind="liveEditor: name">
                    <a class="view vidTitle title" data-bind="click: name.edit, text: name() ? name() : 'Click to add title', tooltip:{title:'Click to edit name'}"></a>
                    <div class="editTitle-Wrap">
                        <div class="inputMirror" data-bind="text: name, visible: name.editing"></div>
                        <input type="text" class="edit" data-bind="value: name, 
                                                                   hasFocus: name.editing, 
                                                                   event: { blur: function() { name.stopEditing(); name.save( null, $data, 'album:name_changed' ) } }" />
                    </div>  
                </div>
                <span class="a-drop-number lightWeightFont font20">
                    <span>(</span><span data-bind="text: (media().length <= 0 ? '0' : media().length)"></span>
                    <span>video</span><span data-bind="if: media().length != 1">s</span><span>)</span>
                </span>
                <br>
                <!-- ko if: sharedWith() != 'This album is not shared' -->
                <span class="lightWeightFont font18" data-bind="click: $parent.showMembers, text: sharedWith"></span>
                <!-- /ko -->
                <!-- ko if: sharedWith() == 'This album is not shared' -->
                <span class="lightWeightFont font18" data-bind="text: sharedWith"></span>
                <!-- /ko -->
                <!-- ko if: shared() == 1 -->
                <button class="btn btn-small btn-secondary" data-bind="click: $parent.manageAlbum">Membership</button>
                <button class="btn btn-small btn-secondary" data-bind="click: $parent.unshareAlbum">Unshare</button>
                <!-- /ko -->
              </div>    
	      <div class="a-drop clearfix" data-bind="style:{width:$parent.drop_box_width},
					     droponable:{scope:'mediafile',hoverClass:'a-drop-about-to-drop',callback:$parent.albumDrop}">

		<div data-bind="css: { highlight: $root.no_albums }" class="a-instruction lightWeightFont fadeIn">
		  <i class="icon-share-alt"></i>&nbsp;Drop Videos Here
		</div>
		<!-- ko foreach: media -->
		<div class="a-poster fadeIn">
		  <img data-bind="attr:{src:media().views.poster.url}" />
		</div>
		<!-- /ko -->
	      </div>

	    </div>
	    <!-- /ko -->
            <!-- /ko -->
            
            <!-- ko if: showShared -->   
                <!-- ko foreach: sharedAlbums -->
                <div class="a-drop-box" data-bind="highlightChange: !$root.no_albums">
                  <div class="marginB10">
                    <a class="a-drop-view pull-right font20" data-bind="click: $parent.viewAlbum">
                      <i class="icon-eye-open"></i>&nbsp;View
                    </a>
                    <div class="a-drop-name whiteText textShadowed font20" data-bind="text: name"></div>
                    <span class="a-drop-number lightWeightFont font20">
                        <span>(</span><span data-bind="text: (media().length <= 0 ? '0' : media().length)"></span>
                        <span>video</span><span data-bind="if: media().length != 1">s</span><span>)</span>
                    </span>
                    <br>
                    <img class="boxShadowed avatar marginR10" data-bind="attr:{src: ownerAvatar}" />
                    <span class="lightWeightFont font20">Album by </span><span class="font20 heavyWeightFont" data-bind="text: ownerName"></span>
                  </div>    
                  <div class="a-drop clearfix" data-bind="style:{width:$parent.drop_box_width},
                                                 droponable:{scope:'mediafile',hoverClass:'a-drop-about-to-drop',callback:$parent.albumDrop}">

                    <div data-bind="css: { highlight: $root.no_albums }" class="a-instruction lightWeightFont fadeIn">
                      <i class="icon-share-alt"></i>&nbsp;Drop Videos Here
                    </div>
                    <!-- ko foreach: media -->
                    <div class="a-poster fadeIn">
                      <img data-bind="attr:{src:media().views.poster.url}" />
                    </div>
                    <!-- /ko -->
                  </div>
                </div>
                <!-- /ko -->
                <!-- ko if: sharedAlbums().length == 0 && !searching() -->
                <div class='whiteText font18 textShadowed'>It looks like you don't have any shared albums yet.</div>
                <!-- /ko -->
            <!-- /ko -->
            
	    <div class="a-searching whiteText" data-bind="visible: searching">
	      <i class="icon-spinner icon-spin active"></i>
	    </div>
	  </div>
	</div>
      </td>

    </tr>
  </table>
</div>
