<div class="albumListView bottomBorder-Thin">
    <div class="activeBlockout" data-bind="visible: showBlockout"></div>
    <div class="titleWrap">
        <p class="mainTitle textShadowed">My Albums</p>
    </div>
    <div class="scroller">
        <div class="wrapper">
            <ul class="tags-inner">
            <!-- ko foreach: albumsFilterLabels -->
                <li data-bind="click: $parent.albumFilterSelected.bind( $data, $parent ), clickBubble: false">
                    <a class="checkboxedLi" data-bind="css: { on: $data.selected() }">
                        <div class="itemActive-Wrap">
                            <div class="itemActive" data-bind="css: { on: $data.selected() }"></div>
                        </div>
                        <div class="tagLabel">
                            <span class="inline truncate" data-bind="text: $data.label, css:{sel: $data.selected()}"></span>
                            <!-- ko if: $data.shared -->
                            <span class="inline"> &mdash; </span> <img class="inline img-circle" data-bind="attr: {src: '/services/user/avatar?uid=' + $data.owner_uuid + '&y=20'}" alt="Album Owner Avatar"/>
                            <!-- /ko -->
                        </div>
                        <!--<div class="checkboxPadding"></div>
                        <div class="checkbox-Wrap" data-bind="if: $data.selected()">
                            <i class="icon-check"></i>
                        </div>
                        <div class="checkbox-Wrap" data-bind="ifnot: $data.selected()">
                            <i class="icon-unchecked"></i>
                        </div>-->
                    </a>
                </li>
            <!-- /ko -->
            </ul>    
        </div>                  
    </div>
</div>