<div class="albumListView bottomBorder-Thin">
    <div class="activeBlockout" data-bind="visible: showBlockout"></div>
    <div class="scroller">
        <div class="wrapper">
            <ul class="tags-inner">
                <li data-bind="click: showAllVideos, clickBubble: false">
                    <a class="checkboxedLi" data-bind="css: { on: allIsSelected() }">
                        <div class="itemActive-Wrap">
                            <div class="itemActive" data-bind="css: { on: allIsSelected() }"></div>
                        </div>
                        <div class="tagLabel truncate">
                            <span data-bind="css:{sel: allIsSelected()}">All Videos</span>
                        </div>
                    </a>
                </li>
                <li data-bind="click: getRecentVids, clickBubble: false">
                    <a class="checkboxedLi" data-bind="css: { on: recentIsSelected() }">
                        <div class="itemActive-Wrap">
                            <div class="itemActive" data-bind="css: { on: recentIsSelected() }"></div>
                        </div>
                        <div class="tagLabel truncate">
                            <span data-bind="css:{sel: recentIsSelected()}">Recent Videos</span>
                        </div>
                    </a>
                </li>
            <!-- ko foreach: albumsFilterLabels -->
                <li data-bind="click: $parent.albumFilterSelected.bind( $data, $parent ), clickBubble: false">
                    <a class="checkboxedLi" data-bind="css: { on: $data.selected() }">
                        <div class="itemActive-Wrap">
                            <div class="itemActive" data-bind="css: { on: $data.selected() }"></div>
                        </div>
                        <div class="tagLabel truncate">
                            <span data-bind="text: $data.label, css:{sel: $data.selected()}"></span>
                            <!-- ko if: $data.shared -->
                            <span class="inline"> &mdash; </span> <img class="inline img-circle" data-bind="attr: {src: '/services/user/avatar?uid=' + $data.owner_uuid + '&y=20'}" alt="Album Owner Avatar"/>
                            <!-- /ko -->
                        </div>
                    </a>
                </li>
            <!-- /ko -->
            </ul>    
        </div>                  
    </div>
</div>