<div id='betaReservedModal' class='mocksWhiteBG centeredEl'>
    <div class='closeX btn btn-primary' data-bind="click: closeModal"><img src='css/images/closeX.png'/></div>
    <div class="bottomBorder">
        <div class="centeredEl paddedDiv">
            <h2>We've reserved your spot!</h2>
            <p>We'll send you an email as soon as the Beta app is ready.</p>
        </div>
    </div>
    <div class="bottomBorder-Thick">
        <div class="centeredEl paddedDiv">
            <h3>Your friends can be in on this too!</h3>
            <ul class='shareIconList' data-bind="foreach: shareNetworks">
                <li>
                    <a data-bind="click: $parent.liked, attr: { href: url, class: 'shareIcon pop ' + addClass, title: 'Share this page on ' + name }" >
                        <img data-bind="attr: { src: 'css/images/shareIcons/' + imgName}"/>
                    </a>
                    <label data-bind="text: name"></label>
                </li>
                <!--<li>
                    <a>more...</a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
