<div id='betaReservedModal' class='mocksWhiteBG centeredEl'>
    <div class='closeX btn btn-primary' data-bind="click: closeModal"><img src='css/images/closeX.png'/></div>
    <div class="bottomBorder">
        <div class="centeredEl paddedDiv">
            <h2>We've reserved your spot!</h2>
            <p>We'll send you an email as soon as the Beta app is ready.</p>
        </div>
    </div>
    <div class="bottomBorder-Thick">
        <div class="centeredEl paddedDiv">
            <h3>Your friends can be in on this too!</h3>
            <ul id='shareIconList'>
                <li>
                    <div class='shareIcon fb'>
                        <img src='css/images/shareIcons/FBf.png'/>
                    </div>
                    <label>Facebook</label>
                </li>
                <li>
                    <div class='shareIcon twitter'>
                        <img src='css/images/shareIcons/twitter.png'/>
                    </div>
                    <label>Twitter</label>
                </li>
                <li>
                    <div class='shareIcon gPlus'>
                        <img src='css/images/shareIcons/gPlus.png'/>
                    </div>
                    <label>Google+</label>
                </li>
                <li>
                    <div class='shareIcon tumblr'>
                        <img src='css/images/shareIcons/tumblr.png'/>
                    </div>
                    <label>tumblr</label>
                </li>
                <li>
                    <a>more...</a>
                </li>
            </ul>
        </div>
    </div>
</div>