<div class="messageBox">
  <div class="modal-header">
    <button type="button" class="close" data-bind="click: dismiss" aria-hidden="true">&times;</button>
    <h3>Change Password</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset>
	<label for="p1">New Password</label>
	<input type="text" data-bind="value: p1" />
	<label for="p2">Confirm Password</label>
	<input type="text" data-bind="value: p2" />
      </fieldset>
    </form>
    <div class="alert alert-error mismatch" style="display: none;">
      The password fields must match.
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-bind="click: change">Change</button>
    <button class="btn" data-bind="click: dismiss">Cancel</button>
  </div>
</div>
