<div class="communities">
  <div class="no-comms" data-bind="if: comms().length == 0">
    <p>Communities make it easy for a group to share videos together.</p>
    <p class='centered'>It's easy to create a new Community</p>
    <ul>
      <li>Invite your family, teammates, class or other group</li>
      <li>Drag and drop videos you want to add to the cummunity page</li>
      <li>Other community members can do the same</li>
      <li>Create your own community view of the new video collection</li>
    </ul>
    <p>Try it!  We think you'll like it.</p>
    <button class="btn btn-primary" data-bind="click: new_comm">
      <i class="icon-plus"></i>
      CREATE A NEW COMMUNITY
    </button>
  </div>
</div>
