<div class="bannerImage-Wrap darkBlueBG">
    <div class="bannerImage">
        <div class="bannerEdit-Wrap" data-bind="tooltip: {title: 'Edit cover photo', placement: 'left'}">
            <div class="editIcon-Wrap">
                <i class="fa fa-pencil"></i>
            </div>
            <!--<div class="editButton">
                <i class="fa fa-pencil"></i> Edit cover photo
            </div>-->
            <input class="userCoverUpload" style="position: absolute; width:0; height:0; top:0; left:0; visibility:hidden;"  type="file" name="upload" data-url="/services/user/add_or_replace_banner_photo" /> 
            <input class="albumCoverUpload" style="position: absolute; width:0; height:0; top:0; left:0; visibility:hidden;"  type="file" name="upload" data-url="/services/album/add_or_replace_banner_photo" /> 
        </div>
        <!-- ko if: !backgroundImageUrl() -->
        <div class="stockBanner centered whiteText">
            <h2>Videos tell the best stories!</h2>
            <p class="stockTagLine">watch, share, extract photos, make mashups, learn connect!</p>
        </div>
        <!-- /ko -->    
    </div>
    
    <div class="bannerAvatar-Wrap">
        <div class="bannerAvatar">
            <img class="coverAvatar" data-bind="attr: {src: avatar}" />
            <div class="changeBannerAvatar-Outerwrap" data-bind="visible: !hideEdit() ">
                <div class="changeBannerAvatar-Wrap">
                    <i class="fa fa-camera textShadowed"></i>
                    <div class="changeBannerAvatar">Change Avatar</div>
                </div>
            </div>
        </div>
        <input style="position: absolute; width:0; height:0; top:0; left:0; visibility:hidden;" class="avatarUpload" type="file" name="upload" data-url="/services/user/add_or_replace_profile_photo" />
    </div>
</div>