<div class="bannerImage-Wrap turquoiseBG">
    <div class="bannerImage" data-bind="style: { backgroundImage: backgroundImageUrl() ? 'url('+backgroundImageUrl()+')' : '' }">
        <div class="bannerEdit-Wrap" data-bind="tooltip: {title: 'Edit cover photo', placement: 'left'}">
            <div class="editIcon-Wrap">
                <i class="fa fa-pencil"></i>
            </div>
            <!--<div class="editButton">
                <i class="fa fa-pencil"></i> Edit cover photo
            </div>-->
            <input class="coverUpload" type="file" name="files[]" data-url="https://staging.viblio.com/services/user/add_or_replace_banner_photo" />
            
            <!-- sample code -->
            <!--<span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Select files...</span>
                <!-- The file input field used as target for the file upload widget -->
                <!--<input id="fileupload" type="file" name="files[]" data-url="https://staging.viblio.com/services/user/add_or_replace_banner_photo" >
            </span>
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
            <div id="files" class="files"></div>-->
            <!-- end smaple code -->
            
        </div>
        <!-- ko if: !backgroundImageUrl() -->
        <div class="stockBanner centered whiteText">
            <h2>Videos tell the best stories!</h2>
            <p class="stockTagLine">watch, share, extract photos, make mashups, learn connect!</p>
        </div>
        <!-- /ko -->

        <!-- ko if: backgroundImageUrl() -->
        
        <!-- /ko -->    
    </div>
    
    <div class="bannerAvatar-Wrap">
        <div class="bannerAvatar">
            <img class="" src="/services/user/avatar?uid=-&y=120" />
            <div style="position: relative;" class="darkBlueBG fileinput-button">
                <span>Change Avatar</span>&nbsp;
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
        <input style="position: absolute; width:0; height:0; top:0; left:0; visibility:hidden;" class="avatarUpload" type="file" name="avatarUpload" data-url="/services/user/add_or_replace_profile_photo/" />
    </div>
</div>