<div id="faces-page">
  <div class="known_faces-container horizontalStrip orangeBG bottomBorder-Thin">
    <div class="title">
      <h2 class="cinematic textShadowed">Identified Faces</h2>
      <span class="muted">Faces you've identified in your videos</span>
    </div>
    <div class="item-container">
      <!-- ko foreach: known_faces -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="unknown_faces-container horizontalStrip lightBlueBG bottomBorder-Thin">
    <div class="title">
      <h2 class="cinematic textShadowed">Unknown Faces</h2>
      <span class="muted">Click on a face to identify it</span>
    </div>
    <div class="item-container">
      <!-- ko foreach: unknown_faces -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>
