<div class="face">
    <div>
        <div data-bind="if: hasStarPower()">
            <img class="star" data-bind="visible: star, attr: { src: starColor }"/>
            <span class="starRank textShadowed" data-bind="visible: star, html: star_power() "></span>
        </div>
        <!-- ko if:  selectable()-->
        <img class='selectable' data-bind="attr:{src:url}, click: select" />
        <!-- /ko -->
        <!-- ko if:  !selectable()-->
        <img data-bind="attr:{src:url}" />
        <!-- /ko -->
        <!-- ko if:  show_name()-->
        <div class="name" data-bind="text: name"></div>
        <!-- /ko -->
    </div>
</div>

<!--user().displayname.slice(0,user().displayname.indexOf(' ')-->