<div id="faces-page">
  <div class="known_faces-container horizontalStrip orangeBG bottomBorder-Thin">
    <div>
      <p class="mainTitle textShadowed whiteText">Identified Faces</p>
      <span class="subtitle">Faces you've identified in your videos</span>
    </div>
    <div class="item-container">
      <!-- ko foreach: known_faces -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="unknown_faces-container horizontalStrip lightBlueBG bottomBorder-Thin">
    <div>
      <p class="mainTitle textShadowed whiteText">Unknown Faces</p>
      <span class="subtitle">Click on a face to identify it</span>
    </div>
    <div class="item-container">
      <!-- ko foreach: unknown_faces -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>
