<div id="faq-page">
    <div class="title-Wrap turquoiseBG bottomBorder-Thin whiteText textShadowed">
        <h2>
            Frequently Asked Questions
        </h2>    
    </div>
    <div class="content-Wrap centeredEl">
        <div class="mocksWhiteBG centeredEl">
            <div class="bottomBorder paddedDiv">
                <p class='bigTitle lightGreyFont doubleSpaced'>We are collecting our most frequently asked questions and we'll post them here shortly.</p>
            </div>
            <div class="bottomBorder-Thick paddedDiv">
                <div class="centeredEl">
                    <form id="mc-embedded-subscribe-form" action="https://viblio.us7.list-manage.com/subscribe/post?u=e046498448d5b3dac186f629b&amp;id=424f74d60a" method="post">
                        <p class='bigTitle lightGreyFont'>Sign up to get updates on our progress.</p>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_e046498448d5b3dac186f629b_424f74d60a" value=""></div>
                        <button class="btn btn-blue" data-bind="click: faqEnroll">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>   
</div>
    
