<div class="blankModal loginModal mocksWhiteBG centeredEl">
    <!--<div class="closeX btn btn-primary" data-bind="click: close"><img src="css/images/closeX.png"/></div>-->

    <div class="bottomBorder-Thick paddedDiv">
        <h3>Your first videos have begun processing!</h3>
        <p>Congratulations!  Your first videos have been uploaded.  Once I’ve processed them, I’ll email you.</p>
        <p>In the meantime, check out our tutorial videos or just explore your new private video library.</p>
        <br>
        <button class="btn btn-primary" data-bind="click: close">Ok, I got it!</button>
    </div>
</div>