<div class="blankModal loginModal mocksWhiteBG centeredEl">
    <!--<div class="closeX btn btn-primary" data-bind="click: close"><img src="css/images/closeX.png"/></div>-->

    <div class="bottomBorder-Thick paddedDiv">
        <h3>Welcome to VIBLIO!</h3>
        <p>To get started the first thing to do is upload some videos to your account. To do this, click on the "UPLOAD VIDEOS" button in the upper navigation bar.</p>
        <br>
        <button class="btn btn-primary" data-bind="click: close">Ok, I got it!</button>
    </div>
</div>