<div class="blankModal loginModal mocksWhiteBG centeredEl">
    <!--<div class="closeX btn btn-primary" data-bind="click: close"><img src="css/images/closeX.png"/></div>-->

    <div class="bottomBorder-Thick paddedDiv">
        <h3>You've got example Videos!</h3>
        <p>After uploading your videos, I'll start processing them. I'll email you when they are ready! In the meantime, I've put some example videos in your account for you to experiment with.</p>
        <br>
        <button class="btn btn-primary" data-bind="click: close">Ok, I got it!</button>
    </div>
</div>