<div id="footer" data-bind="style: { padding: location() == 'Video Player' ? '20px 0' : '20px 45px' } ">
    <div id="footerNav" class="pull-right">
        <ul>
            <li>
                <a href="#TOS" class="lightGreyFont">Terms of Use</a>
            </li>
            <li class="lightGreyFont">
                |
            </li>
            <li>
                <a href="#TOS?showPP=true" class="lightGreyFont">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <p>&copy; 2015 Video Analytics, Inc</p>
    <div id="footerFeedback">
        <form>
            <label for="feedback">How can this page be improved?</label>
            <textarea id="feedback" data-bind="value: feedback, valueUpdate: 'afterkeydown'" placeholder="Your feedback will help us improve our service"></textarea>
            <button type="submit" class="btn btn-secondary btn-small" data-bind="click: send_feedback, enable: feedback">Submit</button>
        </form>
    </div>
</div>
