<div id='forgotPassword-Wrap'>
    <div class="landingHeaderTitle darkBlueBG">
        <p >Forgot <span>your</span> Password?</p>
    </div>
    <div class="orangeBG-Header bottomBorder-Thin"></div>
    <div class="content-Wrap centeredEl">
        <form class='mocksWhiteBG'>
            <div class="bottomBorder paddedDiv">
                <p>No worries. Just enter your email and we'll send you instructions to reset your password:</p>
                <input id='forgetEmail' type="email" class="input-xlarge" data-bind="value: forgetEmail, valueUpdate: 'afterkeydown'" placeholder="Email address" required />
            </div>

            <div class="paddedDiv bottomBorder-Thick">
                <button type="button" class="btn btn-primary" data-bind="click: send, enable: forgetEmailIsValid">
                    Send
                </button>
                <button type="button" class="btn btn-secondary" data-bind="click: cancel">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>