<div>
<div class="darkBlueBG fstrip bottomBorder-Thin" data-bind="visible: isvisible">

  <div class="title">
    <h2 class="cinematic textShadowed" data-bind="html: title"></h2>
    <button class="btn btn-primary">See All &raquo;</button>
  </div>

  <div class="fscroll-cc">
    <button class="btn btn-small fwd btn-nav mCSB_buttonRight" data-bind="visible: showFwd(), click: scrollForward"><img src="css/images/arrowRight.png"/></button>
    <button class="btn btn-small back btn-nav mCSB_buttonLeft" data-bind="click: scrollBackward"><img src="css/images/arrowLeft.png"/></button>
  
    <div class="fscroll">
      <div class="item-container">
	<!-- ko foreach: mediafiles -->
        <!-- ko compose: $data --><!--/ko-->
	<!--/ko-->
      </div>
    </div>
  </div>

  <div class="arrow"></div>

</div>
</div>
