<div>
<div class="darkBlueBG fstrip bottomBorder-Thin" data-bind="slideVisible: isvisible">

  <div>
    <p class="mainTitle marginL45 textShadowed whiteText" data-bind="html: title"></p>
    <button class="btn btn-primary" data-bind="click: seeAll">See All &raquo;</button>

    <button class="btn btn-primary" data-bind="click: mkAlbum">Make Album Of</button>

  </div>

  <div class="sd-fscroll" data-bind="hscroller:{rightLimitReached: hLimitReached}">
    <!-- ko foreach: mediafiles -->
    <!-- ko compose: $data --><!--/ko-->
    <!--/ko-->
  </div>

  <div class="arrow"></div>

</div>
</div>
