<div>
<div class="darkBlueBG fstrip bottomBorder-Thin" data-bind="slideVisible: isvisible">

  <div>
    <p class="mainTitle marginL45 textShadowed whiteText" data-bind="text: title"></p>
    <button class="btn btn-primary" data-bind="click: seeAll">See All &raquo;</button>
    
    <!--<div class="dropdown navControl albumsList">
        <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">Add to/Create Album</a>
        <ul class="style2DD dropdown-menu" role="menu">
          <li class="tagsScrollWrapper">
              <div class="scroller">
                  <div class="wrapper">
                      <ul class="tags-inner">
                        <!-- ko foreach: albumLabels -->
                            <!--<li data-bind="click: $parent.albumSelected.bind( $data, $parent ), clickBubble: false">
                                <a class="checkboxedLi">
                                    <div class="inline tagLabel" data-bind="text: $data.label, css:{sel: $data.selected(), sharedStyle: $data.shared}"></div>
                                    <!--<div class="inline" data-bind="if: $data.selected()">
                                        <i class="icon-check"></i>
                                    </div>
                                    <div class="inline" data-bind="ifnot: $data.selected()">
                                        <i class="icon-unchecked"></i>
                                    </div>-->
                               <!-- </a>
                            </li>
                        <!-- /ko -->
                      <!--</ul>    
                  </div>                  
              </div>
          </li>
        </ul>
    </div>-->

  </div>

  <div class="sd-fscroll" data-bind="hscroller:{rightLimitReached: hLimitReached}">
    <!-- ko foreach: mediafiles -->
    <!-- ko compose: $data --><!--/ko-->
    <!--/ko-->
  </div>

  <div class="arrow"></div>

</div>
</div>
