<div id="getApp-page" class="instructionsPages">
    
    <div class="title-Wrap turquoiseBG bottomBorder-Thin whiteText textShadowed">
        <h2 class="">
            Get the Viblio App
        </h2>
        <a href="#tutorial" class="btn btn-darkBlue subheaderLink">The VIBLIO App – a short tutorial</a>
    </div>
    <h2 class="centered title-Wrap">VIBLIO is free up to 5 GB. Currently available for Windows with more devices coming soon.</h2>
    
    <div class="content-Wrap centeredEl mocksWhiteBG">
        <div class="bottomBorder-Thick paddedDiv">
            <a href="/services/na/download_trayapp" data-bind="click: download_viblio" class="btn btn-primary centered">Download Windows Version</a>
            <div class="table">
                <img src="css/images/instructions/memoriesInMotion.png"/>
            </div>
        </div>   
    </div>
            
    <div class="content-Wrap centeredEl mocksWhiteBG">
        <div class="bottomBorder-Thick paddedDiv">
            <button class="btn btn-blue" data-bind="click: toggleInfo, text: seeInstructions() ? 'Learn more about VIBLIO' : 'Download instructions' "></button>
            <!-- ko if: seeLearnMore() == true -->
                <h2>More about VIBLIO</h2>
                <table class="centered">
                    <tr>
                        <td>
                            <p class="font24 doubleSpaced">Collect your videos in one private location</p>
                        </td>
                        <td>
                            <img src="css/images/instructions/uploadImg.png" alt="Upload Your files">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="css/images/instructions/magicTag.png" alt="Upload Your files">
                        </td>
                        <td>
                            <p class="font24 doubleSpaced">Magic Tagging&trade; dynamically creates video albums</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="font24 doubleSpaced">Enjoy and share from anywhere</p>
                        </td>
                        <td>
                            <img src="css/images/instructions/shareImg.png" alt="Upload Your files">
                        </td>
                    </tr>
                </table>
            <!-- /ko -->
            
            <!-- ko if: seeInstructions() == true -->
                <h2>Download Instructions</h2>
                <h3>Step 1: download the App</h3>
                <hr>
                <h3>Step 2: install the App</h3>
                <div class="howToPic">
                    <h4>Automatically configures</h4>
                    <img alt="installStep1" src="css/images/instructions/step1.png"/>
                </div>
                <div class="howToPic">
                    <h4>Click "next"</h4>
                    <img alt="installStep2" src="css/images/instructions/step2.png"/>
                </div>
                <div class="howToPic">
                    <h4>.NET installation may be required (click "Install")</h4>
                    <img alt="installStep3" src="css/images/instructions/step3.png"/>
                </div>
                <div class="howToPic">
                    <h4>During the .NET installation you may be asked to close programs or reboot your computer. If asked, click "Yes" to continue. Once your computer has rebooted, the installation process will proceed.</h4>
                    <img alt="installStep4" src="css/images/instructions/step4.png"/>
                </div>
                <div class="howToPic">
                    <h4>Automatically begins installing</h4>
                    <img alt="installStep5" src="css/images/instructions/step5.png"/>
                </div>
                <div class="howToPic">
                    <h4>Make sure "Launch the program" is checked and click "Finish"</h4>
                    <img alt="installStep6" src="css/images/instructions/step6.png"/>
                </div>
                <hr>
                <h3>Step 3: add videos to upload</h3>
                <div class="howToPic">
                    <h4>Click "Add Selected Videos Now"</h4>
                    <img alt="upload" src="css/images/instructions/upload.png"/>
                </div>
            <!-- /ko -->
        </div>   
    </div>
    
</div>
