<div id="getApp-page" class="instructionsPages">
    
    <div class="title-Wrap turquoiseBG bottomBorder-Thin whiteText textShadowed">
        <h2 class="">
            Get the Viblio App
        </h2>    
    </div>
    
    <a href="#tutorial" class="btn btn-primary pull-right marginR45">The VIBLIO App – a short tutorial</a>
    <div class='clearfix'></div>
    
    <div class="content-Wrap centeredEl mocksWhiteBG">
        <div class="bottomBorder paddedDiv">
            <h3 class="downloadTitle">Mac</h3>
            <div class="macButton-Wrap pull-right">
                <a href="" data-bind="click: download_viblio" class="btn btn-primary" disabled>Download Mac Version</a>
                <label for="downloadMac">(Coming Soon)</label>
            </div>
            <div class='clearfix'></div>
        </div>
        <div class="bottomBorder-Thick paddedDiv">
            <h3 class="downloadTitle">Windows</h3>
            <a href="/services/na/download_trayapp" data-bind="click: download_viblio" class="btn btn-primary pull-right">Download Windows Version</a>
            <div class='clearfix'></div>
        </div> 
    </div>
    
    <div class="content-Wrap centeredEl mocksWhiteBG">
        <div class="bottomBorder-Thick paddedDiv">
            <h3>Instructions</h3>
            <button class="btn btn-blue" data-bind="click: showMac" disabled>Mac</button>
            <button class="btn btn-blue" data-bind="click: showPC">Windows</button>
            <!-- ko if: seeMac() == true -->
                <div class="howToPic">
                
                </div>
            <!-- /ko -->
            
            <!-- ko if: seePC() == true -->
                <h3>Step 1: download the App</h3>
                <hr>
                <h3>Step 2: install the App</h3>
                <div class="howToPic">
                    <h4>Automatically configures</h4>
                    <img alt="installStep1" src="css/images/instructions/step1.png"/>
                </div>
                <div class="howToPic">
                    <h4>Click "next"</h4>
                    <img alt="installStep2" src="css/images/instructions/step2.png"/>
                </div>
                <div class="howToPic">
                    <h4>.NET installation may be required (click "Install")</h4>
                    <img alt="installStep3" src="css/images/instructions/step3.png"/>
                </div>
                <div class="howToPic">
                    <h4>During the .NET installation you may be asked to close programs or reboot your computer. If asked, click "Yes" to continue. Once your computer has rebooted, the installation process will proceed.</h4>
                    <img alt="installStep4" src="css/images/instructions/step4.png"/>
                </div>
                <div class="howToPic">
                    <h4>Automatically begins installing</h4>
                    <img alt="installStep5" src="css/images/instructions/step5.png"/>
                </div>
                <div class="howToPic">
                    <h4>Make sure "Launch the program" is checked and click "Finish"</h4>
                    <img alt="installStep6" src="css/images/instructions/step6.png"/>
                </div>
                <hr>
                <h3>Step 3: add videos to upload</h3>
                <div class="howToPic">
                    <h4>Click "Add Selected Videos Now"</h4>
                    <img alt="upload" src="css/images/instructions/upload.png"/>
                </div>
            <!-- /ko -->
        </div>   
    </div>
    
</div>
