<div id="page-header">
    <div class="navbar navbar-fixed-top">
        
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        
        <a class="brand" href="/#home">
            <img src="css/images/viblioLogo-WhiteWText.png" />
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav pagesNav">
                <!-- ko foreach: router.navigationModel -->
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, text: title"></a>
                </li>
                <!-- /ko -->                
                <!-- ko if: showPopup -->
                <li>
                    <a href="#" data-bind="click: web_uploader, popover: {html: true, title:pt, content: 'Click me to begin using your VIBLIO account by uploading your first videos.', placement: 'bottom'}" class="web-uploader-header-button btn btn-small btn-primary pull-right">UPLOAD VIDEOS</a>    
                </li>
                <!-- /ko -->
                <!-- ko ifnot: showPopup -->
                <li>
                    <a href="#" data-bind="click: web_uploader, css: { 'btn btn-small btn-primary': !videosHaveBeenUploaded() }" class="web-uploader-header-button pull-right">UPLOAD VIDEOS</a>
                </li>
                <!-- /ko -->
            </ul>

            <ul id='userNamePicNav' class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="avatar pull-left">
                            <img style="display: block;" src="/services/user/avatar?uid=-&y=37" />
                        </div>
                        <div id='userNameText-Wrap'>
                            <span class='textShadowed'>Welcome, </span><span class='truncate textShadowed' data-bind="text: user().displayname">anonymous</span><img src='css/images/chevron-down2.png'/>
                        </div>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li><a href="#settings">Settings</a></li>
                        <li><a href="#map">Map</a></li>
                        <!-- <li><a href="#" data-bind="click: download_viblio, attr:{href:download_link}">Get the App</a></li> -->
                        <li><a href="#" data-bind="click: inviteFriends">Invite a Friend</a></li>
                        <li><a href="https://itunes.apple.com/us/app/viblio/id883377114?mt=8" target="new">Learn about our iOS app</a></li>
                        <li><a href="#" data-bind="click: sent_feedback, attr:{href:feedback_email}">Send us Feedback</a></li>
                        <li><a href="#" data-bind="click: showPrivacy">Privacy Matters</a></li>
			<!-- <li><a href="#" data-bind="click: testNewVideo">Test New Video</a></li> -->
                        <li><a href="#about" target="blank">About</a></li>
                        <li><a href="http://viblioblog.wordpress.com/" target="blank">Blog</a></li>
                        <li><a href="http://viblio.com/signup" target="blank">VIBLIO.com</a></li>
                        <li><a href="#" data-bind="click: logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="clearfix"></div>
    </div>
</div>
