<div id="howToUpload-page">
    
    <div class="title-Wrap turquoiseBG bottomBorder-Thin whiteText textShadowed">
        <h2 class="">
            How to upload your Videos to Viblio
        </h2>    
    </div>
    
    <div class="content-Wrap centeredEl mocksWhiteBG">
        
        <div class="bottomBorder paddedDiv">
            <h3>Step 1: download the App</h3>
            <div id="macButton-Wrap">
                <a id="downloadMac" href="" data-bind="click: download_viblio" class="btn btn-primary" disabled>Mac Version</a>
                <label for="downloadMac">(Coming Soon)</label>
            </div>
            <a id="downloadWin" href="/services/na/download_trayapp" data-bind="click: download_viblio" class="btn btn-primary">Windows Version</a>
        </div>
        <div class="bottomBorder paddedDiv">
            <h3>Step 2: install the App</h3>
            <button class="btn btn-blue" data-bind="click: seeMac(true)">Mac</button>
            <button class="btn btn-secondary" data-bind="click: seePC(true)">Windows</button>
            <div class="howToVideo">
                
            </div>
        </div>
        <div class="bottomBorder-Thick paddedDiv">
            <h3>Step 3: add videos to upload</h3>
            <div class="howToVideo">
                
            </div>
        </div>
         
    </div>
    
</div>
