<div class="hp">
    <div class="top-strip darkBlueBG" data-bind="slideVisible: showFaces">
        <div class="cont" data-bind="if: !shell.onMobile()">
            <div class="left">
                <!-- ko compose: 'viewmodels/coverphoto' --><!-- /ko -->
            </div>
        </div>
        <div class="right" data-bind="css: {fullwidth: shell.onMobile()}">
            <!-- ko compose: 'viewmodels/albumList' --><!-- /ko -->
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="facestripToggle btn btn-white" data-bind="click: toggleTopStrip, css: { 'btn-white': showFaces(), 'btn-ltGrey': !showFaces() }">
        <span data-bind="if: showFaces" title="Hide People Strip"><i class="fa fa-chevron-up"></i></span>
        <span data-bind="ifnot: showFaces" title="Show People Strip"><i class="fa fa-chevron-down"></i></span>
    </div>
    <div id="videos">
        <!-- ko compose: nhome  --><!-- /ko -->
    </div>
</div>
