<style>
.top-strip .cont {
    margin-right: -340px;
    float: left;
    width: 100%;
}
.top-strip .cont .left {
    margin-right: 340px;
}
.top-strip .right {
    float: left;
    width: 340px;
}
</style>
<div class="hp">
  <div class="top-strip">
    <div class="cont">
      <div class="left"><!-- ko compose: 'viewmodels/top-actors' --><!-- /ko --></div>
    </div>
    <div class="right"><!-- ko compose: 'viewmodels/unnamed' --><!-- /ko --></div>
    <div class="clearfix"></div>
  </div>
  <p>More Content</p>
</div>
