<div id="imapModal" class="mocksWhiteBG">
  <div class='closeX btn btn-primary' data-bind="click: dismiss"><img src='css/images/closeX.png'/></div>
  <div class="centered">
    <input style="width: 500px;" type="text" data-bind="value: paddr, event:{keyup:penter}" placeholder="Enter an address" />
  </div>
  <div class="modal-body">
    <div id="imap" class="map"></div>
    <div class="help">
      <button type="button" class="close" data-bind="click: helpHide" aria-hidden="true">&times;</button>
      <p><span class="emph">Enter</span> an address or a city in the text field at the top of this window.
      </p>
      <p><span class="emph">Click</span> the <span class="emph">OK</span> button to confirm your choice.
      </p>
      <button data-bind="click: helpHide" class="btn btn-secondary btn-small">Close Help</button>
    </div>
  </div>
  <div class="is-near"><div data-bind="text: isNear"></div></div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-bind="click: ok, enable: dropped">OK</button>
    <button class="btn btn-secondary" data-bind="click: dismiss">Cancel</button>
  </div>
</div>
