<div id="imapModal" class="mocksWhiteBG">
  <div class='closeX btn btn-primary' data-bind="click: dismiss"><img src='css/images/closeX.png'/></div>
  <div class="centered">
    <input style="width: 500px;" type="text" data-bind="value: paddr" placeholder="Enter an address" />
  </div>
  <div class="modal-body">
    <div id="imap" class="map"></div>
    <div class="help">
      <button type="button" class="close" data-bind="click: helpHide" aria-hidden="true">&times;</button>
      <p><span class="emph">Drop</span> a draggable marker ( <img src="css/images/mapMarker-Blue.png"> ) by clicking on the map near the
	location you want.
      </p>
      <p><span class="emph">Drag</span> the ( <img src="css/images/mapMarker-Blue.png"> ) marker over the exact location you want.
      </p>
      <p><span class="emph">Click</span> on the ( <img src="css/images/mapMarker-Blue.png"> ) marker to cancel or choose this as your
	final location.  If you cancel, you can drop another ( <img src="css/images/mapMarker-Blue.png"> ) marker somewhere else.
      </p>
      <button data-bind="click: helpHide" class="btn btn-secondary btn-small">Close Help</button>
    </div>
  </div>
  <div class="is-near"><div data-bind="text: isNear"></div></div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-bind="click: useLocation, visible: dropped">Use Drop Marker Location</button>
    <button class="btn btn-secondary" data-bind="click: dismiss">Cancel</button>
  </div>
</div>
