<div id="login-page">
    <div class="container-fluid content-Wrap">
        <div id="backdrop" class="row-fluid">
            
            <div id="register" class="span6">
              <div id="sub-heading">
                Get started - it's free!
              </div>
              <p>Registration takes less than a minute.</p>
              <form class="form-inline">
                <div>
                  <input type="text" class="input-xlarge" data-bind="value: rfullname" placeholder="Full Name" />
                </div>
                <div>
                  <input type="email" class="input-xlarge" data-bind="value: remail"  placeholder="Email" />
                </div>
                <div>
                  <input type="password" class="input-xlarge" data-bind="value: rpassword1" placeholder="Password" />
                </div>
                <div>
                  <input type="password" class="input-xlarge" data-bind="value: rpassword2" placeholder="Password Again" />
                </div>
                <div style="margin-bottom: 15px;">&nbsp;</div>
                <button type="button" class="btn btn-primary" data-bind="click: register">
                  Join Now
                </button>
              </form>
            </div>

            <div id="invite" class="span6">
              <div id="sub-heading">
                You're Invited!
              </div>
              <p>Enter your invite code below and you're in.</p>
              <form class="form-inline">
                <div>
                  <input type="text" class="input-xlarge" data-bind="value: ifullname" placeholder="Full Name" />
                </div>
                <div>
                  <input type="email" class="input-xlarge" data-bind="value: iemail" placeholder="Email" />
                </div>
                <div>
                  <input type="password" class="input-xlarge" data-bind="value: ipassword" placeholder="Password" />
                </div>
                <div>
                  <input type="text" class="input-xlarge" data-bind="value: icode" placeholder="Invite Code" />
                </div>
                <div style="margin-bottom: 15px;">&nbsp;</div>
                <button type="button" class="btn" data-bind="click: invite">
                  Complete
                </button>
              </form>
            </div>

        </div>
    </div>
</div>