<div id="getApp-page" class="instructionsPages">
    
    <h2 class="centered title-Wrap">
      The VIBLIO iOS app lets you automatically upload your iPhone videos to the VIBLIO service.
    </h2>
    
    <div class="content-Wrap centeredEl mocksWhiteBG">
        <div class="bottomBorder-Thick paddedDiv">
            <a href="#" data-bind="click: download_viblio" class="btn btn-primary centered">Install</a>
            <div class="table">
                <img src="css/images/instructions/memoriesInMotion.png"/>
            </div>
        </div>   
    </div>
    
</div>
