<style>

body {
    background-color: rgb(239,85,65);
}

//* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*#progress {
    background-color: #fff;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#progress .percent {
    background: rgb(50,53,68);
    width: 1%;
    height: 30px;
    position: relative;
}

#progress .percent .number {
    position: absolute;
    top: 0px;
    height: 30px;
    line-height: 30px;
    color: #000;
    right: -40px;
    width: 40px;
    text-align: center;
    font-weight: bold;
}*/
</style>
<div class="ksLanding">
    <h1 class="darkBlueBG bottomBorder-Thin textShadowed">Support VIBLIO with 3 Clicks</h1>
    <div class="container">
        <div class='mocksWhiteBG content'>
            <div class="bottomBorder-Thick paddedDiv font24 ksbody">
                <p class='font24'>
                    Hello Friend-of-VIBLIO!
                </p>
                <br />
                <p>
                    When you share something, your friends pay attention!  <span class="tomatoFont">Help us spread the VIBLIO news</span> by 
                    taking just <strong>3 seconds</strong> and clicking on the <strong>3 links</strong> below.
                </p>
                <br />
                <p>
                    Doing this makes it easy to ask your friends to support VIBLIO on Kickstarter. 
                </p>
                <br />
                <p>
                    The VIBLIO Team <em>thanks you</em>!
                </p>
            </div>
        </div>
        <!--<div id="progress" class="mocksWhiteBG content">
            <div class="percent">
                <div class="number">0%</div>
            </div>
        </div>-->
        <ul class="actions content">
            <li>
                <h3 class='textShadowed'>1. Share on Facebook</h3>
                <button class="btn facebook"><i class="icon-facebook"></i>&nbsp;&nbsp;|&nbsp;&nbsp;Share</button>
            </li>
            <li>
                <h3 class='textShadowed'>2. Post to Twitter</h3>
                <button class="btn twitter"><i class="icon-twitter"></i>&nbsp;&nbsp;|&nbsp;&nbsp;Tweet</button>
            </li>
            <li>
                <h3 class='textShadowed'>3. Share with LinkedIn</h3>
                <button class="btn linkedin"><i class="icon-linkedin"></i>&nbsp;&nbsp;|&nbsp;&nbsp;Share</button>
            </li>
        </ul>
    </div>
</div>
