<div class="ksThankYouModal mocksWhiteBG centeredEl">
    <div class="closeX btn btn-primary" data-bind="click: close"><img src="css/images/closeX.png"/></div>

    <div class="bottomBorder-Thick paddedDiv font18">
        <p class="font24">Thank you!</p><br />
        <p class="font24">for helping <span class="tomatoFont">us spread the VIBLIO news.</span></p><br />
        <p>We'll be sending updates through our <a class="tomatoFont" href='http://kck.st/1n5BQBk' target="blank">Kickstarter project link</a>.</p>
    </div>
</div>