<div class="ksThankYouModal mocksWhiteBG centeredEl">
    <div class="closeX btn btn-primary" data-bind="click: close"><img src="css/images/closeX.png"/></div>

    <div class="bottomBorder-Thick paddedDiv font18">
        <p class="font24 centered">Thank you!</p>
        <p class="font24 centered">We appreciate your input.</p><br />
        <p>Don't forget to help <span class="tomatoFont">us spread the VIBLIO news</span> by clicking below to share VILBIO with your friends.</p>
    </div>
</div>