<style>
    body {
        background-color: rgb(239,85,65);
    }
</style>
<div class="ksVoting">
    <h1 class="darkBlueBG bottomBorder-Thin textShadowed">Support us on Kickstarter</h1>
    <div class="container">
        <div class='vote mocksWhiteBG'>
            <div class="paddedDiv font24 ksbody bottomBorder-Thick">
                <p class='font24'>
                    Hello Friend-of-VIBLIO!
                </p>
                <br />
                <p>
                    If you're on this page it's because you supported us on Kickstarter.  You have our deepest thanks for that, and with it, our promise that
                    we'll work hard to create the best video library and indexing solution the world has seen.
                </p>
                <br />
                <p>
                    You also get to vote on which video content we should build our detector to search for first.  <strong>Pick the topic you'd like to be able to search and filter for in your videos.</strong>
                </p>
                <form id='activityForm'>
                    <div class="control-group">
                        <label for="voteEmail">Email *required</label>
                        <input type="email" data-bind="value: voteEmail, valueUpdate: 'keyup'" 
                            name="voteEmail" class="email" id="vote_email" 
                            placeholder="Enter your email address" required />          
                    </div>                    
                    <div class="control-group">
                        <label for="activityList">Chosen Vote *required</label>
                        <select name='activityList' form='activityForm' data-bind="value: chosenVote">
                            <option class="opt-group-header">Choose...</option>
                            <!-- ko foreach: options -->
                                <option class="opt-group-header" disabled>---------------------------------------</option>
                                <option class="opt-group-header" data-bind="text: $data.name" disabled></option>
                                <option class="opt-group-header" disabled>---------------------------------------</option>
                                <!-- ko foreach: $data.list -->
                                    <option data-bind="text: $data, value: $data"></option>
                                <!-- /ko -->
                            <!-- /ko -->
                            <option class="opt-group-header" disabled>---------------------------------------</option>
                            <option value="other">Other</option>
                        </select>    
                    </div>
                    <div class="control-group" data-bind="visible: chosenVote() == 'other' ">
                        <label for='ownActivity'>Your suggestion: *required</label>
                        <input type="text" data-bind="value: ownActivity, valueUpdate: 'keydown'" 
                                name="ownActivity" class="text" id="activityForm_ownActivity" 
                                placeholder="20 Characters max" maxLength="20"/>
                        <!--<span data-bind="text: ownActivityCharsLeft"></span> characters left-->
                        
                    </div>  
                    <div class="control-group">
                        <label for="voteCode">Kickstarter Backer Code *required</label>
                        <input type="text" data-bind="value: voteCode, valueUpdate: 'keyup'" 
                            name="voteCode" class="text" id="vote_code" 
                            placeholder="Kickstarter Backer Code" required />     
                    </div> 
                    <button type="submit" class="btn btn-secondary btn-small" data-bind="click: send_vote, enable: activityFormReady">Submit</button>
                </form>
                <p>
                    Want to support us in other ways? <span class="tomatoFont">Help us spread the VIBLIO news</span> by 
                    taking just <strong>3 seconds</strong> and clicking on the <strong>3 links</strong> below.
                </p>
            </div>       
        </div>
        <ul class="actions content">
            <li>
                <h3 class='textShadowed'>1. Share on Facebook</h3>
                <button class="btn facebook"><i class="icon-facebook"></i>&nbsp;&nbsp;|&nbsp;&nbsp;Share</button>
            </li>
            <li>
                <h3 class='textShadowed'>2. Post to Twitter</h3>
                <button class="btn twitter"><i class="icon-twitter"></i>&nbsp;&nbsp;|&nbsp;&nbsp;Tweet</button>
            </li>
            <li>
                <h3 class='textShadowed'>3. Share with LinkedIn</h3>
                <button class="btn linkedin"><i class="icon-linkedin"></i>&nbsp;&nbsp;|&nbsp;&nbsp;Share</button>
            </li>
        </ul>
    </div>    
</div>
