<div id="landing-header">
  <div class="navbar navbar-fixed-top darkBlueBG">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        
        <a class="landingBrand brand" href="/signup/">
            <img id="landingLogo" src="css/images/viblioLogo-WhiteWText.png" />
        </a>
        
        <div class="kickstarter-Wrap textShadowed">
            <span><a href='http://kck.st/1gu4doU' target="blank">Support Us on Kickstarter!</a></span>
        </div>
      
        <div class="nav-collapse collapse">
            <ul class="nav pagesNav pull-right">
                <li>
                    <a class="textShadowed" href="/#whatWhoHow">What, Who and How</a>
                </li>
                <li>
                    <a class="textShadowed" href="//corp.viblio.com/viblio-blog/">Viblio Blog</a>
                </li>
                <li>
                    <a class="textShadowed" data-bind="click: signin">Log In</a>
                </li>
            </ul> 
        </div>
        
        <div class="clearfix"></div>
        <div class="kickstarter-Wrap-small textShadowed">
            <span><a href='http://kck.st/1gu4doU' target="blank">Support Us on Kickstarter!</a></span>
        </div>
  </div>  
</div>
