<div class="landingUploader vup whiteBG marginB50">
    <div class="vup-instructions">
        <div>
            <p class="font24">Drop video file here to try Photo Finder</p>
            <p class="font18">or</p>
            <button type="button" class="selectFilesButton btn btn-ltGrey">Select Files</button>
            <br>
            <br>
            <p>select one video that is 3 minutes or less</p>
            <p>Allowed file types: avi|m4v|mp4|mov|mpeg|ogg|wmv</p>
        </div>
    </div>
    <div class="vup-alert"><span class="alert"></span></div>
    <div class="vup-area">
        <table class="vup-files">
        </table>
    </div>

    <!--<div class="vup-stats">
        <table>
            <tr>
                <td><span class="vup-data-point vup-overall-bitrate"></span></td>
                <td><span class="vup-data-point vup-overall-percent"></span></td>
                <td><span class="vup-data-point vup-overall-size"></span></td>
            </tr>
            <tr>
                <td><span class="vup-data-title">Upload Speed</span></td>
                <td><span class="vup-data-title">Percent Done</span></td>
                <td><span class="vup-data-title">Data Uploaded</span></td>
            </tr>
        </table>
    </div>-->
</div>