<div id="landing-header">
  <div class="navbar navbar-fixed-top darkBlueBG">
<!--    <div class="navbar-inner"> -->
      <a class="brand" href="#/landing">
        <img src="css/images/viblioWhite.png" />
      </a>
      <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
        <i class="icon-spinner icon-2x icon-spin"></i>
      </div>
      <p class="navbar-text pull-right">
	<a data-bind="click: signin">Log In</a>
      </p>
<!--    </div> -->
  </div>
</div>
