<div id='loggedOutTellFriendsModal' class='whiteBG modalBorder centeredEl'>
    <div class="modalCloseX btn btn-modalGrey" data-bind="click: closeModal"><img src="css/images/closeX.png"/></div>
    
            <div class="bottomBorder paddedDiv">
                <p class='bigTitle'>Tell friends about VIBLIO</p>
		<!--<p><a href="#" data-bind="click: cimport">Import from Address Book(s)</a></p>-->
                <p class="uitoken-input"><input id='friendsEmails' type="text" placeholder="Email address" /></p>
                <textarea id='tellFriendsMessage' data-bind="value: tellFriendsMessage, attr: {placeholder: placeholderText}"></textarea>
            </div>

            <div class="paddedDiv bottomBorder-Thick">
                <button type="button" class="btn btn-primary" data-bind="click: tellFriends, enable: friendsEmailsValid">
                    Send
                </button>
            </div>
 
</div>
