<div id="loggedOut-page">
    <p class="landingHeaderTitle darkBlueBG">Logged out <span>successfully.</span></p>
    <div class="orangeBG-Header bottomBorder-Thin"></div>
    <div class="content-Wrap centeredEl">
        
        <div class="mocksWhiteBG centeredEl">
            <div class="bottomBorder paddedDiv">
                <p>See you next time!</p>
            </div>
            <div class="bottomBorder-Thick">
                <div class="centeredEl paddedDiv">
                    <button class="btn btn-primary" data-bind="click: showLoggedOutTellFriendsModal">
                        Tell a friend about VIBLIO
                    </button>
                </div>
            </div>
        </div>
        
    </div>          
</div>
