<div id="login-page">
    <p class="landingHeaderTitle darkBlueBG">Log in <span>to your</span> Viblio account</p>
    <div class="orangeBG-Header bottomBorder-Thin"></div>
    <div class="content-Wrap centeredEl">
        
        <div id="loginArea" class="mocksWhiteBG centeredEl">
            <div id="fbBtn-Wrap" class="bottomBorder">
                <a id="facebookLoginBtn" class="centeredEl" data-bind="click: facebookAuthenticate"><img src="css/images/FBf.png" /> Log in with Facebook </a>
            </div>
            <div id='or-Wrap'>
                <p>or</p>
            </div>
            <form class="bottomBorder-Thick">
                <div class="centeredEl">
                    <span data-bind="css: { error: email_entry_error() }">
                        <input type="email" class="text" data-bind="value: email" placeholder="Email address" autocomplete="on"/>
                    </span>
                    <span data-bind="css: { error: password_entry_error() }">
                        <input type="password" class="text" data-bind="value: password" placeholder="Password" autocomplete="off"/>
                    </span>
                    <a href="#/forgotPassword">Forgot Password?</a>
                    <button class="btn btn-primary" data-bind="click: nativeAuthenticate">
                        Log In
                    </button>
                </div>
            </form>
        </div>

        <div id="noAccount-Wrap" class="yellowBG">
            <div class="bottomBorder-Thick">
                <div id="noAccount" class="centeredEl paddedDiv">
                    <form id="mc-signup" action="http://viblio.us7.list-manage.com/subscribe/post?u=e046498448d5b3dac186f629b&amp;id=45caf02575" method="post">
                        <p>Don't have an account? Join the private Beta:</p>
                        <span>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required>
                        </span>
                        <button class="btn btn-blue" data-bind="click: betaEnroll">
                            Reserve
                        </button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>          
</div>
