<div id="map-page">
    <div class="orangeTitle">
        <h2>Your Videos on the Map</h2>    
    </div>
    <div data-bind="slideVisible: showVidStrip, hscroller:{}" class="mapSD-scroll">
        <!-- ko foreach: pointsInRange -->
            <div class="mediafile" data-bind="attr:{id:$data.uuid}">
                <div>
                    <a class="mplay-icon pointer" data-bind="click: $root.play">
                       <i class="icon-play-circle"></i> 
                    </a>
                    <i class="icon-ok-sign"></i>
                    <div class='pointer' data-bind="click: $root.play">
                        <img data-bind="{attr:{src:$data.url}}" alt="video poster"/>
                    </div>
                    <div class="information">
                        <div class="aux pull-right muted"><img src='css/images/viewsEye.png'/><span data-bind="html: $data.eyes">0</span></div>
                        <div>
                            <div class="view title truncate" data-bind="text: $data.title || 'Click to edit title'"></div> 
                        </div>
                    </div>
                </div>
            </div>
        <!-- /ko -->
    </div>
    
    <div id="mapContainer" class="map-wrap bottomBorder-Thin">
        <div class="missingVideos whiteText sticky">
            <div class='tab' data-bind='click: toggleInstructions'>
                <i class="icon-lightbulb"></i><div>Missing a video?</div>
            </div>
            <div class='mapInstructions'>
                Only videos that have location data will appear on your map. To add location data to a video:<br>
                <ol>
                    <li>
                        <strong>Play</strong> the video you wish to add a location to<br>
                    </li>
                    <li>
                        <strong>Click</strong> the 'Add to Map' button in the top right<br>
                    </li>
                    <li>
                        <strong>Choose</strong> the location for your video
                    </li>
                </ol>
            </div>
        </div>
        <!-- ko if: points.length < 1 -->
        <div id='noPointsOverlay' class='darkBlueOpaqueBG'>
            <div class='content-Wrap centeredEl'>
                <div class='paddedDiv whiteBG'>
                    <p class='loginHeader'>You have no geotagged Videos yet!</p>
                    <p class='font18'>Some cameras (and most smartphones) save the location where a video was taken. When we detect that location, we'll add the video to your map.</p>
                    <p class='font18'>Right now, none of your videos have location data.</p>
                </div>
                <div class='turquoiseBG bottomBorder-Thick whiteText centered'>
                    <img src='css/images/mapMarker-White.png' alt='map marker'>
                    <div id='addToMap-Wrap'>
                        <p class='font20 textShadowed lightWeightFont'>Coming soon:</p>
                        <p class='heavyWeightFont font20 textShadowed'>Add to Map</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
