<div id="map-page">
    <!-- ko compose: help --><!-- /ko -->
    <div class="orangeTitle">
        <h2>Your Videos on the Map</h2>    
    </div>
    <div data-bind="slideVisible: showVidStrip" >
        <div class="dropdown navControl albumsList">
            <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">Add to/Create Album</a>
            <ul class="style2DD dropdown-menu" role="menu">
              <li class="tagsScrollWrapper">
                  <div class="scroller">
                      <div class="wrapper">
                          <ul class="tags-inner">
                            <!-- ko foreach: albumLabels -->
                                <li data-bind="click: $parent.albumSelected.bind( $data, $parent ), clickBubble: false">
                                    <a class="checkboxedLi">
                                        <div class="inline tagLabel" data-bind="text: $data.label, css:{sel: $data.selected(), sharedStyle: $data.shared}"></div>
                                        <!--<div class="inline" data-bind="if: $data.selected()">
                                            <i class="icon-check"></i>
                                        </div>
                                        <div class="inline" data-bind="ifnot: $data.selected()">
                                            <i class="icon-unchecked"></i>
                                        </div>-->
                                    </a>
                                </li>
                            <!-- /ko -->
                          </ul>    
                      </div>                  
                  </div>
              </li>
            </ul>
        </div>
        <div data-bind="hscroller:{}" class="mapSD-scroll">
            <!-- ko foreach: pointsInRange -->
                <div class="mediafile" data-bind="attr:{id:$data.uuid}">
                    <div>
                        <a class="mplay-icon pointer" data-bind="click: $root.play">
                           <i class="icon-play-circle"></i> 
                        </a>
                        <i class="icon-ok-sign"></i>
                        <div class='pointer' data-bind="click: $root.play">
                            <img data-bind="attr:{src:$data.url}" alt="video poster"/>
                        </div>
                        <div class="information">
                            <div class="aux pull-right" title="View count"><i class="icon-eye-open"></i><br><span data-bind="html: $data.eyes">0</span></div>
                            <div>
                                <div class="view title truncate" data-bind="text: $data.title || 'Click to edit title'"></div> 
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /ko -->
        </div>    
    </div>
    
    <div id="mapContainer" class="map-wrap bottomBorder-Thin">
        <!--<div class="missingVideos whiteText sticky">
            <div class='tab' data-bind='click: toggleInstructions'>
                <i class="icon-lightbulb"></i><div>Missing a video?</div>
            </div>
            <div class='mapInstructions'>
                Only videos that have location data will appear on your map. To add location data to a video:<br>
                <ol>
                    <li>
                        <strong>Play</strong> the video you wish to add a location to<br>
                    </li>
                    <li>
                        <strong>Click</strong> the 'Add to Map' button in the top right<br>
                    </li>
                    <li>
                        <strong>Choose</strong> the location for your video
                    </li>
                </ol>
            </div>
        </div>-->
        <!-- ko if: points.length < 1 -->
        <div id='noPointsOverlay' class='darkBlueOpaqueBG'>
            <div class='content-Wrap centeredEl'>
                <div class='paddedDiv whiteBG'>
                    <p class='loginHeader'>You have no geotagged Videos yet!</p>
                    <p class='font18'>Some cameras (and most smartphones) save the location where a video was taken. When we detect that location, we'll add the video to your map.</p>
                    <p class='font18'>Right now, none of your videos have location data.</p>
                </div>
                <div class='turquoiseBG bottomBorder-Thick whiteText centered'>
                    <img src='css/images/mapMarker-White.png' alt='map marker'>
                    <div id='addToMap-Wrap'>
                        <p class='font20 textShadowed lightWeightFont'>Coming soon:</p>
                        <p class='heavyWeightFont font20 textShadowed'>Add to Map</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
