<div class="map bottomBorder-Thin" data-center="37.765,-122.413" data-zoom="11" data-provider="openstreetmap">
  <div class="title">
    <h2 class="cinematic textShadowed">Locations</h2>
  </div>
  <!-- ko foreach: points -->
  <div class="marker" data-bind="attr:{'data-location': location}">
    <!-- <img class="icon-play-sign" data-bind="click: $parent.play" /img> -->
    <img src='css/images/mapMarker.png' class="icon-play-sign" data-toggle="popover" data-bind="click: $parent.play,attr:{'data-content':thumbnail}" data-title="title"/>
  </div>
  <!-- /ko -->
  <!--
  <div class="controls">
    <button data-action="zoomIn">+ in</button>
    <button data-action="zoomOut">− out</button>
  </div>
  -->
</div>
