<!-- <div class="mediafile" data-bind="click:select, css:{selected: selected()}"> -->
<div class="mediafile boxShadowed" data-bind="attr:{id:media().uuid}">
  <button class="dbtn btn btn-danger btn-mini" data-bind="click:mfdelete">delete</button>
  <a class="mplay-icon" data-bind="click:play" href="#">
    <i class="icon-play-circle"></i> 
  </a>
  <i class="icon-ok-sign"></i>
  <div>
    <img data-bind="{attr:{src:media().views.thumbnail.url}}" />
  </div>
  <div class="information">
    <div class="aux pull-right muted"><img src='css/images/viewsEye.png'/><span data-bind="html: media().eyes">0</span></div>
    <div class="title truncate" style="width: 130px" data-bind="text: media().title"></div>
  </div>
</div>

