<div class="mediafile" data-bind="attr:{id:media().uuid}, css:{selected: selected(), gift: gift_style, shared: shared_style, inProcess: in_process_style}">
    <div>
        <!-- ko if: in_process_style() -->
        <div style="position: relative; overflow: hidden;" class="inProcess-Content greyBG">
            <p class="whiteText textShadowed">This video is currently in process.</p>
            <i class="fa fa-time fa-5x"></i>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: in_process_style() -->
        <div style="position: relative; overflow: hidden;">
            <!--<button class="dbtn btn btn-danger clearfix" 
            data-bind="text: options.delete_title, click:mfdelete"></button>-->
            <a class="overlay-icon right media-share-badge" alt="share" 
                title="share" data-bind="visible: show_share_badge, click: share"><i class="fa fa-share-square-o"></i></a>
            <a class="overlay-icon right media-select-badge" data-bind="visible: show_select_badge, click: selected() ? unselect : select">
                <div class="inline" title="unselect" data-bind="if: $data.selected()">
                    <i class="fa fa-check-square-o"></i>
                </div>
                <div class="inline" title="select" data-bind="ifnot: $data.selected()">
                    <i class="fa fa-square-o"></i>
                </div>
            </a>  
            <i class="fa fa-ok-sign"></i>
            <div class='pointer' data-bind="click:play">
                <a data-bind="attr:{href:image, rel: popup_player ? 'gallery1' : null}, css: { fancybox: popup_player }">
                    <div class="mplay-icon pointer">
                        <i class="fa fa-play-circle"></i> 
                    </div>
                    <img data-bind="attr:{src:image}" />
                    
                    <!-- ko if: clean_style() -->
                    <div class="information clean">
                        <!-- ko if: media().eyes > 0 -->
                        <div class="aux pull-right" title="View count"><!--<i class="fa fa-eye-open"></i><br>--><span data-bind="text: media().eyes">0</span><br><span class="small">Fan</span><br><span class="small" data-bind="text: media().eyes == 1 ? 'View' : 'Views' "></span></div>
                        <!-- /ko -->
                        <div data-bind="liveEditor: title, ifnot: ro">
                            <div class="view vidTitle title truncate" data-bind="click: title.edit, clickBubble: false, text: title() || 'Click to edit title'"></div>
                            <div class="editTitle-Wrap">
                                <input type="text" class="edit" data-bind="value: title, 
                                                                     hasFocus: title.editing, 
                                                                     event: { blur: function() { title.stopEditing(); title.save( $data, media(), 'mediaFile:TitleDescChanged' ) } }" />
                            </div>  
                        </div>
                        <div data-bind="if: ro">
                            <div class="view title truncate" data-bind="text: title() || 'no title'"></div>
                        </div>
                    </div>
                    <!-- /ko -->
                </a>
            </div>
            <div class="video-tags" data-bind="foreach: tags">
                <span data-bind="text: $root.viblio.unescapeHtml($data.label)"></span>
            </div>
        </div>
        <!-- ko ifnot: clean_style() -->
        <div class="information">
            <!-- ko if: media().eyes > 0 -->
            <div class="aux pull-right" title="View count"><!--<i class="fa fa-eye-open"></i><br>--><span data-bind="text: media().eyes">0</span><br><span class="small">Fan</span><br><span class="small" data-bind="text: media().eyes == 1 ? 'View' : 'Views' "></span></div>
            <!-- /ko -->
            <div data-bind="liveEditor: title, ifnot: ro">
                <div class="view vidTitle title truncate" data-bind="click: title.edit, text: title() || 'Click to edit title'"></div>
                <div class="editTitle-Wrap">
                    <input type="text" class="edit" data-bind="value: title, 
                                                         hasFocus: title.editing, 
                                                         event: { blur: function() { title.stopEditing(); title.save( $data, media(), 'mediaFile:TitleDescChanged' ) } }" />
                </div>  
            </div>
            <div data-bind="if: ro">
                <div class="view title truncate" data-bind="text: title() || 'no title'"></div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        
        <!-- ko if: show_faces_tags -->  
        <div class='facesTags'>
            <!-- ko ifnot: in_process_style() -->
                <div class='mfFaces'>
                    <div class='mfFaces-Inner'>
                        <!-- ko foreach: facesToShow -->
                        <img class='img-circle' data-bind="attr: {src: $data.url, title: $data.contact.contact_name}" />
                        <!-- /ko -->
                        <!-- ko if: facesLeft() > 0 -->
                        <a href="#" data-bind="click: toggleFaces" class="facesToggle">... <span data-bind="text: facesLeft"></span></a>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- ko ifnot: shared_style -->
                <i class='fa fa-tags' data-bind="click: toggleTags" title='Toggle tags'></i>
                <!-- /ko -->
                <!-- ko if: shared_style -->
                <img class="sharedOwnerAvatar boxShadowed avatar" data-bind="attr: {src: owner_avatar, title:owner_name}" />
                <!-- /ko -->
            <!-- /ko -->

            <!-- ko if: showFaces -->
                <div class="facesPopup popover top">
                    <div class="arrow"></div>
                    <h3 class="popover-title">Faces <button type="button" class="close" data-bind="click: function(){ showFaces(false); }">&times;</button></h3>
                    <div class="popover-content">
                        <div class="facesPopup-Content">
                            <div class="facesWrap">
                            <!-- ko foreach: faces -->
                            <img class='img-circle' data-bind="attr: {src: $data.url, title: $data.contact.contact_name}" />
                            <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /ko -->

            <!-- ko if: showTags -->
                <div class="tagsPopup popover top">
                    <div class="arrow custom"></div>
                    <h3 class="popover-title">Tags <button type="button" class="close" data-bind="click: function(){ showTags(false); }">&times;</button></h3>
                    <div class="popover-content">
                        <div class="tagsPopup-Content">
                            <ul class="currentTags" data-bind="visible: showTags()">
                                <!-- ko foreach: tags -->
                                <li class="tag mocksWhiteBG">
                                    <div class="tagLabel" data-bind="text: $parent.viblio.unescapeHtml($data.label), css: {truncate: $data.truncate}"></div>
                                    <!-- ko if: $parent.tags_editable() -->
                                    <i class="fa fa-times" title="Remove" data-bind="click: $parent.removeTag.bind( $data, $parent )"></i>
                                    <!-- /ko -->
                                </li>
                                <!-- /ko -->
                                <!-- ko if: tags_editable() -->
                                <li class="tag mocksWhiteBG navControl">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-bind="click: function(){ selectedTag( null ); }"><i class="fa fa-plus"></i> Add Tag</a>
                                    <ul class="style2DD dropdown-menu tags" role="menu">
                                        <li class="tagsScrollWrapper">
                                            <div class="scroller">
                                                <div class="wrapper">
                                                    <ul class="tags-inner">
                                                        <!-- ko ifnot: newTagSelected() -->
                                                        <li data-bind="click: function(){ selectedTag( 'New Tag' ); }, clickBubble: false">
                                                            <a class="checkboxedLi">
                                                                <i class='fa fa-plus'></i>
                                                                <div class="inline tagLabel" data-bind="css:{sel: $data.selected()}">New Tag</div>
                                                            </a>
                                                        </li>
                                                        <!-- ko if: show_predefined_tags() --><li class="divider"></li><!-- /ko -->
                                                        <!-- /ko -->
                                                      <!-- ko foreach: tagLabels -->
                                                        <!-- ko ifnot: $parent.newTagSelected() || !$parent.show_predefined_tags() -->
                                                                <li data-bind="click: $parent.tagSelected.bind( $data, $parent ), clickBubble: false">
                                                                    <a class="checkboxedLi">
                                                                        <!-- ko if: $data.label == 'New Tag' --> <i class='fa fa-plus'></i> <!-- /ko -->
                                                                        <div class="inline tagLabel" data-bind="text: $data.label, css:{sel: $data.selected()}"></div>
                                                                    </a>
                                                                </li>
                                                            <!-- /ko -->
                                                        <!-- /ko -->
                                                      <li data-bind="visible: newTagSelected()">
                                                          <input class="newTagInput" type="text" style="padding-right: 24px;" data-bind="click: function(x,e){ e.stopPropagation(); }, value: newTag, event: { blur: addTag }, returnKey: blur" placeholder="Enter Tag"><span class="editable-clear-x" style="display: none;"></span>    
                                                      </li>
                                                    </ul>    
                                                </div>                  
                                            </div>
                                        </li>
                                    </ul>   
                                </li>
                                <li class="tag mocksWhiteBG recording-date editable" title="Add a date">
                                    <i class="fa fa-calendar"></i>
                                </li>
                                <!-- /ko -->

                                <!-- ko if: !tags_editable() && tags().length < 1 -->
                                <li class="tag">
                                    <span>This video does not have any tags yet.</span>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </div>
                </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>