<div class="mediafile" data-bind="attr:{id:media().uuid}, css:{selected: $data.selected()}">
  <div>
    <div style="position: relative; overflow: hidden;">
      <button class="dbtn btn btn-danger clearfix" 
	      data-bind="text: options.delete_title, click:mfdelete"></button>
      <a class="btn btn-primary media-share-badge" alt="share" 
	 title="share" data-bind="visible: show_share_badge, click: share"><i class="icon-share"></i></a>
      <a class="btn btn-primary media-select-badge" data-bind="visible: show_select_badge, click: select">
        <div class="inline" title="unselect" data-bind="if: $data.selected()">
            <i class="icon-check"></i>
        </div>
        <div class="inline" title="select" data-bind="ifnot: $data.selected()">
            <i class="icon-unchecked"></i>
        </div>
      </a>   
      <a class="mplay-icon pointer" data-bind="click:play">
        <i class="icon-play-circle"></i> 
      </a>
      <i class="icon-ok-sign"></i>
      <div class='pointer' data-bind="click:play">
        <img data-bind="attr:{src:image}" />
        <!-- ko if: shared_style -->
        <div class="sharedOwnerWrap">
            <img class="boxShadowed avatar" data-bind="attr: {src: owner_avatar}" />
            <span class="truncate" data-bind="text: owner_name"></span>
        </div>
        <!-- /ko -->
      </div>
      <div class="video-tags"
	   style="position: absolute; bottom: 3px; left: 8px;"
	   data-bind="foreach: tags">
	<span data-bind="text: $data"></span>
      </div>
    </div>
    <div class="information">
      <div class="aux pull-right" title="View count"><i class="icon-eye-open"></i><br><span data-bind="html: media().eyes">0</span></div>
      <div data-bind="liveEditor: title, ifnot: ro">
        <div class="view vidTitle title truncate" data-bind="click: title.edit, text: title() || 'Click to edit title'"></div>
        <div class="editTitle-Wrap">
          <input type="text" class="edit" data-bind="value: title, 
						     hasFocus: title.editing, 
						     event: { blur: function() { title.stopEditing(); title.save( $data, media(), 'mediaFile:TitleDescChanged' ) } }" />
        </div>  
      </div>
      <div data-bind="if: ro">
	<div class="view title truncate" data-bind="text: title() || 'no title'"></div>
      </div>
    </div>
  </div>
</div>

