<div class="vstrip">
  <div class="media-container">
    <div class="media-container-inner">
      <div class="no-related-videos" data-bind="if: mediafiles().length==0 && query_in_progress()==false">
	There are no related videos.
      </div>
      <!-- ko foreach: mediafiles -->
      <div data-bind="compose: $data"></div>
      <!-- /ko -->
      <div class="vstrip-query-in-progress" data-bind="visible: query_in_progress()">
	<i class="icon-spinner icon-spin active"></i>
      </div>
    </div>
  </div>
</div>
