<div class="allVidsPage clearfix">
    
    <div class='vids-nav navbar toolbar' data-bind='visible: select_mode_on() == false'>
        <div class='navbar-inner'>
            <ul class='navbar-left nav'>
                <li class="divider-vertical"></li>
                <li style="display: inline-block;" class="dropdown navControl">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-bind="css: { active: recentUploadsIsActive() || allVidsIsSelected() }">
                        <!-- ko if: recentUploadsIsActive -->
                        <i class='icon-time'></i>
                        <span data-bind="visible: wideScreen()"> Recent</span>
                        <!-- /ko -->
                        <!-- ko ifnot: recentUploadsIsActive -->
                        <i class='icon-th'></i>
                        <span data-bind="visible: wideScreen()"> Library</span>
                        <!-- /ko -->
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="style2DD dropdown-menu tags" role="menu">
                      <li class="tagsScrollWrapper">
                          <div class="scroller">
                              <div class="wrapper">
                                   <ul class="tags-inner">
                                        <li data-bind='click: recentVidsSearch'>
                                            <a class="checkboxedLi">
                                                <i class='icon-time'></i>
                                                <span> Recent</span>                                        
                                            </a>
                                        </li>
                                        <li data-bind='click: showAllVideos'>
                                            <a class="checkboxedLi">
                                                <i class='icon-th'></i>
                                                <span> Library</span>                                        
                                            </a>
                                        </li>
                                   </ul>    
                              </div>                  
                          </div>
                      </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                
                <li class='find-wrapper'>
                    <ul class='nav'>
                        <li>
                            <a href='#' data-bind='click: toggle_find_options'>
                                <div class="btn_text" title="Find">
                                    <i class='icon-search'></i>
                                    <span data-bind="visible: wideScreen()">Find</span>
                                    <!-- ko if: show_find_options -->
                                    <i class="icon-chevron-left"></i>
                                    <!-- /ko -->
                                    <!-- ko ifnot: show_find_options -->
                                    <i class="icon-chevron-right"></i>
                                    <!-- /ko -->
                                </div>    
                            </a>
                        </li>

                        
                        <li class='find-inner' data-bind="visible: show_find_options">
                            <ul class='nav'>
                                
                                <li class="divider-vertical"></li>
                                <!-- people filter -->
                                <li style="display: inline-block;" class="dropdown navControl">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-bind="css: { active: faceFilterIsActive }" title="Filter by People"><i class="icon-user"></i><span data-bind="visible: wideScreen()"> People</span> <!--<span data-bind="if: faceFilterIsActive">(<span data-bind="text: selectedFace() ? selectedFace().contact_name : 'All' "></span>)</span>--></a>
                                    <ul class="style2DD dropdown-menu tags" role="menu">
                                      <li class="tagsScrollWrapper">
                                          <div class="scroller">
                                              <div class="wrapper">
                                                  <ul class="tags-inner">
                                                    <!-- ko foreach: facesLabels -->
                                                        <li data-bind="click: $parent.faceSelected.bind( $data, $parent ), clickBubble: false">
                                                            <a class="checkboxedLi">
                                                                <div class="itemActive-Wrap">
                                                                    <div class="itemActive" data-bind="css: {on: $data.selected()}"></div>
                                                                </div>
                                                                <div class="inline tagLabel" data-bind="text: $data.label, css:{sel: $data.selected()}"></div>
                                                                <div class="checkboxPadding"></div>
                                                                <div class="checkbox-Wrap" data-bind="if: $data.selected()">
                                                                    <i class="icon-check"></i>
                                                                </div>
                                                                <div class="checkbox-Wrap" data-bind="ifnot: $data.selected()">
                                                                    <i class="icon-unchecked"></i>
                                                                </div>                                    
                                                            </a>
                                                        </li>
                                                    <!-- /ko -->
                                                  </ul>    
                                              </div>                  
                                          </div>
                                      </li>
                                    </ul>
                                </li>
                                <li class="divider-vertical"></li>

                                <!-- places filter -->
                                <li style="display: inline-block;" class="dropdown navControl">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-bind="css: { active: cityFilterIsActive }" title="Filter by Places"><i class="icon-map-marker"></i><span data-bind="visible: wideScreen()"> Places</span> <!--<span data-bind="if: cityFilterIsActive">(<span data-bind="text: selectedCity() ? selectedCity() : 'All' "></span>)</span>--></a>
                                    <ul class="style2DD dropdown-menu tags" role="menu">
                                      <li class="tagsScrollWrapper">
                                          <div class="scroller">
                                              <div class="wrapper">
                                                  <ul class="tags-inner">
                                                    <!-- ko foreach: citiesLabels -->
                                                        <li data-bind="click: $parent.citySelected.bind( $data, $parent ), clickBubble: false">
                                                            <a class="checkboxedLi">
                                                                <div class="itemActive-Wrap">
                                                                    <div class="itemActive" data-bind="css: {on: $data.selected()}"></div>
                                                                </div>
                                                                <div class="inline tagLabel" data-bind="text: $data.label, css:{sel: $data.selected()}"></div>
                                                                <div class="checkboxPadding"></div>
                                                                <div class="checkbox-Wrap" data-bind="if: $data.selected()">
                                                                    <i class="icon-check"></i>
                                                                </div>
                                                                <div class="checkbox-Wrap" data-bind="ifnot: $data.selected()">
                                                                    <i class="icon-unchecked"></i>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    <!-- /ko -->
                                                  </ul>    
                                              </div>                  
                                          </div>
                                      </li>
                                    </ul>
                                </li>
                                <li class="divider-vertical"></li>

                                <!-- albums filter -->
                                <li class="dropdown navControl albumsList">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-bind="css: { active: albumFilterIsActive }" title="Filter by Albums"><i class="icon-picture"></i><span data-bind="visible: wideScreen()"> Albums</span> <!--<span data-bind="if: albumFilterIsActive">(<span data-bind="text: selectedFilterAlbum() ? selectedFilterAlbum() : 'All' "></span>)</span>--></a>
                                    <ul class="style2DD dropdown-menu tags albumList" role="menu">
                                      <li class="tagsScrollWrapper">
                                          <div class="scroller">
                                              <div class="wrapper">
                                                  <ul class="tags-inner">
                                                    <!-- ko foreach: albumsFilterLabels -->
                                                        <li data-bind="click: $parent.albumFilterSelected.bind( $data, $parent ), clickBubble: false">
                                                            <a class="checkboxedLi">
                                                                <div class="itemActive-Wrap">
                                                                    <div class="itemActive" data-bind="css: {on: $data.selected()}"></div>
                                                                </div>
                                                                <div class="inline tagLabel" data-bind="text: $data.label, css:{sel: $data.selected(), sharedStyle: $data.shared}"></div>
                                                                <div class="checkboxPadding"></div>
                                                                <div class="checkbox-Wrap" data-bind="if: $data.selected()">
                                                                    <i class="icon-check"></i>
                                                                </div>
                                                                <div class="checkbox-Wrap" data-bind="ifnot: $data.selected()">
                                                                    <i class="icon-unchecked"></i>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    <!-- /ko -->
                                                  </ul>    
                                              </div>                  
                                          </div>
                                      </li>
                                    </ul>
                                </li>
                                <li class="divider-vertical"></li>

                                <!-- search bar -->
                                <li>
                                    <form class="navbar-form navbar-left" role="search">
                                        <div class="input-append">
                                            <input type="text" class="search-query" placeholder="Search by title or tag" data-bind="value: searchQuery">
                                            <button type="submit" class="btn btn-white" data-bind="click: newVidsSearch"><i class="icon-search"></i></button>
                                            <!-- ko if: searchFilterIsActive() -->
                                            <button class="btn btn-secondary" data-bind="click: showAllVideos, tooltip: {title:'Clear search'}"><i class="icon-remove"></i></button>
                                            <!-- /ko -->
                                        </div>
                                    </form>    
                                </li>
                                <li class="divider-vertical"></li>
    
                            </ul>                           
                        </li><!-- end find-inner -->
                       
                    </ul>

                </li><!-- end find-wrapper -->
                <!-- ko ifnot: show_find_options --> 
                <li class="divider-vertical"></li>
                <!-- /ko -->

            </ul><!-- end navbar-left -->
            
            <ul class='navbar-right nav pull-right'>
                <li class="divider-vertical" data-bind="visible: albumFilterIsActive() && !albumIsShared()"></li>
                <!-- share --> 
                <li class="" data-bind="visible: albumFilterIsActive() && !albumIsShared()">
                    <a href='#' data-bind='click: share_mode'>
                        <div class="btn_text" title="Share Album">
                            <i class='icon-share'></i>
                            <span data-bind="visible: wideScreen()"> Share Album</span>
                        </div>    
                    </a>
                </li>
                <li class="divider-vertical"></li>
                
                <!-- Add to --> 
                <li class="dropdown navControl albumsList">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-bind="tooltip: {title: 'Choose an album that you want to add videos to.'}"><i class="icon-plus"></i><span data-bind="visible: wideScreen()"> Add To </span></a>
                    <ul class="style2DD dropdown-menu tags albumList" role="menu">
                      <li class="tagsScrollWrapper">
                          <div class="scroller">
                              <div class="wrapper">
                                  <ul class="tags-inner">
                                    <!-- ko foreach: albumLabels -->
                                        <li data-bind="click: $parent.addToAlbumSelected.bind( $data, $parent ), clickBubble: false">
                                            <a class="checkboxedLi">
                                                <div class="itemActive-Wrap">
                                                    <div class="itemActive" data-bind="css: {on: $data.selected()}"></div>
                                                </div>
                                                <div class="inline tagLabel" data-bind="text: $data.label, css:{sel: $data.selected(), sharedStyle: $data.shared}"></div>
                                                <div class="checkboxPadding"></div>
                                                <div class="checkbox-Wrap" data-bind="if: $data.selected()">
                                                    <i class="icon-check"></i>
                                                </div>
                                                <div class="checkbox-Wrap" data-bind="ifnot: $data.selected()">
                                                    <i class="icon-unchecked"></i>
                                                </div>
                                            </a>
                                        </li>
                                    <!-- /ko -->
                                  </ul>    
                              </div>                  
                          </div>
                      </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                
                <!-- trash -->
                <li style="display: inline-block;" class="dropdown navControl" data-bind="visible: !albumFilterIsActive()">
                    <a href='#' data-bind='click: delete_mode'>
                        <div class="btn_text" title="Delete">
                            <i class='icon-trash'></i>
                            <span data-bind="visible: wideScreen()"> Delete</span>
                        </div>    
                    </a>
                </li>
                
                <li style="display: inline-block;" class="dropdown navControl" data-bind="visible: albumFilterIsActive()">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <div class="btn_text">
                            <i class='icon-trash'></i>
                            <span>Remove</span>
                            <i class="icon-chevron-down"></i>
                        </div>    
                    </a>
                    <ul class="style2DD dropdown-menu tags" role="menu">
                        <li class="tagsScrollWrapper">
                          <div class="scroller">
                              <div class="wrapper">
                                   <ul class="tags-inner">
                                        <li>
                                            <a href='#' data-bind='click: delete_mode'>
                                                <div class="btn_text">
                                                    <i class='icon-trash'></i>
                                                    <span> Remove videos from album</span>
                                                </div>    
                                            </a>    
                                        </li>
                                        <li>
                                            <a href='#' data-bind='click: delete_album'>
                                                <div class=''>
                                                    <i class='icon-minus'></i>
                                                    <span> Delete album</span>
                                                </div>
                                            </a>
                                        </li>
                                   </ul>    
                              </div>                  
                          </div>
                        </li>
                    </ul>
                </li>
                
                <li class="divider-vertical"></li>
                
            </ul>    
        </div><!-- end navbar-inner -->       
    </div> <!-- end vids-nav -->
    
    <div class='select-nav navbar toolbar' data-bind='visible: select_mode_on'>
        <div class='navbar-inner'>
            <ul class='navbar-left nav'>
                <li class="divider-vertical"></li>
                <li style="display: inline-block;" class="dropdown navControl">
                    <span class="vidsSelectedLabel">
                        <span class="badge" data-bind="text: selectedVideos().length"></span> <span data-bind="text: selectedVideos().length == 1 ? 'video' : 'videos' "></span> selected to be  
                        <!-- ko if: delete_mode_on() && !albumFilterIsActive() -->
                        <span>deleted from your account</span>
                        <!-- /ko -->
                        
                        <!-- ko if: delete_mode_on() && albumFilterIsActive() -->
                        <span>removed from this album</span>
                        <!-- /ko -->
                        
                        <!-- ko if: share_mode_on() -->
                        <span>shared</span>
                        <!-- /ko -->
                        
                        <!-- ko if: add_to_mode_on() -->
                            <span>added to </span>
                            <!-- ko if: selectedAddToAlbum().label === 'Create New Album' -->
                            <span>a new album</span>
                            <!-- /ko -->
                            <!-- ko ifnot: selectedAddToAlbum().label === 'Create New Album' -->
                            <span>the "<span data-bind="text: selectedAddToAlbumLabel"></span>" album</span>
                            <!-- /ko -->
                        <!-- /ko -->                    
                    </span>
                </li>
                <li class="divider-vertical"></li>
                
                <li>
                    <!-- ko if: selectedVideos().length == 0 -->
                    <a href='#' data-bind='click: selectAll'>
                        <div class="btn_text">
                            <i class='icon-check'></i>
                            <span>Select All</span>
                        </div>    
                    </a>
                    <!-- /ko -->
                    <!-- ko if: selectedVideos().length > 0 -->
                    <a href='#' data-bind='click: unselectAll'>
                        <div class="btn_text">
                            <i class="icon-unchecked"></i>
                            <span>Unselect All</span>
                        </div>    
                    </a>
                    <!-- /ko -->
                </li>
            </ul><!-- end navbar-left -->
            
            <ul class='navbar-right nav pull-right'>
                
                <!-- Done -->
                <li class="divider-vertical"></li>
                <li class="">
                    <a href='#' data-bind='click: done_with_select_mode'>
                        <div class="btn_text">
                            <span>Done</span>
                        </div>    
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <!-- Cancel --> 
                <li class="">
                    <a href='#' data-bind='click: cancel_select_mode'>
                        <div class="btn_text">
                            <i class='icon-remove'></i>
                        </div>    
                    </a>
                </li>
                <li class="divider-vertical"></li>
                
            </ul>    
        </div><!-- end navbar-inner -->       
    </div> <!-- end select-nav -->
    
    <div class="table">
        <!-- ko if: !isActiveFlag() -->

        <!--<span>select_mode_on: </span><span data-bind="text: select_mode_on"></span><br>

        <span>share_mode_on: </span><span data-bind="text: share_mode_on"></span><br>
        <span>add_to_mode_on: </span><span data-bind="text: add_to_mode_on"></span> <span>selectedAddToAlbum: </span><span data-bind="text: selectedAddToAlbumLabel"></span><br>
        <span>delete_mode_on: </span><span data-bind="text: delete_mode_on"></span>
        <br>
        <span>albumFilterIsActive: </span><span data-bind="text: albumFilterIsActive"></span><br>
        <span>selectedFilterAlbum: </span><span data-bind="text: selectedFilterAlbum"></span><br>
        <span>active_filter_label: </span><span data-bind="text: active_filter_label"></span><br>
        <span>searchFilterIsActive: </span><span data-bind="text: searchFilterIsActive"></span>-->

        <div class="clearfix newHomeTitle-Wrap">
            <div style="display: block; text-align: center;" class="mainTitle textShadowed createAlbumDesc" data-bind="if: noFiltersAreActive() && !searchFilterIsActive()">
                You have <span data-bind="text: hits"></span>
                <span data-bind="text: hits() == 1 ? ' video ' : ' videos'"></span> in your private Viblio Library. 
            </div>

            <div style="display: block; text-align: center;" class="mainTitle textShadowed" data-bind="if: !isActiveFlag() && !noFiltersAreActive() || searchFilterIsActive()"> 
                <!-- ko if: !albumFilterIsActive() -->
                You have
                <span data-bind="text: hits"></span>
                <span data-bind="text: hits() == 1 ? ' video ' : ' videos'"></span>
                that<span data-bind="text: hits() == 1 ? ' matches' : ' match'"></span> your
                "<span data-bind="text: active_filter_label()"></span>" filter
                <!-- /ko -->
                <!-- ko if: albumFilterIsActive() -->
                    <!-- ko ifnot: currentSelectedFilterAlbum().shared -->
                    <!-- ko if: albumIsShared() -->
                    <i class='icon-users' data-bind='click: seeSharedMembers'></i>
                    <!-- /ko -->
                    <!-- ko ifnot: albumIsShared() -->
                    <i class='icon-folder'></i>
                    <!-- /ko -->
                    You have
                    <span data-bind="text: videos().length"></span>
                    <span data-bind="text: videos().length == 1 ? ' video ' : ' videos'"></span>
                    in your "<span data-bind="text: selectedFilterAlbum"></span>" album
                    <!-- /ko -->
                    <!-- ko if: currentSelectedFilterAlbum().shared -->
                    There <span data-bind="text: videos().length == 1 ? 'is ' : 'are '"></span>
                    <span data-bind="text: videos().length"></span>
                    <span data-bind="text: videos().length == 1 ? ' video ' : ' videos'"></span>
                    in the "<span data-bind="text: selectedFilterAlbum"></span>" album
                    <!-- /ko -->
                <!-- /ko -->
                .           
            </div>
        </div>

        <!-- /ko -->

        <div data-bind="if: hits() < 1 && !isActiveFlag()">
            <p class="font24 tomatoFont doubleSpaced centered">
              Bummer, I can’t find a video that matches this search.
            </p>
        </div>

    </div>
    
    <div class="containerxx">
        <div class="table allVidsInner clearfix">    

            <div class="dates" data-bind="visible: !searchFilterIsActive()">
                <div class="scroller">
                    <div class="wrapper textShadowed">
                        <!-- ko foreach: datesLabels -->
                        <div class="year">
                            <h1 data-bind="click: $parent.monthSelected.bind( $data, $parent ), css:{sel: $data.selected()}">
                                <span data-bind="text: $data.shortMonth"></span> <span data-bind="text: $data.year"></span>
                            </h1>
                        </div>               
                        <!-- /ko -->
                        <div class="year">
                            <h1 data-bind="click: showAllVideos, css:{sel: !selectedMonth()}">
                                <span>All</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div id="allVidsWrap" class="clearfix">
                <!-- ko foreach: videos -->
                    <!-- ko compose: $data --><!--/ko-->
                <!-- /ko -->
                <!-- ko if: isActiveFlag() -->
                <div class="mfLoader">
                    <i class="icon-spinner icon-5x icon-spin active"></i>
                    <p class='font18'>Loading...</p>
                </div>
                <!-- /ko -->
            </div>

        </div>    
    </div>
</div>