<div class="allVidsPage clearfix">
    
    <div class='vids-nav navbar toolbar' data-bind='visible: select_mode_on() == false'>
        <div class='navbar-inner'>
            <ul class='navbar-left nav'>
                <li class="divider-vertical"></li>
                <li style="display: inline-block;" class="dropdown navControl">
                    <button class="dropdown-toggle toolbar-btn" href="#" data-toggle="dropdown" data-bind="css: { active: activeFilterType() == 'recent' || activeFilterType() == 'all' }, disable: isActiveFlag()">
                        <i class='fa fa-th'></i>
                        <span data-bind="visible: wideScreen()"> Library</span>
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="style2DD dropdown-menu tags" role="menu">
                      <li class="tagsScrollWrapper">
                          <div class="scroller">
                              <div class="wrapper">
                                   <ul class="tags-inner">
                                        <li data-bind='click: function(){ getRecentVids(true); }'>
                                            <a class="checkboxedLi">
                                                <i class='fa fa-clock-o'></i>
                                                <span> Recent</span>                                        
                                            </a>
                                        </li>
                                        <li data-bind='click: showAllVideos'>
                                            <a class="checkboxedLi">
                                                <i class='fa fa-th'></i>
                                                <span> All</span>                                        
                                            </a>
                                        </li>
                                   </ul>    
                              </div>                  
                          </div>
                      </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                
                <!-- albums filter -->
                <!--<li class="dropdown navControl albumsList">
                    <button class="dropdown-toggle toolbar-btn" href="#" data-toggle="dropdown" data-bind="css: { active: activeFilterType() == 'album' }, click: function(){ showMessage( 'albums' ); }, disable: isActiveFlag()" title="Filter by Albums"><i class="fa fa-picture"></i><span data-bind="visible: wideScreen()"> Albums</span></button>
                    <ul class="style2DD dropdown-menu tags albumList" role="menu">
                      <li class="tagsScrollWrapper">
                          <div class="scroller">
                              <div class="wrapper">
                                  <ul class="tags-inner">
                                    <!-- ko foreach: albumsFilterLabels -->
                                        <!--<li data-bind="click: $parent.albumFilterSelected.bind( $data, $parent ), clickBubble: false">
                                            <a class="checkboxedLi" data-bind="css: { on: $data.selected() }">
                                                <div class="itemActive-Wrap">
                                                    <div class="itemActive" data-bind="css: { on: $data.selected() }"></div>
                                                </div>
                                                <div class="inline tagLabel" data-bind="text: $data.label, css:{ sel: $data.selected(), sharedStyle: $data.shared }"></div>
                                                <!--<div class="checkboxPadding"></div>
                                                <div class="checkbox-Wrap" data-bind="if: $data.selected()">
                                                    <i class="fa fa-check-square-o"></i>
                                                </div>
                                                <div class="checkbox-Wrap" data-bind="ifnot: $data.selected()">
                                                    <i class="fa fa-square-o"></i>
                                                </div>-->
                                            <!--</a>
                                        </li>
                                    <!-- /ko -->
                                  <!--</ul>    
                              </div>                  
                          </div>
                      </li>
                    </ul>
                </li>
                <li class="divider-vertical divider-vertical-thick"></li>-->
                
                <!-- people filter -->
                <li style="display: inline-block;" class="dropdown navControl">
                    <button class="dropdown-toggle toolbar-btn" href="#" data-toggle="dropdown" data-bind="css: { active: activeFilterType() == 'faces' }, click: function(){ showMessage( 'people' ); }, disable: isActiveFlag()" title="Filter by People"><i class="fa fa-user"></i><span data-bind="visible: wideScreen()"> People</span></button>
                    <ul class="style2DD dropdown-menu tags" role="menu">
                      <li class="tagsScrollWrapper">
                          <div class="scroller">
                              <div class="wrapper">
                                  <ul class="tags-inner">
                                    <!-- ko foreach: facesLabels -->
                                        <li data-bind="click: $parent.faceSelected.bind( $data, $parent ), clickBubble: false">
                                            <a class="checkboxedLi" data-bind="css: { on: $data.selected() }">
                                                <div class="itemActive-Wrap">
                                                    <div class="itemActive" data-bind="css: { on: $data.selected() }"></div>
                                                </div>
                                                <div class="inline tagLabel" data-bind="text: $data.label, css:{ sel: $data.selected() }"></div>
                                                <!--<div class="checkboxPadding"></div>
                                                <div class="checkbox-Wrap" data-bind="if: $data.selected()">
                                                    <i class="fa fa-check-square-o"></i>
                                                </div>
                                                <div class="checkbox-Wrap" data-bind="ifnot: $data.selected()">
                                                    <i class="fa fa-square-o"></i>
                                                </div>-->                                    
                                            </a>
                                        </li>
                                    <!-- /ko -->
                                  </ul>    
                              </div>                  
                          </div>
                      </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>

                <!-- places filter -->
                <li style="display: inline-block;" class="dropdown navControl">
                    <button class="dropdown-toggle toolbar-btn" data-toggle="dropdown" data-bind="css: { active: activeFilterType() == 'cities' }, click: function(){ showMessage( 'places' ); }, disable: isActiveFlag()" title="Filter by Places"><i class="fa fa-map-marker"></i><span data-bind="visible: wideScreen()"> Places</span></button>
                    <ul class="style2DD dropdown-menu tags" role="menu">
                      <li class="tagsScrollWrapper">
                          <div class="scroller">
                              <div class="wrapper">
                                  <ul class="tags-inner">
                                    <!-- ko foreach: citiesLabels -->
                                        <li data-bind="click: $parent.citySelected.bind( $data, $parent ), clickBubble: false">
                                            <a class="checkboxedLi" data-bind="css: { on: $data.selected() }">
                                                <div class="itemActive-Wrap">
                                                    <div class="itemActive" data-bind="css: { on: $data.selected() }"></div>
                                                </div>
                                                <div class="inline tagLabel" data-bind="text: $data.label, css:{ sel: $data.selected() }"></div>
                                                <!--<div class="checkboxPadding"></div>
                                                <div class="checkbox-Wrap" data-bind="if: $data.selected()">
                                                    <i class="fa fa-check-square-o"></i>
                                                </div>
                                                <div class="checkbox-Wrap" data-bind="ifnot: $data.selected()">
                                                    <i class="fa fa-square-o"></i>
                                                </div>-->
                                            </a>
                                        </li>
                                    <!-- /ko -->
                                  </ul>    
                              </div>                  
                          </div>
                      </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>

                <!-- search bar -->
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-append">
                            <input type="text" class="search-query" placeholder="Search by title or tag" data-bind="value: searchQuery">
                            <button type="submit" class="btn btn-white" data-bind="click: newVidsSearch, disable: isActiveFlag()"><i class="fa fa-search"></i></button>
                            <!-- ko if: activeFilterType() == 'search' -->
                            <button class="btn btn-secondary" data-bind="click: showAllVideos, tooltip: {title:'Clear search', placement : 'bottom'}"><i class="fa fa-times"></i></button>
                            <!-- /ko -->
                        </div>
                    </form>    
                </li>
                <li class="divider-vertical"></li>

            </ul><!-- end navbar-left -->
            
            <ul class='navbar-right nav pull-right'>
                <li class="divider-vertical" data-bind="visible: showInProcessCount()"></li>
                <!-- In Process --> 
                <li class="" data-bind="visible: showInProcessCount()">
                    <span class="vidsInProcessLabel">
                        <span class="badge badge-turquise" data-bind="text: vidsInProcess"></span> <span class="turquoiseFont"><span data-bind="text: vidsInProcess() == 1 ? 'Video' : 'Videos'"></span> In Process</span>
                    </span>
                </li>
                
                <li class="divider-vertical"></li>
                
                <!-- video mode toggle -->
                <li class="videoPhotoSwitch" data-bind="tooltip: {title: 'Toggle between photos and the videos they are from', placement: 'bottom' }">
                    <!--<span class="videoPhotoLabel" data-bind="css: {active: !video_mode_on()}">Photo</span>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" data-bind="checked: video_mode_on, disable: isActiveFlag()">
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <span class="videoPhotoLabel" data-bind="css: {active: video_mode_on()}">Video</span>-->
                    
                    <p class="field switch">
                        <label class="cb-disable" data-bind="click: toggleVideoMode, css: {selected: video_mode_on()}"><span>Videos</span></label>
                        <label class="cb-enable" data-bind="click: togglePhotoMode, css: {selected: !video_mode_on()}"><span>Photos</span></label>
                        <input type="checkbox" id="checkbox" class="checkbox" name="field2" data-bind="checked: video_mode_on" />
                    </p>
                </li>
                <li class="divider-vertical"></li>
                
                <!-- Create -->
                <li class="dropdown navControl albumsList">
                    <button class="dropdown-toggle addToButton toolbar-btn" data-toggle="dropdown" data-bind="disable: isActiveFlag()"><i class="fa fa-plus"></i><span data-bind="visible: wideScreen()"> Create </span></button>
                    <ul class="style2DD dropdown-menu tags albumList" role="menu">
                      <li class="tagsScrollWrapper">
                          <div class="scroller">
                              <div class="wrapper">
                                  <ul class="tags-inner" data-bind="visible: video_mode_on()">
                                      <li>
                                          <a href="#" data-bind="click: function() { add_to_mode( 'new' ); }">New Video Album</a>
                                      </li>
                                      <li>
                                          <a href="#" data-bind="click: function() { add_to_mode( 'existing' ); }">Add more videos to an existing album</a>
                                      </li>
                                  </ul>
                                  <ul class="tags-inner" data-bind="visible: !video_mode_on()">
                                      <li>
                                          <a class="fb-icon-link" href="#" data-bind="click: function() { add_to_mode( 'facebook' ); }">Select photos to post to <img class="fb-icon" src="css/images/facebook/FB-f-Logo__blue_29.png" alt="Facebook logo"> album</a>
                                      </li>
                                  </ul>
                              </div>                  
                          </div>
                      </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                
                <!-- more -->
                <li style="display: inline-block;" class="dropdown navControl">
                    <button class="dropdown-toggle toolbar-btn" data-toggle="dropdown" data-bind="disable: isActiveFlag()">
                        <i class='fa fa-list'></i>
                        <span data-bind="visible: wideScreen()">More</span>    
                    </button>
                    <ul class="style2DD dropdown-menu albumList" role="menu">
                        <li class="tagsScrollWrapper">
                          <div class="scroller">
                              <div class="wrapper">
                                  <ul class="tags-inner" data-bind="visible: !video_mode_on()">
                                        <li>
                                            <a href='#' data-bind='click: delete_mode'>
                                                <div class="btn_text">
                                                    <i class='fa fa-trash'></i>
                                                    <span> Select photos to delete</span>
                                                </div>    
                                            </a>
                                        </li>    
                                  </ul>
                                  <ul class="tags-inner" data-bind="visible: activeFilterType() != 'album' && video_mode_on()">
                                        <li>
                                            <a href='#' data-bind='click: delete_mode'>
                                                <div class="btn_text">
                                                    <i class='fa fa-trash'></i>
                                                    <span> Select videos to delete</span>
                                                </div>    
                                            </a>
                                        </li>    
                                  </ul>
                                   <ul class="tags-inner" data-bind="visible: activeFilterType() == 'album' && video_mode_on()">
                                        <li>
                                            <a href='#' data-bind='click: delete_mode'>
                                                <div class="btn_text">
                                                    <i class='fa fa-trash'></i>
                                                    <span> Remove videos from album</span>
                                                </div>    
                                            </a>    
                                        </li>
                                        <li>
                                            <a href='#' data-bind='click: delete_album'>
                                                <div class=''>
                                                    <i class='fa fa-minus'></i>
                                                    <span> Delete album</span>
                                                </div>
                                            </a>
                                        </li>
                                   </ul>    
                              </div>                  
                          </div>
                        </li>
                    </ul>
                </li>
                
                <li class="divider-vertical"></li>
                
            </ul>    
        </div><!-- end navbar-inner -->       
    </div> <!-- end vids-nav -->
    
    <div class='select-nav alt2 navbar toolbar' data-bind='visible: select_mode_on'>
        <div class='navbar-inner'>
            <ul class='navbar-left nav'>
                <li class="divider-vertical"></li>
                <li style="display: inline-block;" class="navControl">
                    <!-- videos mode -->
                    <span class="vidsSelectedLabel" data-bind="if: video_mode_on()">
                        <span class="selectedNum" data-bind="text: selectedVideos().length"></span> <span data-bind="text: selectedVideos().length == 1 ? 'video' : 'videos' "></span> selected to be  
                        <!-- ko if: delete_mode_on() && activeFilterType() != 'album' -->
                        <span>deleted from your account</span>
                        <!-- /ko -->
                        
                        <!-- ko if: delete_mode_on() && activeFilterType() == 'album' -->
                        <span>removed from this album</span>
                        <!-- /ko -->
                        
                        <!-- ko if: share_mode_on() -->
                        <span>shared</span>
                        <!-- /ko -->
                        
                        <!-- ko if: add_to_mode_on() -->
                            <span>added to </span>
                            <!-- ko if: create_new_vid_album_mode_on() -->
                            <span>a new album</span>
                            <!-- /ko -->
                            <!-- ko if: add_to_existing_vid_album_mode_on() -->
                            <span>an existing album</span>
                            <!-- /ko -->
                            <!-- ko if: add_to_existing_blank_album_mode_on() -->
                            <span>this blank album</span>
                            <!-- /ko -->
                        <!-- /ko -->                    
                    </span>
                    
                    <!-- photos mode -->
                    <span class="vidsSelectedLabel" data-bind="if: !video_mode_on()">
                        <span class="selectedNum" data-bind="text: selectedPhotos().length"></span> <span data-bind="text: selectedPhotos().length == 1 ? 'photo' : 'photos' "></span> selected
                        <!-- ko if: create_facebook_album_mode_on() -->
                        <span>for your photo album</span>
                        <!-- /ko -->
                        <!-- ko if: delete_mode_on() -->
                        <span>to be removed from your account</span>
                        <!-- /ko -->
                    </span>
                </li>
                <li class="divider-vertical"></li>
                
                <li>
                    <!-- ko ifnot: select_all_mode_is_on() -->
                    <a href='#' data-bind='click: selectAll' title="Click to select all">
                        <div class="btn_text">
                            <i class='fa fa-square-o'></i>
                            <span>Select All</span>
                        </div>    
                    </a>
                    <!-- /ko -->
                    <!-- ko if: select_all_mode_is_on() -->
                    <a href='#' data-bind='click: unselectAll' title="Click to unselect all">
                        <div class="btn_text">
                            <i class="fa fa-check-square-o"></i>
                            <span>Select All</span>
                        </div>    
                    </a>
                    <!-- /ko -->
                </li>
            </ul><!-- end navbar-left -->
            
            <ul class='navbar-right nav pull-right'>
                
                <!-- Done -->
                <li class="divider-vertical"></li>
                <li class="">
                    <a class="selectDone" href='#' data-bind='click: done_with_select_mode' title='Done'>
                        <div class="btn_text">
                            <!-- ko if: delete_mode_on() -->
                                <!-- ko if: !video_mode_on() -->
                                    <span>Delete Photos</span>
                                <!-- /ko -->
                                
                                <!-- ko if: video_mode_on() -->
                                    <!-- ko if: activeFilterType() == 'album' -->
                                    <span>Remove from Album</span>
                                    <!-- /ko -->
                                    <!-- ko ifnot: activeFilterType() == 'album' -->
                                    <span>Delete Videos</span>
                                    <!-- /ko -->
                                <!-- /ko -->
                            <!-- /ko -->
                            
                            <!-- ko if: create_new_vid_album_mode_on() -->
                            <span>Create Album</span>
                            <!-- /ko -->
                            <!-- ko if: add_to_existing_vid_album_mode_on() || add_to_existing_blank_album_mode_on()-->
                            <span>Add to Album</span>
                            <!-- /ko -->
                            <!-- ko if: create_facebook_album_mode_on() -->
                            <span>Post as <img class="fb-icon" src="css/images/facebook/FB-f-Logo__blue_29.png" alt="Facebook logo"/> album</span>
                            <!-- /ko -->
                        </div>    
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <!-- Cancel --> 
                <li class="">
                    <a href='#' data-bind='click: cancel_select_mode' title='Cancel'>
                        <div class="btn_text">
                            <i class='fa fa-times'></i>
                        </div>    
                    </a>
                </li>
                <li class="divider-vertical"></li>
                
            </ul>    
        </div><!-- end navbar-inner -->       
    </div> <!-- end select-nav -->
    
    <div class="table titleTable">
        <!-- ko if: performingNewSearch() -->
        <div class="title-block"></div>
        <!-- /ko -->
        
        <!-- ko if: !performingNewSearch() -->

        <div class="clearfix newHomeTitle-Wrap">
            <p class='pageNumber'>Page <span data-bind="text: thePager().current_page"></span></p>
            <!-- ko ifnot: add_to_mode_on() || delete_mode_on()-->
            <div style="display: block; text-align: center;" class="mainTitle textShadowed" data-bind="if: activeFilterType() == 'all'">
                <!-- ko if: !video_mode_on() -->
                <div class="btn-group photoViewFilter" data-toggle="buttons">
                    <span class='meterLabel some'>Less</span>
                    <span class="viewFilter on">
                        <label class="someLabel">
                            <input type="radio" name="options" value="some" id="some" data-bind="checked: photoViewFilter">
                        </label>    
                    </span>
                    <span class="viewFilter" data-bind="css: { on: photoViewFilter() == 'more' || photoViewFilter() == 'all' }">
                        <label>
                            <input type="radio" name="options" value="more" id="more" data-bind="checked: photoViewFilter">
                        </label>    
                    </span>
                    <span class="viewFilter" data-bind="css: { on: photoViewFilter() == 'all' }">
                        <label>
                            <input type="radio" name="options" value="all" id="all" data-bind="checked: photoViewFilter">
                        </label>
                    </span>
                    <span class='meterLabel more'>More</span>
                </div>
                <!-- /ko -->
                <p class="mainTitleP">
                    <!--You have <span data-bind="text: hits"></span>-->
                    ALL <span data-bind="text: video_mode_on() ? ' Videos ' : ' Photos ' "></span> (<span data-bind="text: hits ? hits : 0, visible: video_mode_on()"></span><span data-bind="text: visiblePhotosCount, visible: !video_mode_on()"></span>)
                    <!--<span data-bind="text: hits() == 1 ? ' video ' : ' videos'"></span> in your private VIBLIO Library.-->
                </p>
                <!-- ko if: hits() > 0 && video_mode_on() --> 
                <p><span class="btn btn-primary" data-bind="click: function() { add_to_mode( 'new' ); }">Create an album</span> from these videos to privately share with friends and family.</p>
                <!-- /ko -->
                <!-- ko if: !hits() > 0 && video_mode_on() --> 
                <p><span class="btn btn-primary" data-bind="click: add_videos">Upload Videos</span></p>
                <!-- /ko -->
            </div>

            <div style="display: block; text-align: center;" class="mainTitle textShadowed" data-bind="if: !performingNewSearch() && activeFilterType() != 'all' || activeFilterType() == 'search'">
                <!-- ko if: !video_mode_on() -->
                <div class="btn-group photoViewFilter" data-toggle="buttons">
                    <span class='meterLabel some'>Less</span>
                    <span class="viewFilter on">
                        <label class="someLabel">
                            <input type="radio" name="options" value="some" id="some" data-bind="checked: photoViewFilter">
                        </label>    
                    </span>
                    <span class="viewFilter" data-bind="css: { on: photoViewFilter() == 'more' || photoViewFilter() == 'all' }">
                        <label>
                            <input type="radio" name="options" value="more" id="more" data-bind="checked: photoViewFilter">
                        </label>    
                    </span>
                    <span class="viewFilter" data-bind="css: { on: photoViewFilter() == 'all' }">
                        <label>
                            <input type="radio" name="options" value="all" id="all" data-bind="checked: photoViewFilter">
                        </label>
                    </span>
                    <span class='meterLabel more'>More</span>
                </div>
                <!-- /ko -->
                <!-- ko if: activeFilterType() != 'album' -->
                <p class="mainTitleP">
                    <!--You have
                    <span data-bind="text: hits"></span>
                    <span data-bind="text: hits() == 1 ? ' video ' : ' videos'"></span>
                    that<span data-bind="text: hits() == 1 ? ' matches' : ' match'"></span> your
                    "<span data-bind="text: active_filter_label()"></span>" filter.-->
                    
                    <!-- ko if: active_filter_label() == 'Recent' -->
                    <span data-bind="text: active_filter_label() ? active_filter_label().toUpperCase() : '' "></span><span data-bind="text: video_mode_on() ? ' Videos ' : ' Photos ' "></span>(<span data-bind="text: hits ? hits : 0, visible: video_mode_on()"></span><span data-bind="text: visiblePhotosCount, visible: !video_mode_on()"></span>)
                    <!-- /ko -->
                    <!-- ko ifnot: active_filter_label() == 'Recent' -->
                    <span data-bind="text: active_filter_label() ? active_filter_label().toUpperCase() : '' "></span> Filter (<span data-bind="text: hits ? hits : 0, visible: video_mode_on()"></span><span data-bind="text: visiblePhotosCount, visible: !video_mode_on()"></span>)
                    <!-- /ko -->
                    <!-- ko if: activeFilterType() == 'faces' -->
                     <img class="selectedFace img-circle" data-bind="attr: {src: selectedFace().url}">
                    <!-- /ko -->
                </p>
                
                <!-- ko if: hits() > 0 && video_mode_on() --> 
                <p><span class="btn btn-primary" data-bind="click: function() { add_to_mode( 'new' ); }">Create an album</span> from these videos to privately share with friends and family.</p>
                <!-- /ko -->
                <!-- ko if: !hits() > 0 && video_mode_on() --> 
                <p><span class="btn btn-primary" data-bind="click: add_videos">Upload Videos</span></p>
                <!-- /ko -->
                
                <!-- /ko -->
                
                <!-- ko if: activeFilterType() == 'album' -->
                    <!-- album is owned by the user -->
                    <!-- ko ifnot: currentSelectedFilterAlbum().shared -->
                        <!-- ko if: albumIsShared() -->
                        <div class="shared-icon-wrap" data-bind="click: seeSharedMembers, tooltip: {title: 'Click to see shared members', placement: 'bottom' }">
                            <i class='fa fa-folder-o outer-icon'></i>
                            <div class="inner-icon">
                                <i class='fa fa-user'></i><i class='fa fa-user'></i>
                            </div>    
                        </div>&nbsp;                      
                        <!-- /ko -->
                        <!-- ko ifnot: albumIsShared() -->
                        <i class='fa fa-folder-o bigIcon'></i>&nbsp;
                        <!-- /ko -->
                        <div class="mainTitleP">
                            <!--You have
                            <span data-bind="text: videos().length"></span>
                            <span data-bind="text: videos().length == 1 ? ' video ' : ' videos'"></span>
                            in your "<div class="inline newHomeAlbumTitle" data-bind="liveEditor: currentAlbumTitle, click: setSize">
                                        <div class="newHomeAlbumTitleView view turquoiseFont" data-bind="click: currentAlbumTitle.edit, text: currentAlbumTitle() ? currentAlbumTitle() : 'Click to add album title', tooltip: {title:'Click to edit album title', placement: 'bottom'}"></div>
                                        <div class="newHomeAlbumTitle-Wrap">
                                            <input type="text" class="newHomeAlbumTitleEdit edit" data-bind="value: currentAlbumTitle, 
                                                                 hasFocus: currentAlbumTitle.editing, 
                                                                 event: { blur: function() { currentAlbumTitle.stopEditing(); currentAlbumTitle.save( null, this, 'album:name_changed' ); } }" />
                                        </div>  
                                    </div>" album.-->
                                    
                             <div class="inline newHomeAlbumTitle" data-bind="liveEditor: currentAlbumTitle, click: setSize">
                                <div class="newHomeAlbumTitleView view turquoiseFont" data-bind="click: currentAlbumTitle.edit, text: currentAlbumTitle() ? currentAlbumTitle() : 'Click to add album title', tooltip: {title:'Click to edit album title', placement: 'bottom'}"></div>
                                <div class="newHomeAlbumTitle-Wrap">
                                    <input type="text" class="newHomeAlbumTitleEdit edit" data-bind="value: currentAlbumTitle, 
                                                         hasFocus: currentAlbumTitle.editing, 
                                                         event: { blur: function() { currentAlbumTitle.stopEditing(); currentAlbumTitle.save( null, this, 'album:name_changed' ); } }" />
                                </div>  
                            </div> Album (<span data-bind="text: hits ? hits : 0, visible: video_mode_on()"></span><span data-bind="text: visiblePhotosCount, visible: !video_mode_on()"></span>)
                            <!-- ko if: hits() < 1 -->
                            <div class="btn btn-primary" data-bind="click: add_videos_to_empty_album">Add videos to this empty album</div>
                            <!-- /ko -->
                        </div>
                        
                        <p data-bind="visible: !currentSelectedFilterAlbum().shared && video_mode_on()">
                            <span class="btn btn-primary" data-bind="click: share_mode">Invite friends</span>
                            to privately see this album.
                        </p>
                    <!-- /ko -->
                    
                    <!-- album is owned by another user and shared with viewer -->
                    <!-- ko if: currentSelectedFilterAlbum().shared -->
                    <i class='fa fa-folder bigIcon turquoiseFont' title="This album is shared with you."></i>
                    <div class="mainTitleP">
                        <!--There <span data-bind="text: videos().length == 1 ? 'is ' : 'are '"></span>
                        <span data-bind="text: videos().length"></span>
                        <span data-bind="text: videos().length == 1 ? ' video ' : ' videos'"></span>
                        in the "<span data-bind="text: selectedFilterAlbum"></span>" album &mdash;-->
                        <span data-bind="text: selectedFilterAlbum().toUpperCase()"></span> Album (<span data-bind="text: hits ? hits : 0, visible: video_mode_on()"></span><span data-bind="text: visiblePhotosCount, visible: !video_mode_on()"></span>) &mdash;
                        <span class="subtitle">by <span data-bind="text: currentAlbum().owner.displayname"></span> <img class="img-circle" data-bind="attr: {src: '/services/user/avatar?uid=' + currentAlbum().owner.uuid + '&y=30'}, tooltip: {title: 'Album by ' + currentAlbum().owner.displayname, placement: 'bottom'}"></span>.
                        <!-- ko if: hits() < 1 -->
                        <div class="btn btn-primary" data-bind="click: add_videos_to_empty_album">Add videos to this empty album</div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    
                <!-- /ko -->
            </div>
            <!-- /ko --> <!-- End ifnot: add_to_mode_on() || delete_mode_on() -->
            
            <!-- ko if: add_to_mode_on() || delete_mode_on() -->
            <div style="display: block; text-align: center;" class="mainTitle textShadowed paddingTopBottom5">
                Select the videos you want to
                    <!-- ko if: add_to_mode_on() -->
                        <!-- ko if: create_facebook_album_mode_on() -->
                            <span> post to your <img src="css/images/facebook/FB-f-Logo__blue_29.png" alt="Facebook logo"> Facebook page </span>
                        <!-- /ko -->
                        
                        <!-- ko if: !create_facebook_album_mode_on() -->
                            <span> add to </span>
                            <!-- ko if: create_new_vid_album_mode_on() -->
                            <span>a new album</span>
                            <!-- /ko -->
                            <!-- ko if: add_to_existing_vid_album_mode_on() -->
                            <span>an existing album</span>
                            <!-- /ko -->
                            <!-- ko if: add_to_existing_blank_album_mode_on() -->
                            <span>this blank album</span>
                            <!-- /ko -->
                        <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: delete_mode_on() -->
                        <!-- ko if: activeFilterType() == 'album' -->
                        <span>remove from this album.</span>
                        <!-- /ko -->
                        <!-- ko ifnot: activeFilterType() == 'album' -->
                        <span>delete from your account.</span>
                        <!-- /ko -->
                    <!-- /ko -->        
            </div>
            <!-- /ko --> <!-- End if: add_to_mode_on()-->
            
        </div>

        <!-- /ko --> <!-- End if: !performingNewSearch() -->

        <div data-bind="if: activeFilterType() == 'search' && hits() < 1 && !performingNewSearch()">
            <p class="font24 tomatoFont doubleSpaced centered">
              Bummer, I can’t find a video that matches this search.
            </p>
        </div>

    </div>
    
    <div class="containerxx">
        <div class="table allVidsInner clearfix">    

            <div class="dates" data-bind="visible: activeFilterType() != 'search' && video_mode_on()">
                <div class="scroller">
                    <div class="wrapper textShadowed">
                        <!-- ko foreach: datesLabels -->
                        <div class="year">
                            <h1 data-bind="click: $parent.monthSelected.bind( $data, $parent ), css:{sel: $data.selected()}">
                                <span data-bind="text: $data.shortMonth"></span> <span data-bind="text: $data.year"></span>
                            </h1>
                        </div>               
                        <!-- /ko -->
                        <div class="year">
                            <h1 data-bind="click: showAllVideos, css:{sel: !selectedMonth()}">
                                <span>All</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div id="allVidsWrap" class="clearfix photoGallery">
                <div id='photosContainer' data-bind="visible: !video_mode_on()">
                    <div data-bind="foreach: photos">
                        <div data-bind="compose: $data"></div>
                    </div>
                </div>
                <div data-bind="visible: video_mode_on()">
                    <div data-bind="foreach: videos">
                        <div data-bind="compose: $data"></div>
                    </div>
                </div>
                <!-- ko if: isActiveFlag() -->
                <div class="mfLoader">
                    <i class="fa fa-spinner fa-5x fa-spin active"></i>
                    <p class='font18'>Loading...</p>
                </div>
                <!-- /ko -->
            </div>

        </div>
        <div class='paginationContainer'></div>
    </div>
</div>