<div class="nginx-modal mocksWhiteBG centeredEl">
  <div class="closeX btn btn-primary" data-bind="click: close"><img src="css/images/closeX.png"/></div>
  
  <div class="bottomBorder paddingDiv">
    <h3>Want faster uploads?</h3>
    <a class="btn btn-primary" href="/#getApp?from=web_uploader" data-bind="click: close">
      Download Viblio! &raquo;
    </a>    
  </div>

  <div class="vup"></div>
  
  <div class="paddedDiv bottomBorder-Thick">
    <button class="btn btn-primary" data-bind="click: close">
      Close
    </button>
  </div>
 
</div>
