<div id="nginx">
  <input class="btn-primary" title="Add Files..." id="fileupload" type="file" name="files[]" multiple>
  <div class="btn-group">
    <button class="btn btn-success" id="start_upload" type="button">Start uploads</button> &nbsp;
    <button class="btn btn-danger" id="stop_uploads" type="button">Cancel all uploads</button>
  </div>
  <div class="alert alert-error">
  </div>
  <div>
    <div style="position: absolute;" class="directions" data-bind="visible: hide_directions()==false">
      <h2 data-bind="html:displayName"></h2>
      <p>Select one or more video files to upload using the <b>Add Files</b> button, or 
	drag and drop files from your desktop onto this page.  Once you have all of the 
	files you'd like to upload, click on the <b>Start uploads</b> button.
      </p>
    </div>
    <table class="file-container" id="files">
    </table>
  </div>
  <div id="stats">
    <table>
      <tr>
	<td><span class="data-point" data-bind="text: overall_bitrate"></span></td>
	<!-- <td><span class="data-point" data-bind="text: overall_time"></span></td> -->
	<td><span class="data-point" data-bind="text: overall_percent"></span></td>
	<td><span class="data-point" data-bind="text: overall_size"></span></td>
      </tr>
      <tr>
	<td><span class="data-title">Upload Speed</span></td>
	<!-- <td><span class="data-title">Time Remaining</span></td> -->
	<td><span class="data-title">Percent Done</span></td>
	<td><span class="data-title">Data Remaining</span></td>
      </tr>
    </table>
  </div>
</div>
