<div class="nginx-modal whiteBG modalBorder centeredEl">
    <div class="modalCloseX btn btn-modalGrey" data-bind="click: close"><img src="css/images/closeX.png"/></div>

    <!--
    <div class="bottomBorder paddingDiv">
      <h3>Want faster uploads?</h3>
      <a class="btn btn-primary" href="/#getApp?from=web_uploader" data-bind="click: close">
        Download Viblio! &raquo;
      </a>    
    </div>
    -->
    <div class="paddingDiv">
        </div>

    <div class="vup"></div>
  
    <div class="paddedDiv">
        <button class="btn btn-primary" data-bind="click: close">
            Close
        </button>
        <label class="form-group">
            Find faces in my videos
            <input type="checkbox" name="find_faces" data-bind="checked: find_faces">
        </label>
    </div>
 
</div>
