<div id="nginx">
  <h2 data-bind="html:displayName"></h2>
  <blockquote>
    <p>Select one or more video files to upload using the <b>Add Files</b> button, or 
      drag and drop files from your desktop onto this page.  Once you have all of the 
      files you'd like to upload, click on the <b>Start uploads</b> button.
  </blockquote>

  <p><b>TEST:</b> Uploading to: <span data-bind="text: endpoint"></span></p>
  <form>
    <fieldset>
      <legend>Override Protocol</legend>
      <label class="radio">
	<input type="radio" name="protocol" value="http:" data-bind="checked: protocol" />HTTP
      </label>
      <label class="radio">
	<input type="radio" name="protocol" value="https:" data-bind="checked: protocol" />HTTPS
      </label>
    </fieldset>
    <fieldset>
      <legend>Override Server</legend>
      <label class="radio">
	<input type="radio" name="server" data-bind="checked: server, value: localhost" />Current
      </label>
      <label class="radio">
	<input type="radio" name="server" value="staging.viblio.com" data-bind="checked: server" />stading.viblio.com
      </label>
      <label class="radio">
	<input type="radio" name="server" value="upload.viblio.com" data-bind="checked: server" />upload.viblio.com
      </label>
    </fieldset>
  </form>
  <input class="btn-primary" title="Add Files..." id="fileupload" type="file" name="files[]" multiple>
  <div class="btn-group">
    <button class="btn btn-success" id="start_upload" type="button">Start uploads</button> &nbsp;
    <button class="btn btn-danger" id="stop_uploads" type="button">Cancel all uploads</button>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;<span>Total progress: <span data-bind="text: overall" id="total_progress">0%</span></span>
  <div class="alert alert-error">
  </div>
  <table id="files">
  </table>
</div>
