<div class="nginx-modal whiteBG modalBorder centeredEl">
    <div class="modalCloseX btn btn-modalGrey" data-bind="click: close"><img src="css/images/closeX.png"/></div>

    <div class="dropdown navControl albumsList">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span data-bind="text: selectedAddToAlbum() != null ? selectedAddToAlbum().label : 'Choose an album to add these videos to:' "></span> <i class="fa fa-caret-down"></i></a>
        <span class="cancelX" data-bind="click: unselectAllAlbums, if: selectedAddToAlbum() != null, tooltip: {title: 'Unselect this album', placement : 'bottom'}"> &times;</span>
        <ul class="style2DD dropdown-menu" role="menu">
          <li class="tagsScrollWrapper">
              <div class="scroller">
                  <div class="wrapper">
                      <ul class="tags-inner">
                        <!-- ko foreach: albumsList -->
                            <li data-bind="click: $parent.addToAlbumSelected.bind( $data, $parent ), clickBubble: false">
                                <a class="checkboxedLi">
                                    <div class="tagLabel truncate">
                                        <span data-bind="text: $data.label, css:{sel: $data.selected()}"></span>
                                        <!-- ko if: $data.shared -->
                                        <span> &mdash; </span><img class="img-circle" data-bind="attr: {src: '/services/user/avatar?uid=' + $data.owner_uuid + '&y=20'}" alt="Album Owner Avatar"/>
                                        <!-- /ko -->
                                    </div>
                                    <!--<div class="inline" data-bind="if: $data.selected()">
                                        <i class="fa fa-check-square-o"></i>
                                    </div>
                                    <div class="inline" data-bind="ifnot: $data.selected()">
                                        <i class="fa fa-square-o"></i>
                                    </div>-->
                                </a>
                            </li>
                        <!-- /ko -->
                      </ul>    
                  </div>                  
              </div>
          </li>
        </ul>
    </div>
    <p class="em midWeightFont font18 marginB20 marginT15">When you put videos in albums, they automatically get shared with the people you have invited to the album.</p>

    <div class="vup"></div>
  
    <div class="paddedDiv">
        <label class="form-group">
            Find faces in my videos
            <input type="checkbox" name="find_faces" data-bind="checked: find_faces">
        </label>
        <button type="button" class="btn btn-primary" data-bind="click: close">
            Close
        </button>
    </div>
 
</div>
