<style>
</style>

<div id="people-page">

  <div class="known_faces-container horizontalStrip orangeBG bottomBorder-Thin">
    <div class="title">
      <h2 class="cinematic textShadowed">Identified Faces</h2>
      <span class="muted">Faces you've identified in your videos</span>
    </div>
    <div class="horizontal-scroller faces-container">
      <button class="btn btn-small fwd btn-nav mCSB_buttonRight"><img src="css/images/arrowRight.png"/></button>
      <button class="btn btn-small back btn-nav mCSB_buttonLeft"><img src="css/images/arrowLeft.png"/></button>
      <!-- ko foreach: known_faces -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
    </div>
  </div>

  <div class="darkBlueBG horizontal-strip bottomBorder-Thin faces-for-face" data-bind="visible: faces_for_visible()" >
    <div class="title">
      <button class="btn btn-primary pull-right" data-bind="click:done">Done</button>
      <span class="inline-editable cinematic textShadowed" data-bind="html: selected_name">placeholder</span>
    </div>
    <div class="margined-content-wrapper">
      <!-- ko foreach: faces_for -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
      <div class="clearfix"></div>
    </div>
    <div class="arrow"></div>
  </div>

  <div class="unknown_faces-container horizontalStrip lightBlueBG bottomBorder-Thin">
    <div class="title">
      <h2 class="cinematic textShadowed">Unknown Faces</h2>
      <span class="muted">Click on a face to identify it</span>
    </div>
    <div class="margined-content-wrapper faces-container">
      <!-- ko foreach: unknown_faces -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
      <div class="clearfix"></div>
    </div>
  </div>

</div>
