<div id="people-page">
   
  <div class="known_faces-container horizontalStrip greyBG bottomBorder-Thin">
      <!-- ko compose: knownHelp --><!-- /ko --> 
    <div>
      <p class="mainTitle marginL45 textShadowed whiteText">Identified People</p>
      <span class="subtitle">People you've identified in your videos. Click on a face to manage.</span>
    </div>
    <!-- ko if: fetched() && known_faces().length < 1 -->
    <div class="marginL45">
        <div class="pull-left marginR45">
            <img id='avatarImg' src="css/images/avatar.png" alt="avatar" >
            <label for='avatarImg' class='centered alphaGreyFont font18'>Sophie</label>
        </div>
        <p class="font24 whiteText marginR45">This is where we'll show the faces you have tagged in your videos.  Now you'll be able to search videos by these faces.</p>
    </div>
    <!-- /ko -->  
    <div class="faces-container" data-bind="hscroller:{}"> 
      <!-- ko foreach: known_faces -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
    </div>
  </div>

  <div class="darkBlueBG horizontal-strip bottomBorder-Thin faces-for-face" data-bind="slideVisible: faces_for_visible()" >
    <!-- ko compose: { model: manageHelp, preserveContext: true } --><!-- /ko --> 
    <div class="title">
      <button class="btn btn-primary pull-right" data-bind="click:done">Done</button>
      <span class="inline-editable marginL45 textShadowed whiteText" data-bind="text: selected_name">placeholder</span>
      <i style="font-size: 20px; color: white; margin-left: 10px; opacity: 0.7;" class="icon-arrow-left"></i><span style="color: white; font-style: italic; font-size: 16px; margin-left: 8px; opacity: 0.7;">Click to change name</span>
    </div>
    <div class="margined-content-wrapper">
      <div class="no-faces-for" data-bind="if: faces_for().length==0">
	<span data-bind="text: selected_name"></span> does not have any associated pictures.
      </div>
      <!-- ko foreach: faces_for -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
      <div class="clearfix"></div>
    </div>
    <div class="arrow"></div>
  </div>

  <div class="unknown_faces-container horizontalStrip">
      <!-- ko compose: { model: unknownHelp, preserveContext: true } --><!-- /ko --> 
    <div>
      <p class="mainTitle marginL45 textShadowed ">Unknown People</p>
      <span class="subtitle">Click on a person's name to identify them.</span>
    </div>
    <!-- ko if: fetched() && unknown_faces().length < 1 -->
    <div class="marginL45">
        <div class="pull-left marginR45">
            <img id='avatarImg' src="css/images/avatar.png" alt="avatar" >
            <label for='avatarImg' class='centered alphaGreyFont font18'>?</label>
        </div>
        <p class="font24 whiteText marginR45">This is where you'll see the faces we found in the videos you store with us.  You'll get to name the ones you want to tag and delete the ones you never want to see again!</p>
    </div>
    <!-- /ko -->
    <div class="margined-content-wrapper faces-container">
      <!-- ko foreach: unknown_faces -->
      <!-- ko compose: $data --><!-- /ko -->
      <!-- /ko -->
      <div class="clearfix"></div>
    </div>
  </div>

</div>
