<div class="person" data-bind="event:{mouseover: mouseover, mouseleave: mouseleave}">
  <div>
    <div data-bind="if: hasStarPower()">
      <img class="star" data-bind="visible: star, attr: { src: starColor }"/>
      <span class="starRank textShadowed" data-bind="visible: star, html: star_power() "></span>
    </div>
    <div data-bind="if: rightBadgeOn()">
      <i class="right-badge" data-bind="css:rightBadgeIcon,click:rightBadgeClick"></i>
    </div>
    <div data-bind="if: leftBadgeOn()">
      <i class="left-badge" data-bind="css:leftBadgeIcon,click:leftBadgeClick"></i>
    </div>
    <div data-bind="css:{pointer:clickable()}, click:select">
      <img class="person-img" data-bind="attr:{src:url}" />
      <!-- ko if:  show_name()-->
      <div class="name" data-bind="text: name"></div>
      <!-- /ko -->
      <!-- ko if:  show_tag1()-->
      <div class="name" data-bind="tag1:{name: name, changed: tag1_changed}, text: name"></div>
      <!-- /ko -->
      <!-- ko if:  show_tag2()-->
      <div class="name" data-bind="tag2:{name: name, changed: tag2_changed}"></div>
      <!-- /ko -->
      <!-- ko if:  show_tag3()-->
      <div class="name" data-bind="tag3:{name: name, changed: tag3_changed}, text: name"></div>
      <!-- /ko -->
    </div>
  </div>
</div>

