<div class="phone">
  <div class="videocontent">
    <a class="brand" href="/#home">
        <img src="css/images/viblioLogo-WhiteWText.png" />
    </a>
    <!-- ko if: oniOS() -->
    <p class="landingHeaderTitle"><span>Get our </span>VIBLIO iOS App!</p>
    <div class="button-Wrap iOSDownloadBtn">
        <button class="btn btn-primary" data-bind="click: getiOSApp, clickBubble: false">
          Go to the app store!
        </button>
    </div>
    <!-- /ko -->
    <video id="videojs" class="video-js vjs-default-skin"
	   controls preload="auto" width="auto" height="auto"
	   data-bind="attr:{poster:poster}">
      <source data-bind="attr:{src:src}" type='video/mp4' />
    </video>
  </div>

  <div id="m1" class="phone-video-finished orangeBG-Header" data-bind="click: close">
    <p class="landingHeaderTitle darkBlueBG">
      <span>You have an account now on</span> Viblio.com<span>, so come visit us to</span> upload
      and share <span>your own videos to your family and friends. (Best used 
      on a larger format display such as a tablet or a desktop).</span>  Hope 
      to see you soon!
    </p>
  </div>
</div>
