<div class="phone darkBlueBG">
  <div class="videocontent">
    <a class="brand" href="/#home">
        <img src="css/images/viblioLogo-WhiteWText.png" />
    </a>
    <video id="videojs" class="video-js vjs-default-skin"
	   controls preload="auto" width="auto" height="auto"
	   data-bind="attr:{poster:poster}">
      <source data-bind="attr:{src:src}" type='video/mp4' />
    </video>
    <div class="tomatoBG marginT15 marginB20 marginSides10">
        <div class="centeredEl" data-bind="visible: !showSuccess()">
            <input type="email" name="email" class="text email" data-bind="value: email, valueUpdate: 'keyup'" placeholder="Enter your account email address" />
            <div class="button-Wrap">
                <button class="btn btn-primary" data-bind="click: addVideo, enable: emailValid()">
                    <i class="fa fa-share"></i> Add this video to your account
                </button>
            </div>
        </div>
        <div class="centeredEl" data-bind="visible: showSuccess()">
            <p>This video has been added to account</p>
            <p data-bind="text: email()"></p>
            <!-- ko if: oniOS() -->
            <h3>VIBLIO has an iPhone app!</h3>
            <!-- /ko -->
            <!-- ko if: oniOS() -->
            <a href="https://itunes.apple.com/us/app/viblio/id883377114?mt=8">
                <img class="marginB10" src="/css/images/Download_on_the_App_Store_Badge_US-UK_135x40.png" alt="Download on the App Store"/>
            </a>
            <!-- /ko -->
        </div>
    </div>
  </div>

  <!--<div id="m1" class="phone-video-finished orangeBG-Header" data-bind="click: close">
    <p class="landingHeaderTitle darkBlueBG">
      <span>You have an account now on</span> Viblio.com<span>, so come visit us to</span> upload
      and share <span>your own videos to your family and friends. (Best used 
      on a larger format display such as a tablet or a desktop).</span>  Hope 
      to see you soon!
    </p>
  </div>-->
</div>
