<style>
.pp-main {
    width: 100%;
}
.pp-main .pp-left-arrow-column {
    width: 55px;
    padding-left: 40px;
    vertical-align: top;
}
.pp-main .pp-right-arrow-column {
    width: 55px;
    vertical-align: top;
    padding-right: 40px;
}
.pp-main .pp-player-column {
    padding-top: 50px;
    vertical-align: top;
}
.pp-main .pp-related-column {
    width: 320px;
    border-left: 4px inset rgba(0,0,0,.2);
    vertical-align: top;
    padding: 0;
}

.pp-related-column-header,
.pp-related-column-related {
    padding-right: 20px;
    padding-left: 20px;
}

.pp-related-column-wrapper .orangeBG {
    margin-left: -4px;
    border-left: 4px inset rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

.pp-related-column-related-videos {
    overflow: scroll;
    position: relative;
}
.pp-related-column-related-videos .mediafile {
    width: 270px;
    margin-bottom: 25px;
}
.pp-related-column-related-videos .mediafile img {
    height: 152px;
}
.pp-info-faces-wrapper,
.pp-info-right-column {
    width: 366px;
}
.pp-info-map-wrapper {
    height: 320px;
    min-height: 320px;
}
.pp-info-faces-wrapper {
    min-height: 600px;
}
.pp-player-column table {
    width: 100%;
}

.pp-tv-wrap .shareButton {
    position: absolute;
    bottom: 35px;
    right: 10px;
    opacity: .65;
    padding: 15px 0 0;
    width: 200px;
    height: 50px;
    font-size: 17px;
}
.pp-info-right-column,
.pp-info-left-column {
    vertical-align: top;
}
.pp .comments-header {
    display: table;
    width: 100%;
}
.tableCell {
    display: table-cell;
}
.topAlign {
    vertical-align: top;
}
.midAlign {
    vertical-align: middle;
}
.pp .comments-header .views span{
    display: block;
}
.pp-info-left-column .all-comments {
    /* max-height: 250px; */
    height: 100%;
    overflow: scroll;
}
#geo-map-reloc {
    width: 100%;
}
#geo-map-reloc .btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6px;
}
.pp-info-faces-wrapper .person {
    width: 100px;
}
.pp-info-faces-wrapper .person img {
    height: 100px;
}
.pp-info-faces-wrapper .person .left-badge {
    cursor: pointer;
    right: 70px;
    top: -5px;
    font-size: 30px;
}
.pp-info-faces-wrapper .person .right-badge {
    cursor: pointer;
}
.pp-related-column-header {
    padding-top: 20px;
}
.pp-related-column-header span,
.pp-related-column-header p {
    margin-top: 0;
    margin-left: 3px;
    font-weight: 100;
    text-align: left;
    font-size: 25px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pp-related-column-header span {
    font-size: 20px;
}
.pp-related-column-header .editable-checklist span {
    color: black;
}
#geo {
    width: 280px;
    padding: 20px;
    height: auto;
}
.pp-share a {
    width: 100%;
    font-size: 28px;
    padding: 16px;
}
.pp-no-faces {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
.typeahead.dropdown-menu {
    text-align: left;
}
.pp-faces-box {
    padding: 10px;
}
.pp-faces-box .person {
    float: left;
    width: 94px;
}
.pp-faces-box .person img {
    height: 94px;
}
</style>
<div class="pp">
  <table class="pp-main">
    <tr>

      <td class="pp-left-arrow-column">
	<div class="player-control left-arrow lightBlueBG bottomBorder-Thin" 
	     data-bind="click: previousRelated, css: {disabled: disable_prev()}">
          <img src="css/images/arrowLeft.png"/>
        </div>
      </td>

      <td class="pp-player-column">
	<!-- ko compose: "pp/pp-player-column.html" --><!-- /ko -->
        <!-- ko compose: footer --><!-- /ko -->
      </td>

      <td class="pp-right-arrow-column">
	<div class="player-control right-arrow lightBlueBG bottomBorder-Thin" 
	     data-bind="click: nextRelated, css: {disabled: disable_next()}">
          <img src="css/images/arrowRight.png" />
        </div>
      </td>

      <td class="pp-related-column lightBlueBG bottomBorder-Thin" data-bind="visible: pp_related_column_visible">
	<!-- ko compose: "pp/pp-related-column.html" --><!-- /ko -->
      </td>

    </tr>
  </table>
</div>
