<div class="pp">
  <table class="pp-main">
    <tr>

      <td class="pp-left-arrow-column">
	<div class="player-control left-arrow lightBlueBG bottomBorder-Thin" 
	     data-bind="visible: pp_related_column_visible, click: previousRelated, css: {disabled: disable_prev()}">
          <img src="css/images/arrowLeft.png"/>
        </div>
      </td>

      <td class="pp-player-column">
	<!-- ko compose: "pp/pp-player-column.html" --><!-- /ko -->
        <!-- ko compose: footer --><!-- /ko -->
      </td>

      <td class="pp-right-arrow-column">
	<div class="player-control right-arrow lightBlueBG bottomBorder-Thin" 
	     data-bind="visible: pp_related_column_visible, click: nextRelated, css: {disabled: disable_next()}">
          <img src="css/images/arrowRight.png" />
        </div>
      </td>

      <td class="pp-related-column lightBlueBG bottomBorder-Thin" data-bind="visible: pp_related_column_visible">
	<!-- ko compose: "pp/pp-related-column.html" --><!-- /ko -->
      </td>

    </tr>
  </table>
</div>
