<div class="blankModal centeredEl modalBorder">
    <div class="modalCloseX btn btn-modalGrey" data-bind="click: close"><img src="css/images/closeX.png"/></div>

    <div class="paddedDiv">
        <div class="privacyMatters-Wrap">
        <h3>Privacy Matters to VIBLIO</h3>
        <p>
            If you’re not worried about your privacy, there are no shortage of video sharing platforms that you can use.  YouTube is the most well-known and probably the best way to get your video message to as many people as possible.   Vimeo is well liked among professional and “prosumer” videographers who want to distribute their production video content.
            But if you want a private place to manage all of your very personal videos, VIBLIO could be the space you’ve been searching for.  Here’s why:
        </p>
        <ol>
            <li>
                VIBLIO’s default setting is ‘private’.  Once your video is uploaded, only you can see it until you decide to take steps in VIBLIO to share it with someone.
            </li>
            <li>
                VIBLIO doesn’t add advertising to your videos.  If you share your video privately through VIBLIO, your video isn’t plastered with ads for cars, fast food or insurance brokers.
            </li>
            <li>
                VIBLIO doesn’t sell your data.  Your videos are very personal to you.  We don’t allow third parties to use information we receive from you about the content of your videos, or how or where they were taken.
            </li>
        </ol>
        <p>We didn’t stop there.  We really spent some time thinking about how your data gets exposed.  We did things like the following.</p>
        <ol>
            <li>
                Sharing to social media sites.  If you post your video to Facebook or another social media site through VIBLIO, we remove the location data from the post.  If you named people in your video, we remove those names from the post too.  
                We can’t control what additional information people post to your social media site, but we can control what information VIBLIO delivers with your post.
            </li>
            <li>
                Sharing privately through VIBLIO.   When you share your video privately to another email address through VIBLIO, the person you share it with cannot re-share your video.  In that way, you can control the spread of your personal digital assets.
            </li>
            <li>
                Deleting your videos.  Sometimes, you just don’t want a video ‘out there’ anymore.  Deleting the video from your VIBLIO account automatically removes it from every location you shared it with.<br>  
                <div class="inset">If you still want a copy of your video stored somewhere, download it first before deleting it from your VIBLIO account.</div>
            </li>
        </ol>
        <p>
            At VIBLIO, we know that our users worry about what other services do with their personal files.  So we work hard to help make it easy for you to manage your privacy while still being able to easily share and enjoy your videos whenever you want.
        </p>
    </div>
    </div>
</div>