<div class="ksVoting">
    <div class="container">
        <div class='vote mocksWhiteBG'>
            <div class="paddedDiv font24 ksbody bottomBorder-Thick">
                <p class='font24'>
                    Fantastic!
                </p>
                <br />
                <p>
                    I’ll start working on your FREE professionally edited video summary and send you an email when it’s done.  It should appear in your account in about 2 days.
                </p>
                <button class="btn btn-primary" data-bind="click: goToLogin">Go to your VIBLIO account</button>
            </div>       
        </div>
    </div>    
</div>