<div class="pstrip bottomBorder-Thin">

  <div class="title">
    <h2 class="cinematic textShadowed" data-bind="html: title"></h2>
    <span class="muted" data-bind="html: subtitle"></span>
  </div>

  <div class="pscroll-cc">
    <button class="btn btn-small fwd btn-nav mCSB_buttonRight" data-bind="click: scrollForward"><img src="css/images/arrowRight.png"/></button>
    <button class="btn btn-small back btn-nav mCSB_buttonLeft" data-bind="click: scrollBackward"><img src="css/images/arrowLeft.png"/></button>
  
    <div class="pscroll">
      <div class="item-container">
	<!-- ko foreach: faces -->
        <!-- ko compose: $data --><!--/ko-->
	<!--/ko-->
      </div>
    </div>
  </div>

</div>
