<div class="pstrip bottomBorder-Thin">

  <div class="title">
    <h2 class="cinematic textShadowed" data-bind="html: title"></h2>
    <span class="muted" data-bind="html: subtitle"></span>
  </div>

  <div class="pscroll-cc">
    <button class="btn btn-small fwd" data-bind="click: scrollForward">&gt;&gt;</button>
    <button class="btn btn-small back" data-bind="click: scrollBackward">&lt;&lt;</button>
  
    <div class="pscroll">
      <div class="item-container">
	<!-- ko foreach: faces -->
        <!-- ko compose: $data --><!--/ko-->
	<!--/ko-->
      </div>
    </div>
  </div>

</div>
