<div id="raw-page" style="padding: 45px;">
  <h2>Raw File Upload</h2>
  <p>Use this page to upload raw files of any type to /mnt/public/files on the viblio server.  You may click on the
    button below to choose files to upload, or on some browsers, you may be able to drag files from your desktop
    on drop them on this page.
  </p>
  <input class="btn-primary" title="Add Files..." id="raw-fileupload" type="file" name="files[]" multiple>
  <br>
  <br>
  <!-- The global progress bar -->
  <div id="progress" class="progress">
    <div class="bar bar-success"></div>
  </div>
  <!-- The container for the uploaded files -->
  <div id="files" class="files"></div>

</div>
