<div class='mocksWhiteBG centeredEl referFriendsPage'>
    <div class="bottomBorder paddedDiv">
        <p class='bigTitle marginB30'>Tell friends about Viblio</p>
        <div class="clearfix marginT15 marginB30">
            <img class='img-circle vertTop' src="/services/user/avatar?uid=-&y=50">
            <textarea id='referFriendsMessage' data-bind="value: referFriendsMessage, attr: {placeholder: placeholderText}"></textarea>    
        </div>
        <div class="clearfix marginT15">
            <span class="vertTop to">To: </span>
            <p class="uitoken-input"><input id='friendsEmails' type="text"/></p>
        </div>
        <p class='marginB20'>Enter email addresses, press tab after each email entered</p>
    </div>

    <div class="paddedDiv bottomBorder-Thick">
        <button class="btn btn-primary" data-bind="click: tellFriends, enable: friendsEmailsValid">
            Send
        </button>
    </div>
</div>
