<div id="register-page">
  <h2>Welcome to Viblio!</h2>

  <span data-bind="text: displayname"></span> has invited you to watch a video.  To protect
  your privacy, please create a password first:
  <ul>
    <input type="password" name="password" data-bind="value: password" placeholder="Password" />
    <a href="#" data-bind="click: toggleShowHide, text: labelShowHide"></a>
  </ul>

  I agree with the <a href="#" data-bind="click: displayTerms">terms</a> of using the Viblio service.

  <div class="done">
    <button class="btn btn-primary" data-bind="enable: validated, click: done">Watch the Video</button>
  </div>

</div>
