<div id="settings-page">
  <div class="title-Wrap turquoiseBG bottomBorder-Thin whiteText textShadowed">
      <h2>Your Viblio Settings</h2>    
  </div>   
  <div class="content-Wrap">
    <div id="accountInfo" class="mocksWhiteBG">
      <div class="bottomBorder paddedDiv">
	<h3 class="mainLabel">Account Information</h3>
	<table class="account-info">
	  <tr>
	    <td>
	      <div style="cursor: pointer;" class="avatar boxShadowed">
		<img id="apic" class="" src="/services/user/avatar?uid=-&y=120" />
		<div style="position: relative;" class="darkBlueBG fileinput-button">
		    <span>Change Avatar</span>
		    <i class="fa fa-spinner fa-2x fa-spin"></i>
		</div>
	      </div>
	      <input style="position: absolute; width:0; height:0; top:0; left:0; visibility:hidden;" class="fileupload" type="file" name="upload" data-url="/services/user/add_or_replace_profile_photo/" />
	    </td>
	    <td class="email-password">
	      <form>
		<fieldset>
		  <label for="displayname">Display Name</label>
		  <input type="text" name="displayname" data-bind="value: displayname" required />
		</fieldset>
		<fieldset>
		  <label for="email">Email address</label>
		  <input type="email" name="email" data-bind="value: email, enable: false" />
		</fieldset>
		<a href="#" data-bind="click: changePassword">Change Password...</a>
	      </form>
	    </td>
	  </tr>
	</table>
      </div>
      <div  class="bottomBorder-Thick paddedDiv">
	<h3 class="mainLabel">Connected Accounts</h3>
	<div data-bind="ifnot: linkedFacebook">
	  <a href="#" data-bind="click: linkAccount.bind( $data, 'facebook' )" class="pull-right link-disconnect">Connect...</a>
	  <i class="facebookColor fa fa-facebook" /> Connect to your Facebook account for some great features!
	</div>
	<div data-bind="if: linkedFacebook">
	  <a href="#" data-bind="click: unlinkAccount.bind( $data, 'facebook' )" class="pull-right link-disconnect">Disconnect...</a>
	  <i class="facebookColor fa fa-facebook" />Connected: <span class="link-link" data-bind="text: links().facebook"></span>
	</div>
      </div>
    </div>
    <div id="emailNotifications" class="mocksWhiteBG">
      <div class="bottomBorder paddedDiv">
	<h3 class="mainLabel">Email Notifications</h3>
	<form>
	  <fieldset>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_notifications" />Get email notifications
	    </label>
	  </fieldset>
	</form>
	<button class="btn btn-primary" data-bind="visible: email_changes, click: save">Save Email Settings</button>
      </div>
      <div class="bottomBorder-Thick paddedDiv" data-bind="visible: email_notifications">
        <h3 class="mainLabel">Get an email when...</h3>
	<form>
	  <fieldset>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_comment" /> Someone comments on your video
	    </label>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_upload" /> Your videos finish uploading
	    </label>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_face" /> We detect a new face in your video
	    </label>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_viblio" /> Viblio adds new features and updates
	    </label>
	  </fieldset>
	</form>
      </div>
    </div>
    <button class="btn btn-primary" data-bind="click: cancel">Save your Settings</button>
  </div>
</div>
