<div id="settings-page">
  <div class="title-Wrap turquoiseBG bottomBorder-Thin whiteText textShadowed">
      <h2>Your Viblio Settings</h2>    
  </div>   
  <div class="content-Wrap">
    <div id="accountInfo" class="mocksWhiteBG">
      <div class="bottomBorder paddedDiv">
	<h3 class="mainLabel">Account Information</h3>
	<table class="account-info">
	  <tr>
	    <td class="avatar boxShadowed">
	      <img id="apic" class="" src="/services/user/avatar?uid=-&y=120" />
	      <div class="darkBlueBG">
		<span class="fileinput-button">
		  <span>Change Avatar</span>
		  <input id="fileupload" type="file" name="upload" data-url="/services/user/add_or_replace_profile_photo" />
		</span>
		<i class="icon-spinner icon-2x icon-spin"></i>
	      </div>
	    </td>
	    <td class="email-password">
	      <form>
		<fieldset>
		  <label for="email">Email address</label>
		  <input type="email" data-bind="value: email, enable: false" />
		</fieldset>
		<a href="#" data-bind="click: changePassword">Change Password...</a>
	      </form>
	    </td>
	  </tr>
	</table>
      </div>
      <div  class="bottomBorder-Thick paddedDiv">
	<h3 class="mainLabel">Connected Accounts</h3>
	<div data-bind="ifnot: linkedFacebook">
	  <a href="#" data-bind="click: linkAccount.bind( $data, 'facebook' )" class="pull-right link-disconnect">Connect...</a>
	  <i class="facebookColor icon-facebook-sign" /> Connect to your Facebook account for some great features!
	</div>
	<div data-bind="if: linkedFacebook">
	  <a href="#" data-bind="click: unlinkAccount.bind( $data, 'facebook' )" class="pull-right link-disconnect">Disconnect...</a>
	  <i class="facebookColor icon-facebook-sign" />Connected: <span class="link-link" data-bind="html: links().facebook"></span>
	</div>
      </div>
    </div>
    <div id="emailNotifications" class="mocksWhiteBG">
      <div class="bottomBorder paddedDiv">
	<h3 class="mainLabel">Email Notifications</h3>
	<form>
	  <fieldset>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_notifications" />Get email notifications
	    </label>
	  </fieldset>
	</form>
	<button class="btn btn-primary" data-bind="visible: email_changes, click: save">Save Email Settings</button>
      </div>
      <div class="bottomBorder-Thick paddedDiv" data-bind="visible: email_notifications">
        <h3 class="mainLabel">Get an email when...</h3>
	<form>
	  <fieldset>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_comment" /> Someone comments on your video
	    </label>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_upload" /> Your videos finish uploading
	    </label>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_face" /> We detect a new face in your video
	    </label>
	    <label class="checkbox">
	      <input type="checkbox" data-bind="checked: email_viblio" /> Viblio adds new features and updates
	    </label>
	  </fieldset>
	</form>
      </div>
    </div>
    <button class="btn btn-primary" data-bind="click: cancel">Save your Settings</button>
  </div>
</div>
