<div id="shareVidModal" class="whiteBG modalBorder">
    <div class='modalCloseX btn btn-modalGrey' data-bind="click: closeModal"><img src='css/images/closeX.png'/></div>
    <div id="sharingDiv" class="bottomBorder paddedDiv">
        <p class="bigTitle">Post a link to your Video</p>
        <ul class='shareIconList' data-bind="foreach: shareNetworks">
            <li>
                <a data-bind="click: $parent.addPublicShare.bind($data,$parent,name), attr: { href: url, class: 'shareIcon pop ' + addClass, title: 'Share this page on ' + name }" >
                    <img data-bind="attr: { src: 'css/images/shareIcons/' + imgName}"/>
                </a>
                <label data-bind="text: name"></label>
            </li>
        </ul>
    </div>
    
    <form id="shareVidLink" class="bottomBorder shareVidLink-form">
        <p class="bigTitle">Copy link:</p>
        <div id="shareLink-Wrap" class="shareLink-Wrap">
            <input id="shareLink" type="text" class="text shareLink" data-bind="value: cut_and_paste_url" />
            <button type="button" id="copyShareLink" class="btn textShadowed copyShareLink">
                Copy
            </button>
        </div>
        <div class="embedCode-Wrap">
            <p class="bigTitle" data-bind="click: getEmbedCode">Embed Code</p>
            <textarea type="text" class="text embedCode" data-bind="value: embedCode" placeholder="Click button above to generate the embed code snippet"></textarea>
        </div>
        
        <!--<div class="bottomBorder embedCode-Wrap">
            
            <button class="btn btn-primary" data-bind="click: getEmbedCode">
                Generate Embed Snippet
            </button><br>
            <span class="embedInstructions" data-bind="visible: embedCode">Copy the code below and paste it into your website.</span>
            <textarea type="text" class="text embedCode" data-bind="value: embedCode" placeholder="Click button above to generate the embed code snippet"></textarea>
        </div>-->
    </form>
    
    <form id="sendVidEmail" class="paddedDiv">
        <div class="centeredEl">
            <p class="bigTitle">Share this link by email to:</p>
            <p class="uitoken-input"><input id='shareVidEmail' type="text" placeholder="Email address" /></p>
            <textarea id="shareVidMessage" class="text" data-bind="click: updateMessage, value: shareVidMessage" placeholder="Check out my new video on VIBLIO!"></textarea>
            <button type="button" class="btn btn-primary" data-bind="click: emailLink, enable: shareVidEmailValid">
                Send
            </button>
        </div>
    </form>

</div>
