<div>
  <div data-bind="compose:header"></div>
  <div class="scrollBarContainer container-fluid page-host">
      <div id="innerPadding" data-bind="router: { model: router.activeItem, afterCompose: router.afterCompose}">
          <!-- innerPadding needed in order to keep outer and inner element scrollbars from overlapping -->
      </div>
  </div>
</div>
<div class="feedback-slide">
  <div class="feedback-inner">
    <div>Feedback?</div>
    <div>
      <a data-bind="attr: {href: feedback_email}">
	Great! Send us some email...
      </a>
    </div>
  </div>
</div>
