<div class="ksVoting">
    <div class="container">
        <div class='vote mocksWhiteBG'>
            <div class="paddedDiv font24 ksbody bottomBorder-Thick">
                <p class='font24'>
                    Welcome to VIBLIO's beta tester signup page!
                </p>
                <p>
                    Please provide your email address below and click "Submit" to get started.
                </p>
                <br />
                <form>
                    <div class="control-group">
                        <label for="email">Email *required</label>
                        <input id="email" class="email" type='email' name='email' data-bind="value: email, valueUpdate: 'input'" placeholder='Email Address' required>
                    </div>
                    <button type='submit' class='btn btn-primary' data-bind="click: register, attr: { disabled: !emailValid() }">Submit</button>
                </form>
            </div>       
        </div>
    </div>    
</div>