<div class="ksVoting">
    <div class="container">
        <div class='vote mocksWhiteBG'>
            <div class="paddedDiv font24 ksbody bottomBorder-Thick">
                <p class='font24'>
                    We’re excited to have you on board as a VIBLIO beta tester!
                </p>
                <p>
                    VIBLIO is a new private video platform that makes it easy to manage and share personal videos in private groups. As a beta tester, you qualify for additional storage, free video mashups and a chance to win a wearable camera!
                </p>
                <p>
                    Get started by providing your email address below. After that, you'll be asked to create your own private VIBLIO account.  Then start using VIBLIO and give us lots of feedback!
                </p>
                <br>
                <form>
                    <div class="control-group">
                        <label for="email">Email *required</label>
                        <input id="email" class="email" type='email' name='email' data-bind="value: email, valueUpdate: 'input'" placeholder='Email Address' required>
                    </div>
                    <button type='submit' class='btn btn-primary' data-bind="click: register, attr: { disabled: !emailValid() }">Submit</button>
                </form>
            </div>       
        </div>
    </div>    
</div>