<div class="pstrip top-actors bottomBorder-Thin tomatoBG">

  <div class="marginL45">
    <p class="mainTitle textShadowed whiteText" data-bind="text: title"></p>
    <span class="subtitle" data-bind="text: subtitle"></span>
  </div>
    
    <!-- ko if: fetched() && faces().length < 1 -->
    <div style="position: absolute;" class="marginL45">
        <img src="css/images/avatar.png" alt="avatar" class="pull-left marginR45">
        <p class="font24 whiteText marginR45 doubleSpaced">Once you upload some more videos,  VIBLIO’s  Magic Tagging™ will find faces in your videos and help you create Memory Boxes of each person’s videos.</p>
    </div>
    <!-- /ko -->

  <div class="sd-pscroll" data-bind="hscroller:{rightLimitReached: hLimitReached}">
    <!-- ko ifnot: fetched() -->
    <div>
        <i class="icon-spinner icon-5x icon-spin active"></i>
        <p class='font18'>Loading...</p>
    </div>
    <!-- /ko -->  
    <!-- ko foreach: faces -->
    <!-- ko compose: $data --><!--/ko-->
    <!--/ko-->
  </div>

  <!-- ko compose: videosFor --><!-- /ko -->

</div>
