<div class="title-Wrap turquoiseBG bottomBorder-Thin whiteText textShadowed">
    <h2 class="">
        Viblio Tray App Tutorial
    </h2>    
</div>

<div id="slideshow">
    <div id="slidesContainer">

        <div class="slide">
        <h2>Step 1/6: Download and install Viblio</h2>
        <table width=100%>
            <tr>
                <td width='20%'>&nbsp;</td>
                <td>
                    <img src='css/images/tutorial/slide0.png'>
                </td>
                <td width='20%'>&nbsp;</td>
            </tr>
        </table>
        </div>

        <div class="slide">
        <h2>Step 2/6: Create your free Viblio account or log in</h2>
        <table width=100%><tr><td width='20%'>&nbsp;</td><td><img src='css/images/tutorial/slide1.png'></td><td width='20%'>&nbsp;</td></tr></table>
        </div>

        <div class="slide">
        <h2>Step 3/6: Viblio will look for videos on your computer</h2>
        <table width=100%><tr><td width='20%'>&nbsp;</td><td><img align='center' src='css/images/tutorial/slide2.png'></td><td width='20%'>&nbsp;</td></tr></table>
        </div>

        <div class="slide">
        <h2>Step 4/6: Select videos to upload to your Viblio</h2>
        <table width=100%><tr><td width='20%'>&nbsp;</td><td><img align='center' src='css/images/tutorial/slide3.png'></td><td width='20%'>&nbsp;</td></tr></table>
        </div>

        <div class="slide">
        <h2>Step 5/6: Uploading your videos</h2>
        <p class='font18'>
            Don't wait for us - Viblio will email you when your videos are ready.
        </p>
        <table width=100%><tr><td width='20%'>&nbsp;</td><td><img align='center' src='css/images/tutorial/slide4.png'></td><td width='20%'>&nbsp;</td></tr></table>
        </div>

        <div class="slide">
        <h2>Step 6/6: Rediscover your forgotten videos with Viblio</h2>

        <table width=100%><tr><td valign='top' width='50%'><p class='font18'>
            When you get your Viblio email, <a href='#login'>login to your Viblio web account</a> and rediscover all those videos you forgot you had!
        </p></td><td><img align='center' src='css/images/tutorial/slide5.png'></td></tr></table>
        </div>

    </div>
</div>