<div class="unnamed bottomBorder-Thin turquoiseBG" data-bind="visible: visible">
  <div class="pp-info-faces-wrapper">
    <p class="pp-faces-need-names whiteBG centered">These faces need names!</p>
    <div class="fx">
    <!-- ko foreach: faces -->
      <!-- ko compose: $data --><!-- /ko -->
    <!-- /ko -->
    <div class="clearfix"></div>
    </div>
  </div>
  <div class="buttons" style="text-align: center;">
  <button class="btn btn-small btn-white" data-bind="click: prevThree">
    <i class="icon-hand-left"></i>&nbsp;Prev
  </button>
  <button class="btn btn-small btn-primary" data-bind="click: manageAll">
    Manage All
  </button>
  <button class="btn btn-small btn-white" data-bind="click: nextThree">
    Next&nbsp;<i class="icon-hand-right"></i>
  </button>
  </div>
</div>
