<div id="videosof-page">
    <div class="pstrip bottomBorder-Thin">
        <!--<a class="shareButton btn pull-right" href="#" data-bind="click: showShareVidModal">
            <img src="css/images/share.png"/> Share this Page!
        </a>-->
        <img class="boxShadowed" data-bind="attr:{src:contactPhoto}" />
        <span class="textShadowed">Videos starring <span class="contact-name" data-bind="text: contactName"></span></span>
    </div>
    <div class="mainVidSection" data-bind="foreach: strips">
        <div data-bind="compose: $data"></div>
    </div>
</div>

