<div id="viewAlbum-page" class="albumView">
    <div class="pstrip bottomBorder-Thin turquoiseBG">
        <!-- ko if: ownedByViewer -->
        <a class="shareButton btn pull-right" href="#" data-bind="click: showShareAlbumModal">
            <img src="css/images/share.png"/> Share this Album!
        </a>
        <!-- /ko -->
        <!-- ko ifnot: ownedByViewer -->
        <div class="pull-right albumOwnerInfo" >
            <img class="boxShadowed marginR10" data-bind="attr:{src:ownerPhoto()}"/>
            <div class="font18 whiteText textShadowed">
                <span class="lightWeightFont">Album by </span><br><span class="heavyWeightFont" data-bind="text: ownerName"></span>
            </div>
        </div>
        <!-- /ko -->
        <img src="css/images/folderImage.png" />
        <!--<span class="textShadowed albumTitle" data-bind="text: albumTitle"></span>-->
        <div class="textShadowed albumTitle" data-bind="liveEditor: albumTitle">
            <div class="view heavyWeightFont" data-bind="click: albumTitle.edit, text: albumTitle() ? albumTitle() : 'Click to add album title', tooltip:{title:'Click to edit album title'}"></div>
            <div class="editAlbumTitle-Wrap">
                <input type="text" class="edit" data-bind="value: albumTitle, 
                                     hasFocus: albumTitle.editing, 
                                     event: { blur: function() { albumTitle.stopEditing(); albumTitle.save( null, this, 'album:name_changed' ); } }" />
            </div>  
        </div>
        <!-- ko if: ownedByViewer -->
        <span class='whiteText font20 textShadowed lightWeightFont albumSubTitle' data-bind="text: sharedWithDisplayname() ? ' - Shared with ' + sharedWithDisplayname() : '' "></span>
        <!-- /ko -->
        
    </div>
    
    <div class="mainVidSection">
        
        <!--<div class="hstrip bottomBorder-Thin" data-bind="slideVisible: showBOH() && boxOfficeHits().length > 0">
            <div>
                <p class="mainTitle marginL45 textShadowed whiteText" data-bind="html: title"></p>
                <span class="subtitle" data-bind="html: subtitle"></span>
            </div>-->
            
            <!--<div class="sd-scroll" data-bind="hscroller:{}">
                 ko foreach: boxOfficeHits 
                 ko compose: $data /ko
                /ko
            </div>
        </div>-->
        
        <div class="yir air clearfix">
            <div class="table">
                <!-- ko if: noVids && !loadingYears -->
                    <p class="mainTitle textShadowed">All videos have been removed from this Album.</p>
                    <a href="#albums" class="btn btn-primary marginT-20">Add videos to album &raquo;</a>
                <!-- /ko -->
                <!-- ko if: showAllVids() && allVids().length > 0 -->
                <p class="mainTitle textShadowed"><span data-bind="text: allVids().length"></span><span data-bind="text: allVids().length == 1 ? ' Video' : ' Videos'"></span> in this Album</p>
                <!-- /ko -->
                <!-- ko if: !showAllVids() && allVids().length > 0 -->
                    <p class="mainTitle textShadowed">All Videos from <span data-bind="text: selectedYear"></span> in this Album</p>
                <!-- /ko -->

                <!--<div class="albumYears" data-bind="highlightChange: years().length > 0">
                    <ul data-bind="foreach: years">
                        <li>
                            <span class="textShadowed font24 lightWeightFont" data-bind="click: $parent.yearSelected.bind( $data, $parent ), 
                                                                                        text: $data.label, 
                                                                                        css:{sel: $data.selected()}"></span>
                        </li>
                    </ul>
                </div>-->

                <!-- ko if: ownedByViewer() || vidsOwnedByViewerNum() > 0 && allVids().length > 0 -->
                    <button class="btn btn-small btn-secondary pull-right" data-bind="click: toggleEditMode, text: editLabel"></button>
                <!-- /ko -->    
            </div>
                                   
            <div class="viewAlbumInner clearfix">
                
                <div class="dates">
                    <div class="scroller">
                        <div class="wrapper textShadowed">
                            <!-- ko foreach: years -->
                            <div class="year">
                                <h1 data-bind="click: function(){ $parent.yearSelected( $data, $parent ); $parent.showAllVids(false); }, css:{sel: $data.selected() }">
                                    <span data-bind="text: $data.label"></span>
                                </h1>
                            </div>               
                            <!-- /ko -->
                            <div class="year">
                                <h1 data-bind="click: getAllVids, css:{sel: showAllVids()}">
                                    <span>All</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- ko if: showAllVids -->
                <div class='allAlbumVids' data-bind="highlightChange: allVids().length > 0">
                <!-- ko foreach: allVids -->
                <!-- ko compose: $data --><!--/ko-->
                <!--/ko-->    
                </div>
                <!-- /ko -->

                <!-- ko if: !showAllVids() &&  allVids().length > 0 -->
                <div class="a-content a-left-content" data-bind="highlightChange: months().length > 0">
                    <!-- ko foreach: months -->
                    <div class="month-heading textShadowed marginB10">
                        <span class="month-name heavyWeightFont font20" data-bind="text: $data.month"></span>
                        <span class="num-videos lightWeightFont font20" data-bind="text: '(' + $data.media().length + ( $data.media().length == 1 ? ' video)' : ' videos)' )"></span>
                    </div>
                    <div class="media-list allAlbumVids" data-bind="foreach: { data: $data.media, as: 'm' }">
                    <!-- ko compose: m --><!-- /ko -->
                    </div>
                    <div class="clearfix marginB20"></div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                
                <!-- ko if: loadingYears() -->
                    <div class="lightGreyFont mfLoader">
                        <i class="icon-spinner icon-5x icon-spin active"></i>
                        <p class='font18'>Loading...</p>
                    </div>
                <!-- /ko -->
                
            </div>
            
        </div>
    </div>
    
</div>

