<div id="webplayer-page">
  <div id="nplayer-page">
    <!--<div class="player"></div>-->
    
    <table id="main-table" data-bind="visible: showError() == false" >
        <tr>
            <td id="playerCommentsNavTable-Wrap">
                <table id="playerCommentsNavTable">
                    
                    <td id="left-arrow-column" data-bind="visible: showRelated()">
                        <div class="player-control lightBlueBG bottomBorder-Thin" id="left-arrow" data-bind="click: previousRelated, css: {disabled: disable_prev()}">
                            <img src="css/images/arrowLeft.png" />
                        </div>
                    </td>
                    
                    <td id="left-side" class="boxShadowed">
                        <div id="webPlayer-Wrap">
                            <!-- ko if: showPlayerOverlay() == true && showRelated() == false -->
                            <div id="videoOverlay" data-bind="click: hidePlayerOverlay">
                                <div class="paddedDiv bottomBorder-Thin">
                                    <div id="cloudImage"></div>
                                    <p class="landingHeaderTitle"><span>Add and </span>Share your Videos securely <span>from the cloud!</span></p>
                                    <a class="btn btn-blue" href="/getApp?from=web_player_overlay" data-bind="click: getApp, clickBubble: false">
                                        Get the App &raquo;
                                    </a>
                                </div>
                                <div class="button-Wrap">
                                    <button class="btn btn-primary" data-bind="click: playAgain, clickBubble: false">
                                        <i class="icon-repeat"></i>  Watch this Video again
                                    </button>
                                </div>
                            </div>
                            <!-- /ko -->
                            <div id="webPlayer" class="player"></div>
                        </div>
                        <table id="info-table">
                            <tr>
                                <td id="comment-column" class="babyBlueBG">
                                    <!-- ko if: title() || description()  -->
                                        <div id="title-desc">
                                            <h3 data-bind="text: title()"></h3>
                                            <p data-bind="text: description()"></p>
                                        </div>
                                    <!-- /ko -->
                                    <div id="comments">
                                        <!-- ko if: shareType() != 'public' && loggedIn() -->
                                            <div class="comments-header lightBlueFont">
                                                <div class="views pull-right">
                                                  <img src="css/images/viewsEye.png" />
                                                  <span data-bind="html: eyes()"></span>
                                                </div>
                                                <p class="todays-date pull-right">Today</p>
                                                <div class="observer">
                                                  <img class="boxShadowed" src="/services/na/avatar?uid=-&y=36" />
                                                </div>
                                                <p>by <span class="heavyWeightFont" data-bind="html: user().displayname"></span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="comment-editor" data-bind="liveEditor: usercomment">
                                                <p class="view vidDescription" data-bind="click: usercomment.edit, text:'Comment on this video...'"></p>
                                                <textarea class="edit editDescription" 
                                                          data-bind="value:usercomment,
                                                                   hasFocus: usercomment.editting,
                                                                   event: { blur: function() { usercomment.stopEditing(); usercomment.save(null, null, 'player:newcomment') } }"></textarea>
                                            </div>
                                        <!-- /ko -->
                                        <div class="all-comments">
                                            <p class="lightBlueFont" data-bind="visible: comments().length"><span data-bind="text: comments().length ==1 ? '1 Comment' : comments().length + ' Comments'"></span></p>
                                            <p class="lightBlueFont" data-bind="visible: !comments().length">There are no comments to display for this video.</p>
                                            <!-- ko foreach: comments -->
                                            <div class="comment" data-bind="if: comment.indexOf(' ') != -1 && comment != '' ">
                                                <p class="comment-text bottomBorder-Thin" data-bind="html: comment"></p>
                                                <div class="comment-footer lightBlueFont">
                                                    <p class="when pull-right" data-bind="text: when"></p>
                                                    <p>by&nbsp;<span class="who heavyWeightFont" data-bind="text: who"></span></p>
                                                </div>
                                            </div>
                                          <!-- /ko -->
                                        </div>
                                    </div>
                                </td>
                                
                                <td id="faces-column" class="lightBlueBG">
                                    <div class="darkBlueBG bottomBorder-Thin" id="faces">
                                        <span class="textShadowed" data-bind="text: finfo"></span>
                                        <ul class="clearfix playerfaces">
                                            <!-- ko foreach: faces -->
                                            <li data-bind="compose: $data"></li>
                                            <!-- /ko -->
                                            <li class="clearfix"></li>
                                        </ul>
                                    </div>
                                    
                                    <div id="geo">
                                        <div id="geo-title" class="textShadowed">
                                            <span data-bind="visible: isNear() != 'Find in map' "></span><span data-bind="text: isNear()"></span>
                                        </div>
                                        <div style="position: relative">
                                            <div id="geo-map" class="map boxShadowed" ></div>
                                        </div>
                                    </div>
                                </td>
                                
                            </tr>
                        </table><!-- info-table -->
                    </td>
                    
                    <td id="right-arrow-column" data-bind="visible: showRelated()">
                        <div class="player-control lightBlueBG bottomBorder-Thin" id="right-arrow" data-bind="click: nextRelated, css: {disabled: disable_next()}">
                            <img src="css/images/arrowRight.png" />
                        </div>
                    </td>
                    
                </table>
            </td>

           <td id="right-side" class="lightBlueBG bottomBorder-Thin" data-bind="visible: showRelated()">
                <div class="orangeBG bottomBorder-Thin" id="share-video-block">
                  <a class="shareButton btn" href="/#getApp?from=web_player_relatedButton">
                      <i class="icon-download icon-white"></i> Get the App
                  </a>
                </div>
                <div id="related-videos-block">
		    <span class="related-by pull-right">by...</span>
                    <p id="relatedVideosTitle" class="textShadowed">Related Videos</p>
                    <div class="media-area" data-bind="compose: related"></div>
		    
                </div>
            </td>
            
        </tr>
    </table><!-- main-table -->
    <div class="message" data-bind="visible: showMessage">
      <h2>Viblio Web Player</h2>
      <p>This content will be displayed until there is a video to be played.  If there
	is an error, this message will remain on the screen.
      </p>
    </div>
    <div class="alert alert-error" data-bind="visible: showError">
      <h4 data-bind="text: errorMessage"></h4>
      <p data-bind="text: errorDetail"></p>
    </div>
    <div data-bind="visible: showError">
      <div data-bind="if: loggedIn() == true">
	<a href="#home"   class="btn btn-primary" >Return to Viblio</a>
      </div>
      <div data-bind="if: loggedIn() == false">
	<a href="/signup/" class="btn btn-primary">Login or Signup</a>
      </div>
    </div>
  </div>
</div>
