<div class="web-player-error mocksWhiteBG">
  <div class="modal-header">
    <h3 data-bind="text: title"></h3>
  </div>
  <div class="modal-body">
    <p class="message" data-bind="text: message"></p>
  </div>
  <div class="modal-footer">
    <div data-bind="if: loggedIn">
      <a href="#home"   class="btn btn-primary" data-bind="click: close">Return to Viblio</a>
    </div>
    <div data-bind="ifnot: loggedIn">
      <a href="/#register" class="btn btn-primary"  data-bind="click: close">Login or Signup</a>
    </div>
  </div>
</div>
