<div class="whatWhoHow">
    <div class="orangeTitle">
        <h2 class="textShadowed">
            <a href="/#about?showWhat=true" data-bind="css: { current: showWhat }">What We Do</a> <span class="wwh-divider">|</span>
            <!--<a href="/#about?showWho=true" data-bind="css: { current: showWho }">Who We Are</a> <span class="wwh-divider">|</span>-->
            <a href="/#about?showHow=true" data-bind="css: { current: showHow }">How to Get in Touch</a> <span class="wwh-divider">|</span>
            <a href="/#about?showPrivacy=true" data-bind="css: { current: showPrivacy }">Privacy Matters</a>
        </h2>
    </div>

    <!-- ko if: showWhat -->
        <!--<div class="promo-player"></div>-->
        <div class='what mocksWhiteBG'>
            <div class="bottomBorder-Thick">
                <p>
                    A short while ago, a group of Silicon Valley "parentpreneurs" and "videologists" grew frustrated. While they
                    could capture fleeting moments on video with ease that was once unimaginable, they had no control over how
                    to find them again and who could see them. So they developed a platform to solve the problem. With VIBLIO,
                    you can easily tag your videos, store them in the cloud and create private groups and communities for sharing
                    life's best moments privately and as easy as browsing and buying through Amazon!
                </p>
                <br />
                <p>
                    VIBLIO uses proprietary technology, called Magic Tagging™, to automatically categorize your digital videos
                    by a person in the video, certain activities, date or location. The application makes it easy to filter through
                    videos in your VIBLIO library, and provides a private environment for you to share your videos to specific groups
                    and communities that you create.
                </p>
                <br />
                <p>
                    VIBLIO makes your digital memories more manageable. 
                </p>    
            </div>
        </div>
    <!-- /ko -->

    <!-- ko if: showWho -->   
        <!-- ko compose: whoWeAre --><!-- /ko -->
    <!-- /ko -->

    <!-- ko if: showHow -->
        <h3 class="centered textShadowed marginT50">Want to get in touch?  So do we!</h3>
        <div class="how mocksWhiteBG">
            <ul class="howFormTabs nav nav-tabs">
                <li id="support" data-bind="css: { 'active': selected() == 'support' }"><a href="#" data-bind="click: selectSupport"><i class='icon-envelope'></i> Contact Support</a></li>
                <li id="feedback" data-bind="css: { 'active': selected() == 'feedback' }"><a href="#" data-bind="click: selectFeedback"><i class='icon-lightbulb'></i> Give Feedback</a></li>
                <li id="media" data-bind="css: { 'active': selected() == 'media' }"><a href="#" data-bind="click: selectMedia"><i class='icon-question'></i> Media Inquiries</a></li>
            </ul>
            <form id="howForm" class="bottomBorder-Thick">
                <div class="centeredEl">
                    <label for="name">Name *required</label>
                    <input type="text" data-bind="value: name, valueUpdate: 'keyup'" 
                        name="name" class="text" id="how_name" 
                        placeholder="Enter your name" required />
                    <label for="email">Email *required</label>
                    <input type="email" data-bind="value: email, valueUpdate: 'keyup'" 
                        name="email" class="email" id="how_email" 
                        placeholder="Enter your email address" required />
                    <label for="website">Website</label>
                    <input type="text" data-bind="value: website, valueUpdate: 'keyup'" 
                        name="website" class="text" id="how_website" 
                        placeholder="Your website" />
                    <label for="comment">Comment *required</label>
                    <textarea id="comment" data-bind="value: comment, valueUpdate: 'keyup'" placeholder="Comment" required></textarea>
                    <button type="submit" class="btn btn-secondary btn-small" data-bind="click: send_comment, enable: formReady">Submit</button>
                </div>
            </form>
        </div>
    <!-- /ko -->
    
    <!-- ko if: showPrivacy -->   
        <h3 class="centered textShadowed marginT50">Privacy Matters to VIBLIO</h3>
        <div class='aboutPrivacy mocksWhiteBG'>
            <div class="bottomBorder-Thick">
                <p>
                    If you’re not worried about your privacy, there are no shortage of video sharing platforms that you can use.  YouTube is the most well-known and probably the best way to get your video message to as many people as possible.   Vimeo is well liked among professional and “prosumer” videographers who want to distribute their production video content.
                    But if you want a private place to manage all of your very personal videos, VIBLIO could be the space you’ve been searching for.  Here’s why:
                </p>
                <ol>
                    <li>
                        VIBLIO’s default setting is ‘private’.  Once your video is uploaded, only you can see it until you decide to take steps in VIBLIO to share it with someone.
                    </li>
                    <li>
                        VIBLIO doesn’t add advertising to your videos.  If you share your video privately through VIBLIO, your video isn’t plastered with ads for cars, fast food or insurance brokers.
                    </li>
                    <li>
                        VIBLIO doesn’t sell your data.  Your videos are very personal to you.  We don’t allow third parties to use information we receive from you about the content of your videos, or how or where they were taken.
                    </li>
                </ol>
                <p>We didn’t stop there.  We really spent some time thinking about how your data gets exposed.  We did things like the following.</p>
                <ol>
                    <li>
                        Sharing to social media sites.  If you post your video to Facebook or another social media site through VIBLIO, we remove the location data from the post.  If you named people in your video, we remove those names from the post too.  
                        We can’t control what additional information people post to your social media site, but we can control what information VIBLIO delivers with your post.
                    </li>
                    <li>
                        Sharing privately through VIBLIO.   When you share your video privately to another email address through VIBLIO, the person you share it with cannot re-share your video.  In that way, you can control the spread of your personal digital assets.
                    </li>
                    <li>
                        Deleting your videos.  Sometimes, you just don’t want a video ‘out there’ anymore.  If you have only shared your videos through your VIBLIO account, then deleting the video from your VIBLIO account automatically removes it from every location you shared it with.<br>  
                        <div class="inset">If you still want a copy of your video stored somewhere, download it first before deleting it from your VIBLIO account.</div>
                    </li>
                </ol>
                <p>
                    At VIBLIO, we know that our users worry about what other services do with their personal files.  So we work hard to help make it easy for you to manage your privacy while still being able to easily share and enjoy your videos whenever you want.
                </p>  
            </div>  
        </div>
    <!-- /ko -->
    
    <div class="vote">
        <a class="btn btn-blue vidLink centeredEl font20" href="https://viblio.com/s/ps/96337620-2CC9-11E4-82EF-5F778B55516E" target="blank">Learn More and See VIBLIO in Action!</a>
    </div>
    
    <!--<div class='vote mocksWhiteBG'>
        <form id='activityForm' class="bottomBorder-Thick">
            <h3 class="centered textShadowed">Vote on which activity we should add to our library to automatically tag in videos!</h3>
            <br />
            <label for="voteEmail">Email *required</label>
                    <input type="email" data-bind="value: voteEmail, valueUpdate: 'keyup'" 
                        name="voteEmail" class="email" id="vote_email" 
                        placeholder="Enter your email address" required /><br />
            <label for="activityList">Chosen Vote *required</label>
            <select name='activityList' form='activityForm' data-bind="value: chosenVote">
                <option class="opt-group-header">Choose...</option>
                <!-- ko foreach: options -->
                    <!--<option class="opt-group-header" disabled>---------------------------------------</option>
                    <option class="opt-group-header" data-bind="text: $data.name" disabled></option>
                    <option class="opt-group-header" disabled>---------------------------------------</option>
                    <!-- ko foreach: $data.list -->
                        <!--<option data-bind="text: $data, value: $data"></option>
                    <!-- /ko -->
                <!-- /ko -->
                <!--<option class="opt-group-header" disabled>---------------------------------------</option>
                <option value="other">Other</option>
            </select>
            
            <div data-bind="visible: chosenVote() == 'other' ">
                Please enter your suggestion: *required<br />
                <input type="text" data-bind="value: ownActivity, valueUpdate: 'keydown'" 
                        name="ownActivity" class="text" id="activityForm_ownActivity" 
                        placeholder="20 Characters max" maxLength="20"/>
                <span data-bind="text: ownActivityCharsLeft"></span> characters left
            </div>
            <br />            
            <button type="submit" class="btn btn-secondary btn-small" data-bind="click: send_vote, enable: activityFormReady">Submit</button>
        </form>       
    </div>-->
    
</div>
