<div class="whoWeAreProfile mocksWhiteBG clearfix bottomBorder-Thick">
    <div class='closeX btn btn-primary' data-bind="click: closeModal"><img src='css/images/closeX.png'/></div>
    <div class="teamMember-Wrap clearfix leftAligned">
        <div class="teamMember-image-Wrap">
            <div class="teamMember-image-innerWrap boxShadowed">
                <!-- ko if: profileData().imageName -->
                <img data-bind="attr: { src: 'css/images/whoWeAre/' + profileData().imageName}"/>
                <!-- /ko -->
            </div>
        </div>
        <div class="teamMember-info-Wrap textShadowed">
            <p class="font24" data-bind="text: profileData().name"></p>
            <p class="font18 lightWeightFont" data-bind="text: profileData().title"></p>
        </div>
    </div>
    <div class="teamMember-desc">
        <p data-bind="text: profileData().desc"></p>
    </div>
</div>