<div class="yir bottomBorder-Thin">
    
    <div class="yir-inner" data-bind="if: hits() <= 2">
        <div class="yirHeading-Wrap" data-bind="if: hasCID">
            <p class="mainTitle marginL45 textShadowed">Got any more videos of <span data-bind="text: name()"></span>?</p>
            <p class="marginL45 font18">We noticed there 
                <span data-bind="text: hits() == 1 ? 'is ' : ' are '"></span>only 
                <span data-bind="text: hits() == 1 ? 'one ' : ' two '"></span><span data-bind="text: hits() == 1 ? 'video ' : ' videos'"></span> of <span data-bind="text: name()"></span>. 
                If you have other videos starring <span data-bind="text: name()"></span>, why not add them to VIBLIO!
            </p>
            <button class="btn btn-primary marginL45" data-bind="click: goToUpload">Upload more videos &raquo;</button>
        </div>
        <div class="yirHeading-Wrap" data-bind="if: !hasCID()">
            <p class="mainTitle marginL45 textShadowed">Got any more videos?</p>
            <p class="marginL45 font18">We noticed you 
                <span data-bind="if: hits() == 0 ">don't have any videos yet</span>
                <span data-bind="if: hits() != 0 "><span data-bind="text: hits() == 1 ? 'only have one ' : 'only have two '"></span><span data-bind="text: hits() == 1 ? 'video ' : ' videos'"></span></span>. 
                If you have other videos, why not add them to VIBLIO!
            </p>
            <button class="btn btn-primary marginL45" data-bind="click: goToUpload">Upload more videos &raquo;</button>
        </div>
    </div>
    
    <div class="yir-inner" data-bind="if: hits() > 2">
        <div class="title">
            <span class="tomatoFont font18 textShadowed pull-right marginT15" data-bind="click: toggleEditMode, text: editLabel"></span>
            <div>
            <p class="mainTitle marginL45 textShadowed">Year in Review</p>
            <ul data-bind="foreach: years">
                <li>
                    <span class="textShadowed" data-bind="click: $parent.yearSelected.bind( $data, $parent ), 
                                     text: $data.label, 
                                     css:{sel: $data.selected()}"></span>
                </li>
            </ul>
            </div>
        </div>

        <div id="yirVidWrap">
            <div data-bind="highlightChange: shouldBeVisible()">
                <!-- ko foreach: months -->
                <div class="month-heading textShadowed">
                    <span class="month-name heavyWeightFont" data-bind="text: $data.month"></span>
                    <span class="num-videos" data-bind="text: '(' + $data.media().length + ( $data.media().length == 1 ? ' video)' : ' videos)' )"></span>
                </div>
                <div class="media-list" data-bind="foreach: { data: $data.media, as: 'm' }">
                  <!-- ko compose: m --><!-- /ko -->
                </div>
                <div class="clearfix"></div>
                <!-- /ko -->
            </div>
        </div>
    </div>
    
</div>
