<div class="your-videos">
  <!--<div class="nav-title">
    <p class="mainTitle textShadowed"  data-bind="text: title"></p>
  </div>-->
  <div class="nav-btns">
    <button class="btn" data-bind="css:{'btn-blue':last_selected() == 'yv-all', 'btn-white':last_selected() != 'yv-all' },
				   click: screen.bind( $data, 'All My Videos', 'yv-all' )">All My Videos</button>
    <button class="btn" data-bind="css:{'btn-blue':last_selected() == 'yv-createAlbum', 'btn-white':last_selected() != 'yv-createAlbum' },
				   click: screen.bind( $data, 'Create an Album', 'yv-createAlbum' )">Create an Album</button>
    <button class="btn" data-bind="css:{'btn-blue':last_selected() == 'yv-albums', 'btn-white':last_selected() != 'yv-albums' },
				   click: screen.bind( $data, 'My Albums', 'yv-albums' )">My Albums</button>
    <!--
    <button class="btn" data-bind="css:{'btn-blue':last_selected() == 'communities', 'btn-white':last_selected() != 'communities' },
				   click: screen.bind( $data, 'Communities You Belong To', 'communities' )">Communities</button>
    -->
  </div>
  <div class="containerxx">
    <!-- ko compose: view --><!-- /ko -->
  </div>
</div>
