<div class="allVidsPage">
    
    <div class="dates" data-bind="if: !showShared()">
        <div class="scroller">
            <div class="wrapper textShadowed">
                <!-- ko foreach: datesLabels -->
                <div class="year">
                    <h1 data-bind="click: $parent.monthSelected.bind( $data, $parent ), css:{sel: $data.selected()}">
                        <span data-bind="text: $data.shortMonth"></span> <span data-bind="text: $data.year"></span>
                    </h1>
                </div>
                <div class="year">
                    <h1 data-bind="click: $parent.monthSelected.bind( $data, $parent ), css:{sel: $data.selected()}">
                        <span data-bind="text: $data.shortMonth"></span> <span data-bind="text: $data.year"></span>
                    </h1>
                </div>
                <div class="year">
                    <h1 data-bind="click: $parent.monthSelected.bind( $data, $parent ), css:{sel: $data.selected()}">
                        <span data-bind="text: $data.shortMonth"></span> <span data-bind="text: $data.year"></span>
                    </h1>
                </div>
                <div class="year">
                    <h1 data-bind="click: $parent.monthSelected.bind( $data, $parent ), css:{sel: $data.selected()}">
                        <span data-bind="text: $data.shortMonth"></span> <span data-bind="text: $data.year"></span>
                    </h1>
                </div>
                <div class="year">
                    <h1 data-bind="click: $parent.monthSelected.bind( $data, $parent ), css:{sel: $data.selected()}">
                        <span data-bind="text: $data.shortMonth"></span> <span data-bind="text: $data.year"></span>
                    </h1>
                </div>
                <div class="year">
                    <h1 data-bind="click: $parent.monthSelected.bind( $data, $parent ), css:{sel: $data.selected()}">
                        <span data-bind="text: $data.shortMonth"></span> <span data-bind="text: $data.year"></span>
                    </h1>
                </div>
                <!-- /ko -->
                <div class="year">
                    <h1 data-bind="click: triggerTagVidsSearch, css:{sel: !aMonthIsSelected()}">
                        <span>All</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

  <div class="yv-secondary-nav">
    <!-- ko if: !showShared() -->
    <button class="btn btn-small btn-secondary" data-bind="click: add_videos"><i class="icon-plus"></i> Add...</button>
    <!-- /ko -->

    <!-- ko if: ( hits() > 0 && !showShared() ) || ( numVids() > 0 && showShared() ) -->
    <button class="btn btn-small btn-secondary" data-bind="click: toggleEditMode, css: { active: deleteModeOn() == true }, html: editLabel"></button>
    <!-- /ko -->

    <!-- ko if: !showShared() -->

    <div style="display: inline-block;" class="dropdown" data-bind="ifnot: isActiveFlag">
        <a class="btn btn-small btn-secondary dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-tags"></i> Tags (<span data-bind="text: currentlySelectedTag"></span>)</a>
        <ul class="dropdown-menu tags" role="menu">
          <li data-bind="click: showAllVideos">
              <a>
                  <div class="inline" data-bind="if: allVidsIsSelected()">
                      <i class="icon-check"></i>
                  </div>
                  <div class="inline" data-bind="ifnot: allVidsIsSelected()">
                      <i class="icon-unchecked"></i>
                  </div>
                  <div id="allVids" class="textShadowed inline" data-bind="css:{sel: allVidsIsSelected()}">All Videos</div>
              </a>
          </li>
          <li class="tagsScrollWrapper">
              <div class="scroller">
                  <div class="wrapper">
                      <ul class="tags-inner">
                        <!-- ko foreach: tags -->
                            <li data-bind="click: $parent.tagSelected.bind( $data, $parent ), clickBubble: false">
                                <a>
                                    <div class="inline" data-bind="if: $data.selected()">
                                        <i class="icon-check"></i>
                                    </div>
                                    <div class="inline" data-bind="ifnot: $data.selected()">
                                        <i class="icon-unchecked"></i>
                                    </div>
                                    <div class="inline tagLabel" data-bind="text: $data.label, css:{sel: $data.selected()}"></div>
                                </a>
                            </li>
                        <!-- /ko -->
                      </ul>    
                  </div>                  
              </div>
          </li>        
          <li class="btn btn-primary" data-bind="click: triggerTagVidsSearch">
              <div class="textShadowed inline">Confirm</div>
          </li>
        </ul>
    </div>
    <!-- /ko -->

    <!-- ko if: !name() -->
    <button class="btn btn-small btn-secondary" data-bind="click: function(data, event){ toggleShared(), $(event.target).toggleClass('active') }, html: sharedLabel"></button>
    <!-- /ko -->

  </div>

  <div class="table">
      <!-- ko if: !showShared() && !isActiveFlag() -->
                            
              <div style="display: block; text-align: center;" class="mainTitle textShadowed">
                You have <span data-bind="text: hits"></span>
                <span data-bind="text: hits() == 1 ? ' video ' : ' videos'"></span>
                <!-- ko if: !tagFilterIsActive() -->
                    <!-- ko if: !aMonthIsSelected() -->
                        <span data-bind="text: name() ? ' of ' + name() : '' "></span> in your private Viblio Library.
                    <!-- /ko -->
                    <!-- ko if: aMonthIsSelected() -->
                        <span data-bind="text: selectedMonth() == 'Missing dates' ? ' without dates ' : ' from ' + selectedMonth()"></span>.
                    <!-- /ko -->
                <!-- /ko -->
                
                <!-- ko if: tagFilterIsActive() -->
                    <span data-bind="text: name() ? ' of ' + name() : '' "></span> that <span data-bind="text: hits() == 1 ? 'matches' : 'match'"></span> your search criteria
                    <!-- ko if: !aMonthIsSelected() -->
                    .    
                    <!-- /ko -->
                    <!-- ko if: aMonthIsSelected() -->
                        <span data-bind="text: selectedMonth() == 'Missing dates' ? ' without dates ' : ' from ' + selectedMonth()"></span>.
                    <!-- /ko -->
                <!-- /ko -->
              </div>
               
      <!-- /ko -->

      <!-- ko if: showShared() && !isActiveFlag() -->
        <div style="display: block; text-align: center;" class="mainTitle textShadowed">
	  You have <span data-bind="text: numVids"></span>
          <!-- ko if: !name() -->
            <span data-bind="text: numVids() == 1 ? ' video that has ' : ' videos that have '"></span>
          <!-- /ko -->
          
          <!-- ko if: name() -->
            <span data-bind="text: numVids() == 1 ? ' video ' : ' videos '"></span>
            <span data-bind="text: name() ? ' of ' + name() : '' "></span>
            <span data-bind="text: numVids() == 1 ? ' that has ' : ' that have '"></span>
          <!-- /ko -->
          
          <span> been shared with you.</span>
	</div>
      <!-- /ko -->

      <div data-bind="if: hits() < 1 && !showShared() && !isActiveFlag()">
        <p class="font24 tomatoFont doubleSpaced">
	  C’mon!  Videos are the best way to capture those small moments that are your life!  
	  Go take a few and let us be the keeper of your videochron!
	</p>
      </div>

      <div data-bind="if: numVids() < 1 && showShared() && !isActiveFlag()">
        <p class="font24 tomatoFont doubleSpaced">
	  Want videos to show up here? The best way is to tell friends and family about Viblio!
	</p>
      </div>
    
  </div>
    
  <div class="table">
      
    <!-- ko if: !showShared() -->
        <div id="allVidsWrap">
            <!-- ko foreach: videos -->
                <!-- ko compose: $data --><!--/ko-->
            <!-- /ko -->
        </div>
    <!-- /ko -->

    <!-- ko if: numVids() > 0 && showShared() -->
        <div class="shared-page-wrap mainVidSection yir">
            <!-- ko foreach: sections -->
                <div class="month-heading textShadowed">
                    <img class="boxShadowed avatar" data-bind="attr:{src:$data.owner.avatar}" />
                    <span class="month-name heavyWeightFont" data-bind="text: $data.owner.displayname"></span>
                    <span class="num-videos" data-bind="text: '(' + $data.media().length + ( $data.media().length == 1 ? ' video)' : ' videos)' )"></span>
                </div>
                <div class="media-list" data-bind="foreach: { data: $data.media, as: 'm' }">
                    <!-- ko compose: m --><!-- /ko -->
                </div>
                <div class="clearfix"></div>
            <!-- /ko -->

            <!-- ko if: showShareBtn() -->
                <button class="btn btn-primary" data-bind="click: showLoggedOutTellFriendsModal">
                    Invite a friend to share &raquo;
                </button>
            <!-- /ko --> 
        </div>
    <!-- /ko -->

    <div class="" data-bind="if: currentlySelectedTag() == 'All' && allVidsIsSelected() && hits() <= 2 && !showShared() && !isActiveFlag()">
        <div class="yirHeading-Wrap" data-bind="if: !hasCID()">
            <p class="mainTitle textShadowed">Got any more videos?</p>
            <p class="font20 doubleSpaced">We noticed you 
                <span data-bind="if: hits() == 0 ">don't have any videos yet. </span>
                <span data-bind="if: hits() != 0 "><span data-bind="text: hits() == 1 ? 'only have one ' : 'only have two '"></span><span data-bind="text: hits() == 1 ? ' video. ' : ' videos. '"></span></span> 
                If you have videos you haven’t uploaded to your private VIBLIO library yet, take a moment to start uploading them now.
            </p>
            <button class="btn btn-primary" data-bind="click: add_videos">Upload more videos &raquo;</button>
        </div>
    </div> 
    
    <!-- ko if: isActiveFlag() -->
        <div id="allVidsWrap">
            <div class="mfLoader">
                <i class="icon-spinner icon-5x icon-spin active"></i>
                <p class='font18'>Loading...</p>
            </div>
        </div>
    <!-- /ko -->
    
  </div>
</div>
