<div class="allVidsPage">  
  <!-- ko if: searching() -->
    <div class="mfLoader">
      <i class="fa fa-spinner fa-5x fa-spin active"></i>
      <p class="font18">Loading...</p>
    </div>
  <!-- /ko -->

  <div data-bind="visible: media().length > 0">
    <div style="display: block; text-align: center;" class="mainTitle textShadowed">
      Most watched videos, sorted by view count
    </div>
    <div class="table">
      <div id="allVidsWrap">
	<!-- ko foreach: media -->
	<!-- ko compose: $data --><!--/ko-->
	<!-- /ko -->
      </div>
    </div>
  </div>

  <div data-bind="visible: searching()==false && media().length == 0">
    <p class="font24 tomatoFont doubleSpaced">
      Upload and share your videos with friends and family.  As they watch your videos, they
      become popular!
    </p>
  </div>  

</div>

