body {
    background-color: rgba(239,239,232,1);
    color: rgba(50,53,68,1);
    padding-top: 57px; /* match header height */
    font-family: 'Source Sans Pro', sans-serif;
}

#innerPadding {
    margin: 0;
}

input, button, select, textarea {
    font-family: 'Source Sans Pro', sans-serif;
}

textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: rgba(0,0,0,.3);
    height: 30px;
}

.btn {
    font-size: 17px;
    background: none;
    filter: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-repeat: no-repeat;
    border-color: transparent;
    border: none;
    color: white;
    height: 40px;
    -moz-text-shadow: 2px 2px rgba(0,0,0,.2);
    -webkit-text-shadow: 2px 2px rgba(0,0,0,.2);
    text-shadow: 2px 2px rgba(0,0,0,.2);
    border-bottom: 3px inset rgba(0,0,0,.2);
    padding: 5px 40px;
}

.btn-primary.disabled, .btn-primary[disabled] {
    color: white;
    background-color: rgba(239,85,65,1);
}

.btn-primary.disabled, .btn-primary[disabled]:hover {
    color: white;
    background-color: rgba(239,85,65,1);
}

.btn-primary {
    background-color: rgba(239,85,65,1);
}

.btn-primary:hover {
    background-color: rgba(239,85,65,.75);
}

.btn-secondary {
    background-color: rgba(179,179,179,1);
}

.btn-secondary:hover {
    background-color: rgba(179,179,179,.75);
    color: white;
}

.btn-blue {
    background-color: rgba(28,184,209,1);
}

.btn-blue:hover {
    background-color: rgba(28,184,209,.75);
    color: white;
}

/*********************  Utility Classes  ******************************/

.boxShadowed {
    -moz-box-shadow: 3px 3px 2px 1px rgba(0,0,0,.2); /* Firefox */
    -webkit-box-shadow: 3px 3px 2px 1px rgba(0,0,0,.2);
    box-shadow: 3px 3px 2px 1px rgba(0,0,0,.2);
}

.textShadowed {
    -moz-text-shadow: 2px 2px rgba(0,0,0,.2);
    -webkit-text-shadow: 2px 2px rgba(0,0,0,.2);
    text-shadow: 2px 2px rgba(0,0,0,.2);
}

.darkBlueBG {
    background-color: rgba(50,53,68,1);
}

.orangeBG {
    background-color: rgba(239,85,65,1);
}

.yellowBG {
    background-color: rgba(246,248,209,1);
    border: 1px solid lightgrey;
}

.lightBlueBG {
    background-color: #24b8d1;
}

.babyBlueBG {
    background-color: rgb(154, 241, 241);
}

/********************  Landing Page Header Section  *****************************/

#landing-header .navbar {
    height: 57px;
}

/********************  Login Page Section  *****************************/
#login-page {
    margin-top: 0;
}

#login-page .orangeBG {
    height: 46px;
}

.landingHeaderTitle {
    padding: 70px;
    font-size: 45px;
    color: white;
    margin: 0;
    text-align: center;
    border-bottom: 5px solid black;
    font-weight: 700;
}

.landingHeaderTitle span {
    font-weight: 200;
}

#login-page .content-Wrap {
    padding-top: 50px;
    width: 600px;
}

#loginArea form {
    margin-bottom: 0;
}

#fbBtn-Wrap {
    padding: 60px;
}

#facebookLoginBtn {
    display: block;
    background: none;
    filter: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-repeat: no-repeat;
    border-color: transparent;
    border: none;
    color: white;
    width: 340px;
    height: 65px;
    -moz-text-shadow: 2px 2px rgba(0,0,0,.2);
    -webkit-text-shadow: 2px 2px rgba(0,0,0,.2);
    text-shadow: 2px 2px rgba(0,0,0,.2);
    border-bottom: 3px inset rgba(0,0,0,.2);
    background-color: rgba(48,97,148,1);
    padding-top: 2px;
    font-size: 20px;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    cursor: pointer;
    position: relative;
}


#facebookLoginBtn img {
    margin: 0 41px 0 28px;
    border-right: 1px solid rgba(0,0,0,.3);
    padding: 21px 26px 19px 0;
    position: relative;
    top: -2px;
}

#facebookLoginBtn:hover {
    text-decoration: none;
}

#or-Wrap p {
    width: 40px;
    margin: 0 auto;
    background: white;
    border: none;
    padding: 0;
    position: relative;
    top: -12px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0,0,0,.6);
}

#loginArea form div {
    width: 100%;
    overflow: auto;
}

#loginArea form div input {
    display: block;
    width: 97%;
    margin-bottom: 22px;
}

#loginArea form a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin: 6px 0 20px;
    color: rgba(28,184,209,1);
    font-weight: 600;
}

#loginArea form {
    padding: 52px;
}

#loginArea form button {
    float: right;
    clear: both;
}

#noAccount h3 {
    display: inline-block;
}

#noAccount a {
    text-decoration: underline;
    font-size: 17px;
    margin: 24px 0 36px;
    float: right;
    clear: both;
}

#noAccount form {
    margin-bottom: 0;
}

#noAccount p {
    font-size: 24px;
    color: rgba(0,0,0,.5);
    margin: 10px 0 30px;
    font-weight: 600;
}

#noAccount input[type="email"] {
    width: 336px;
    margin-right: 9px;
}

#noAccount button {
    margin-bottom: 10px;
}

/******************** Forgot Password Page Section  *****************************/

#forgotPassword-Wrap .orangeBG {
    height: 46px;
}

#forgotPassword-Wrap .content-Wrap {
    margin-top: 46px;
    width: 600px;
}

#forgotPassword-Wrap .content-Wrap .paddedDiv:first-of-type {
    padding-top: 50px;
}

#forgotPassword-Wrap .content-Wrap .paddedDiv:nth-of-type(2) {
    padding-top: 40px;
}

#forgotPassword-Wrap .content-Wrap p {
    font-size: 18px;
    color: rgba(0,0,0,.5);
    margin-bottom: 24px;
}

#forgotPassword-Wrap .content-Wrap input[type="email"]{
    width: 97%
}

#forgotPassword-Wrap .content-Wrap button:first-of-type {
    margin-right: 10px;
}

/********************  Beta Reserved Modal Section  *****************************/

#betaReservedModal {
    width: 600px;
    position: relative;
    color: rgba(0,0,0,.5);
}

#betaReservedModal .closeX {
    width: 23px;
    height: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: -4px;
}

#betaReservedModal p {
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 0;
}

#shareIconList {
    margin: 0;
    margin-top: 10px;
}

#shareIconList li {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

#shareIconList li label {
    margin-bottom: -32px;
    font-size: 16px;
    color: rgba(0,0,0,.5);
    visibility: hidden;
}

#shareIconList li:hover > label {
    visibility: inherit;
}

#shareIconList li:last-of-type {
    vertical-align: top;
}

#shareIconList a {
    padding-top: 20px;
    display: block;
    font-size: 16px;
    color: rgba(0,0,0,.5);
}

.shareIcon {
    width: 65px;
    height: 65px;
    border-bottom: 3px inset rgba(0,0,0,.2);
    text-align: center;
    padding-top: 18px;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

.fb {
    background-color: rgba(48,97,148,1);
}

.twitter {
    background-color: rgba(40,168,224,1);
}

.gPlus {
    background-color: rgba(199,65,53,1);
}

.tumblr {
    background-color: rgba(56,87,118,1);
}


/********************  Home Page Section  *****************************/

#page-header .navbar {
    height: 57px;
    border-bottom: 3px solid black;
}

#page-header .navbar .nav > .active > a,
#page-header .navbar .nav > .active > a:hover,
#page-header .navbar .nav > .active > a:focus {
    background-color: rgba(28,184,209,1);
    border-bottom: 3px solid #137089;
}

#page-header .navbar .nav a {
    font-size: 18px;
}

#page-header .navbar img {
    height: 42px;
}

#page-header .navbar .nav > li > a {
    padding: 15px 30px;
}

.navbar .nav.pull-right.dropdown-toggle {
    padding: 0;
}

.mainVidSection {
    width: 100%;
    /*height: 392px;*/
    background-color: rgba(239,85,65,1);
}

.mainVidSection .title {
    margin-bottom: 25px;
}

/************************** hstrip *******************************/

.hstrip {
    padding: 35px 0 10px 45px;
}

.hstrip .title h2 {
    color: white;
    display: inline;
}

.hstrip .title .btn {
    margin-right: 35px;
}

.hstrip .title span {
    color: rgba(0,0,0,.5);
    margin-left: 10px;
}

.mainVidSection .portfolio {
    margin-bottom: 10px;
}

.mainVidSection .mediafile {
    width: 360px;
    margin-right: 25px;
}

.mainVidSection .mediafile img {
    width: 100%;
    height: 202px;
    border: none;
}

.mainVidSection .mediafile .information {
    width: 100%;
    height: 54px;
    background-color: white;
    padding: 17px 5px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

.mainVidSection .mplay-icon {
    left: 145px;
}

.mainVidSection .mplay-icon:hover {
    left: 145px;
}

.mainVidSection .mediafile .information .aux {
    background-color: rgba(211,246,253,1);
    width: 54px;
    height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    color: rgba(82,152,189,1);
}

.mediafile .information .title {
    color: rgba(64,66,79,.75);
}

/************************** fstrip *******************************/

.fstrip {
    padding: 35px 0 10px 45px;
    background-color: grey;
}

.fstrip .title h2 {
    color: white;
    display: inline;
}

.fstrip .title .btn {
    margin-left: 35px;
}

.fstrip .title span {
    color: rgba(0,0,0,.5);
    margin-left: 10px;
}

/************************** pstrip *******************************/

.pstrip {
    padding: 35px 0 10px 45px;
    background-color: #24b8d1;
}

.pstrip .title h2 {
    color: white;
    display: inline;
}

.pstrip .title span {
    color: rgba(0,0,0,.5);
    margin-left: 10px;
}

.mainVidSection .face {
    width: 175px;
    margin-right: 25px;
}

.mainVidSection .face img {
    width: 100%;
    height: 150px;
    border: none;
}

.mainVidSection .face .name {
    width: 100%;
    height: 54px;
    background-color: white;
    padding: 17px 5px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

.mainVidSection .face .information .aux {
    background-color: rgba(211,246,253,1);
    width: 54px;
    height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    color: rgba(82,152,189,1);
}

.face .information .title {
    color: rgba(64,66,79,.75);
}


/********************  Settings Page Section  *****************************/

#settings-page .content-Wrap {
    width: 600px;
    margin: 0 auto;
}

.mocksWhiteBG {
    background-color: white;
    border: 1px solid lightgrey;
}

.bottomBorder {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.bottomBorder-Thin {
    border-bottom: 4px inset rgba(0,0,0,.2);
}

.bottomBorder-Thick {
    border-bottom: 8px inset rgba(0,0,0,.1); 
}

.turquoiseBG {
    background-color: rgba(28,184,209,1);
}

.whiteText {
    color: white;
}

.mainLabel {
    margin-top: 0;
    margin-bottom: 22px;
    color: rgba(50,53,68,.6);
}

.paddedDiv {
    padding: 27px 50px 40px;
}

.content-Wrap > div {
    margin-bottom: 36px;
}

.title-Wrap {
    text-align: center;
    padding: 20px;
    margin-bottom: 48px;
}

.email-password label {
    font-size: 16px;
    font-weight: bold;
}

.email-password a {
    color: rgba(28,184,209,1);
    font-size: 16px;
    margin-top: 5px;
    display: block;
}

.email-password input {
    width: 332px;
}

#apic {
    width: 120px;
}

.avatar div {
    color: white;
    padding: 2px 0 4px 4px;
    width: 120px;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

